<HTML>
<HEAD><SCRIPT>window.onerror=function(){return true;}</SCRIPT>
<META content="text/html; charset=utf-8" http-equiv="Content-Type">


</HEAD>
<BODY>
<P><A href="/jeaf/usermanage/member/index.shtml" id="systemLink" target="_self" urn="siteId=-1&amp;applicationName=jeaf/usermanage&amp;pageName=memberIndex">我的申报</A></P>
<P><A id="pageLink" target="_blank" urn="siteId=-1&amp;linkTitle=项目申报链接">项目申报链接</A></P>
<P><A href="/cms/sitemanage/applicationSearch.shtml?applicationName=cms/onlineservice/accept&amp;pageName=acceptQuery" id="systemLink" target="_self" urn="siteId=-1&amp;applicationName=cms/onlineservice/accept&amp;pageName=acceptQuery">项目查询</A></P>
<P>我的申报列表：</P>
<P><A id="recordList" urn="recordListName=onlineServiceMyAccepts&amp;applicationName=cms/onlineservice/accept&amp;recordCount=10&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DrecordNumber%26amp;link%3Dtrue%26amp;insteadImageWidth%3D%26amp;insteadImageHeight%3D%26amp;insteadImageAlign%3Dabsmiddle&gt;%26lt;序号%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3Dmember%26amp;link%3Dtrue&gt;%26lt;申报人%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3DitemName%26amp;link%3Dtrue&gt;%26lt;办理事项名称%26gt;&lt;/A&gt;&amp;separatorMode=newLine&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;simpleMode=true&amp;emptyPrompt=无&amp;extendProperties=">&lt;我的申报&gt;</A></P>
</BODY></HTML>