<HTML>
<HEAD>
	<TITLE>系统登录</TITLE>
	<META content="text/html; charset=utf-8" http-equiv="Content-Type">
	<STYLE type="text/css">
		BODY {
			FONT-SIZE: 12px; FONT-FAMILY: 宋体
		}
		TD {
			FONT-SIZE: 12px; FONT-FAMILY: 宋体
		}
		INPUT {
			FONT-SIZE: 12px; FONT-FAMILY: 宋体
		}
	</STYLE>
</HEAD>
<BODY bgcolor="#5783ff" bottommargin="0" leftmargin="0" rightmargin="0"	style="overflow: auto" topmargin="0">
	<FORM action="applicationName=jeaf/usermanage" id="loginForm" style="border-right: #ffc0c0 1px dotted; border-top: #ffc0c0 1px dotted; margin: 0px; border-left: #ffc0c0 1px dotted; border-bottom: #ffc0c0 1px dotted"	title="用户登录">
		<TABLE border="0" cellpadding="0" cellspacing="0" height="400" width="100%">
			<TR>
				<TD align="center" valign="middle">
					<TABLE border="0" cellpadding="0" cellspacing="0" width="417">
						<TR>
							<TD background="{CONTEXTPATH}/jeaf/usermanage/template/internallogin/images/Login_Title.gif" height="22"></TD>
						</TR>
						<TR>
							<TD background="{CONTEXTPATH}/jeaf/usermanage/template/internallogin/images/Login_Img.jpg" height="84" ondblclick="document.getElementsByName('password')[0].value=document.getElementsByName('userName')[0].value;doLogin()"></TD>
						</TR>
						<TR>
							<TD background="{CONTEXTPATH}/jeaf/usermanage/template/internallogin/images/Login_Content.gif" height="116" valign="top">
								<TABLE border="0" cellpadding="0" cellspacing="0" height="82" id="table1" width="100%">
									<TBODY>
										<TR height="19">
											<TD width="85"></TD>
											<TD></TD>
										</TR>
										<TR height="20">
											<TD>&nbsp;&nbsp;&nbsp;用户名：</TD>
											<TD>
												<INPUT id="field" maxlength="18" name="userName" size="16" style="font-size: 12px; width: 244px; font-family: 宋体; height: 20px" title="用户名" type="text">
											</TD>
										</TR>
										<TR height="7">
											<TD></TD>
											<TD></TD>
										</TR>
										<TR height="20">
											<TD>&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;码：</TD>
											<TD>
												<INPUT id="field" name="password" style="font-size: 12px; width: 244px; height: 20px" title="密码" type="password">
											</TD>
										</TR>
										<TR height="16">
											<TD></TD>
											<TD></TD>
										</TR>
									</TBODY>
								</TABLE>
								<TABLE border="0" cellpadding="0" cellspacing="0" height="34" id="table2" width="100%">
									<TR>
										<TD valign="top" width="164"></TD>
										<TD valign="top" width="75">
											<INPUT id="button" style="width: 75px; height: 22px" tabindex="0" title="登录" type="button" value="确定"></TD>
										<TD width="6"></TD>
										<TD valign="top" width="75">
											<INPUT name="Reset" style="width: 75px; height: 22px" type="reset" value="取消"></TD>
										<TD>&nbsp;&nbsp;</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
						<TR>
							<TD background="{CONTEXTPATH}/jeaf/usermanage/template/internallogin/images/Login_Bottom.gif" height="2"></TD>
						</TR>
					</TABLE>
				</TD>
			</TR>
			<TR>
				<TD height="36" valign="middle">
					<DIV style="top: 30px; height: 36px; text-align: center">
						<a id="systemPrompt" urn="&lt;SPAN style=&quot;COLOR: white&quot;&gt;&amp;lt;提示信息&amp;gt;&lt;/SPAN&gt;">&lt;系统提示&gt;</a>
					</DIV>
				</TD>
			</TR>
		</TABLE>
	</FORM>
</BODY>
</HTML>