.tree, .tree td, .tree div {
	font-size:12px;
	font-family:宋体;
	line-height:20px;
}

/** 树 **/
.treeL {
	display:inline-block;
	background-image:url(../treeicons/tree_L.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}
.treeI {
	display:inline-block;
	background-image:url(../treeicons/tree_I.gif);
	background-repeat:repeat-y;
	padding-left:19px;
}
.treeB {
	display:inline-block;
	padding-left:19px;
}
.treeT {
	display:inline-block;
	background-image:url(../treeicons/tree_T.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}
.treeLPlus {
	display:inline-block;
	background-image:url(../treeicons/tree_Lplus.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}
.treeLMinus {
	display:inline-block;
	background-image:url(../treeicons/tree_Lminus.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}
.treeTPlus {
	display:inline-block;
	background-image:url(../treeicons/tree_Tplus.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}
.treeTMinus {
	display:inline-block;
	background-image:url(../treeicons/tree_Tminus.gif);
	background-repeat:no-repeat;
	width:19px;
	height:20px;
}

/** 展开时根节点图片 **/
.rootImgExpand {
	display:inline-block;
	background-image:url(../treeicons/root.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:18px;
	height:20px;
}
/** 折叠时根节点图片 **/
.rootImgCollapse {
	display:inline-block;
	background-image:url(../treeicons/root.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:18px;
	height:20px;
}

/** 展开时节点的图片等样式 **/
.nodeImgExpand {
	display:inline-block;
	background-image:url(../treeicons/node_expand.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:18px;
	height:20px;
}
/** 折叠时节点的图片等样式 **/
.nodeImgCollapse {
	display:inline-block;
	background-image:url(../treeicons/node_collapse.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:18px;
	height:20px;
}

/** 节点文字的样式 **/
.nodeText {
	line-height:12px;
	cursor: pointer;
	border-style: none;
	background-color:transparent;
	padding: 4px 4px 4px 4px;
	word-break:keep-all;
}
/** 选中时节点文字样式 **/
.nodeTextSelected {
	line-height:12px;
	cursor: pointer;
	border: gray 1px solid;
	background-color:#f0f0f0;
	padding: 2px 3px 2px 3px;
	word-break:keep-all;
}