<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- PORTLET容器 -->
	<bean id="portletContainer" class="com.yuanluesoft.portal.container.service.spring.PortletContainerImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="portletDefinitionService"><ref bean="portletDefinitionService"/></property>
		<property name="siteService"><ref bean="siteService"/></property>
		<property name="orgService"><ref bean="orgService"/></property>
		<property name="portletCache"><ref bean="portletCache"/></property>
		<property name="wsrpConsumers">
			<list>
				<!-- ref bean="localWSRPConsumer"/ -->
			</list>
		</property>
	</bean>
	
	<!-- 本地WSRP消费者 -->
	<bean id="localWSRPConsumer" class="com.yuanluesoft.portal.wsrp.consumer.WSRPConsumer" destroy-method="destroy">
		<property name="wsrpProducerId"><value>local</value></property>
		<property name="wsrpMarkupURL"><value>http://127.0.0.1/cms/services/WSRPBaseService</value></property>
		<property name="wsrpPortletManagementURL"><value>http://127.0.0.1/cms/services/WSRPPortletManagementService</value></property>
		<property name="wsrpRegistrationURL"><value>http://127.0.0.1/cms/services/WSRPRegistrationService</value></property>
		<property name="wsrpServiceDescriptionURL"><value>http://127.0.0.1/cms/services/WSRPServiceDescriptionService</value></property>
	</bean>
	
	<!-- WSRP生产者 -->
	<bean id="wsrpProducer" class="com.yuanluesoft.portal.wsrp.producer.WSRPProducer">
		<property name="portletContainer"><ref bean="portletContainer"/></property>
		<property name="portletDefinitionService"><ref bean="portletDefinitionService"/></property>
		<property name="sessionService"><ref bean="sessionService"/></property>
	</bean>

	<!-- PORTAL定义服务 -->
	<bean id="portletDefinitionService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.portal.container.service.spring.PortletDefinitionServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="portletDefinitionCache"><ref bean="portletDefinitionCache"/></property>
				<property name="eaiClient"><ref bean="eaiClient"/></property>
				<property name="portletDefinitionParser"><ref bean="portletDefinitionParser"/></property>
				<property name="portletContainer"><ref bean="portletContainer"/></property>
				<property name="recordControlService"><ref bean="recordControlService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- PORTAL定义解析器 -->
	<bean id="portletDefinitionParser" class="com.yuanluesoft.portal.container.parser.dom4j.PortletDefinitionParserImpl"/>
	
	<!-- PORTLET模板服务 -->
	<bean id="portletTemplateService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.portal.container.service.spring.PortletTemplateServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="siteTemplateThemeService"><ref bean="siteTemplateThemeServiceImpl"/></property>
				<property name="pageDefineService"><ref bean="pageDefineService"/></property>
				<property name="templatePath"><ref bean="tempatePath"/></property>
				<property name="templateUrl"><ref bean="tempateUrl"/></property>
				<property name="fileDownloadService"><ref bean="fileDownloadService"/></property>
				<property name="htmlParser"><ref bean="htmlParser"/></property>
				<property name="cache"><ref bean="templateCache"/></property>
				<property name="staticPageBuilder"><ref bean="staticPageBuilder"/></property>
				<property name="templateAttachmentService"><ref bean="templateAttachmentService"/></property>
				<property name="exchangeClient"><ref bean="exchangeClient"/></property>
				<property name="portletDefinitionService"><ref bean="portletDefinitionService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="setDefaultTemplate">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="restore*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="loadNormalTemplate">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="copy*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="upload*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="batch*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- PORTAL服务 -->
	<bean id="portalService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.portal.server.service.spring.PortalServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="portalParser"><ref bean="portalParser"/></property>
				<property name="portletContainer"><ref bean="portletContainer"/></property>
				<property name="portletDefinitionService"><ref bean="portletDefinitionService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="loadPortal">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="edit*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="move*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="minimize*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="restore*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="remove*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="select*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>

	<!-- PORTAL解析器 -->
	<bean id="portalParser" class="com.yuanluesoft.portal.server.parser.dom4j.PortalParserImpl"/>
	
	<!-- PORTAL页面服务 -->
	<bean id="portalPageService" class="com.yuanluesoft.portal.server.pages.PortalPageService">
		<property name="pageBuilder"><ref bean="pageBuilder"/></property>
		<property name="staticPageBuilder"><ref bean="staticPageBuilder"/></property>
		<property name="pageDefineService"><ref bean="pageDefineService"/></property>
		<property name="templateService"><ref bean="templateService"/></property>
		<property name="htmlParser"><ref bean="htmlParser"/></property>
		<property name="portalService"><ref bean="portalService"/></property>
		<property name="portletContainer"><ref bean="portletContainer"/></property>
	</bean>
	
	<!-- PORTAL页面列表处理器 -->
	<bean id="portalPagesProcessor" class="com.yuanluesoft.portal.server.processor.PortalPagesProcessor">
		<property name="formDefineService"><ref bean="formDefineService"/></property>
		<property name="pageBuilder"><ref bean="pageBuilder"/></property>
		<property name="pageDefineService"><ref bean="pageDefineService"/></property>
	</bean>
</beans>