<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- ISO目录服务 -->
	<bean id="isoDirectoryService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target"><ref bean="isoDirectoryServiceImpl"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_NEVER,-Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="init*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="after*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="process*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
			</props>
		</property>
	</bean>
	<bean id="isoDirectoryServiceImpl" class="com.yuanluesoft.enterprise.iso.service.spring.IsoDirectoryServiceImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="isoDocumentService"><ref bean="isoDocumentServiceImpl"/></property>
	</bean>
	
	<!-- ISO文档服务 -->
	<bean id="isoDocumentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target"><ref bean="isoDocumentServiceImpl"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="complete*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	<bean id="isoDocumentServiceImpl" class="com.yuanluesoft.enterprise.iso.service.spring.IsoDocumentServiceImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="attachmentService"><ref bean="attachmentService"/></property>
		<property name="isoDirectoryService"><ref bean="isoDirectoryServiceImpl"/></property>
		<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
		<property name="numerationService"><ref bean="numerationService"/></property>
		<property name="versionInitialValue"><value>1.0</value></property>
		<property name="versionIncrement"><value>0</value></property> <!-- 0.1 -->
	</bean>
</beans>