/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, button{padding:0; margin:0;}
body{font-size:12px;font-family:微软雅黑; background:url(/cms/cms/templates/290362983835070000/images/body-bg.jpg) repeat-x left top #fff; }
table, td, tr, th{font-size:12px}
div, form, ul, ol, li, span, p{margin:0; padding:0; border:0}
img, a img{ border:0; margin:0; padding:0; vertical-align:top;}
h1, h2, h3, h4, h5, h6, strong{ margin:0; padding:0;}
ul, li, ol{ list-style:none; font-size:12px;}
.clear{clear:both; overflow:hidden;height:0;}
a:link{ color:#2b2b2b; text-decoration:none}
a:visited{ color:#2b2b2b; text-decoration:none}
a:hover{ color:#ff0000; text-decoration:none;}
a:active{ color:#ff0000}
input{padding:0;margin:0;}

#wrapper{ width:1208px; padding-right:8px; margin:0 auto; background:url(/cms/cms/templates/290362983835070000/images/left-bg.jpg) repeat-y left top; }

/* left */

.left{ float:left; width:192px; padding:0 8px; background:url(/cms/cms/templates/290362983835070000/images/left-top.jpg) no-repeat left top;min-height:980px;_height:980px;}

.left-top{ text-align:center; padding-top:24px;}

.tx{ height:87px; background:url(/cms/cms/templates/290362983835070000/images/tx.jpg) no-repeat center top;}

.name{ line-height:26px; font-size:14px; color:#fff; padding-top:16px;}
.name a:link,.name a:visited{color:#fff;}
.name a:hover{ text-decoration:underline;}

.name01{ font-size:16px; color:#fdff40;}
.name01 a:link,.name01 a:visited{ color:#fdff40;}

.left-02{ padding:10px 18px 11px 16px;}
.left-02 li{ height:26px; line-height:26px; margin-bottom:10px; padding-left:56px;}
.xgmm{ background:url(/cms/cms/templates/290362983835070000/images/xgmm.jpg) no-repeat left top;}
.aqtc{ background:url(/cms/cms/templates/290362983835070000/images/aqtc.jpg) no-repeat left top;}

.left-03{ padding:0 13px;}
.left-03 li{ height:67px; line-height:64px; text-align:center; background:url(/cms/cms/templates/290362983835070000/images/left-icon.jpg) no-repeat left top; font-size:18px; margin-bottom:2px;}

/* right */
.right{ float:right; width:982px; }

.time{ float:right; width:278px; margin-top:19px; height:58px; line-height:58px;}
.time-left{ float:left; width:134px; font-size:14px;}

.time-right{ float:right; width:144px;}
.time-right span{ display:inline-block; float:left; width:58px; margin-left:14px; text-align:center; font-size:30px; color:#fff; background:url(/cms/cms/templates/290362983835070000/images/time.jpg) no-repeat left top;}

.cx-wrapper{ margin-top:37px; border-bottom:1px solid #cfcfcf; }

.cx-top{height:33px;}
.cx-title{ float:left; background:url(/cms/cms/templates/290362983835070000/images/icon-1.jpg) no-repeat left center; font-size:16px; color:#e22a0c; padding-left:23px;}
.cx-right{ float:right; height:33px; font-size:14px; line-height:33px; background:url(/cms/cms/templates/290362983835070000/images/cx-bg.jpg) no-repeat left top #19b1e2; }
.cx-right a{  display:inline-block; height:33px; background:url(/cms/cms/templates/290362983835070000/images/icon-2.jpg) no-repeat 38px 9px; padding:0 27px 0 64px;}
.cx-right a:link,.cx-right a:visited{color:#fff;}

.cx-table{ padding:12px 0 19px 33px; margin-right:-3px; }
.cx-table td,.cx-table .form{font-size:14px;}
.table-input{ height:29px; border:1px solid #e4e4e4; width:100%; background:#fff; line-height:29px;}

.right-theme{ margin-top:11px; height:39px; background:#1ea2d2;  }
.theme01{ float:left; font-size:14px; color:#fff;line-height:39px; height:39px;text-align:center; width:91px;}


.list-wrapper{ padding-bottom:140px;}
.right-list{ height:76px;  border-bottom:1px solid #d6d6d6;}

.list01{font-size:14px; text-align:center;}
.list02{ line-height:20px;}
.list03{ font-size:12px;}

.list04 a:link,.list04 a:visited{ color:#e11010;}
.list04 a:hover{ text-decoration:underline;}