<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 监察服务 -->
	<bean id="monitorService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.cms.monitor.service.spring.MonitorServiceImpl" init-method="init">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="cryptService"><ref bean="cryptService"/></property>
				<property name="orgService"><ref bean="orgService"/></property>
				<property name="timetableService"><ref bean="timetableService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="getSN">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="processCaptureRequest">PROPAGATION_NEVER,-Exception</prop>
				<prop key="onWorkDayChanged">PROPAGATION_NEVER,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 监察视图服务 -->
	<bean id="monitorViewService" class="com.yuanluesoft.cms.monitor.service.spring.MonitorViewServiceImpl">
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="eaiClient"><ref bean="eaiClient"/></property>
		<property name="viewCustomizeService"><ref bean="viewCustomizeService"/></property>
		<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
		<property name="orgService"><ref bean="orgService"/></property>
		<property name="viewDefineService"><ref bean="viewDefineService"/></property>
	</bean>
	
	<!-- 监察统计视图服务 -->
	<bean id="monitorStatViewService" class="com.yuanluesoft.cms.monitor.service.spring.MonitorStatViewServiceImpl">
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="eaiClient"><ref bean="eaiClient"/></property>
		<property name="viewCustomizeService"><ref bean="viewCustomizeService"/></property>
		<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
		<property name="orgService"><ref bean="orgService"/></property>
	</bean>
</beans>