<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Excel导入服务 -->
	<bean id="licenseImportServiceImpl" class="com.yuanluesoft.credit.enterprisecredit.license.service.spring.LicenseImportServiceImpl">
		<property name="databaseService"><ref bean="databaseService" /></property>
		<property name="businessDefineService"><ref bean="businessDefineService" /></property>
		<property name="attachmentService"><ref bean="attachmentService" /></property>
	</bean>
	<!-- Excel导入服务 -->
	<bean id="municipalImportServiceImpl" class="com.yuanluesoft.credit.enterprisecredit.municipal.service.spring.MunicipalImportServiceImpl">
		<property name="databaseService"><ref bean="databaseService" /></property>
		<property name="businessDefineService"><ref bean="businessDefineService" /></property>
		<property name="attachmentService"><ref bean="attachmentService" /></property>
	</bean>
	
</beans>