<HTML>
    <HEAD>
        <META content="text/html; charset=utf-8" http-equiv="Content-Type">
        <STYLE type="text/css">
		.shortcut {
			background-image: url({CONTEXTPATH}/jeaf/usermanage/template/portlet/shortcuts/images/square_dot_blue.gif); 
			padding: 5px 3px 5px 16px;
			background-repeat: no-repeat;
			background-position: 3px center;
			display: block;
		}
	</STYLE>
    </HEAD>
    <BODY>
        <A class="shortcut" id="viewAction" target="_blank" urn="applicationName=cms/infopublic&amp;viewName=admin/todoPublicInfo&amp;title=添加信息">添加信息</A>
        <A class="shortcut" id="viewAction" target="_blank" urn="applicationName=cms/sitemanage&amp;viewName=admin/todo&amp;title=添加文章">添加文章</A>
        <A class="shortcut" id="viewAction" target="_blank" urn="applicationName=cms/sitemanage&amp;viewName=admin/todo&amp;title=添加链接">添加链接</A>
        <A class="shortcut" href="{CONTEXTPATH}/jeaf/res/plugin.exe" target="_blank">插件下载</A>
	</BODY>
</HTML>