<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 支付服务 -->
	<bean id="bocbankPaymentMethodService" class="com.yuanluesoft.jeaf.payment.paymentmethod.bocbank.service.spring.BocbankPaymentMethodService">
		<property name="databaseService"><ref bean="databaseService"/></property>
	</bean>
</beans>