<HTML>
<HEAD><SCRIPT>window.onerror=function(){return true;}</SCRIPT>
<META content="text/html; charset=utf-8" http-equiv="Content-Type">

</HEAD>
<BODY><A id="recordList" urn="recordListName=processingInquiryAndQuestionnaires&amp;applicationName=cms/inquiry&amp;recordCount=10&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3Dsubject%26amp;link%3Dtrue&gt;%26lt;主题%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3Ddescription%26amp;link%3Dtrue&gt;%26lt;说明%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3DendTime%26amp;link%3Dtrue%26amp;fieldFormat%3Dyyyy-MM-dd&gt;%26lt;调查截止时间%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3DisAnonymous%26amp;link%3Dtrue%26amp;insteadImageWidth%3D%26amp;insteadImageHeight%3D%26amp;insteadImageAlign%3Dabsmiddle&gt;%26lt;是否匿名投票%26gt;&lt;/A&gt;&amp;separatorMode=newLine&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;simpleMode=true&amp;emptyPrompt=&amp;extendProperties=">&lt;调查与问卷(调查中)&gt;</A>
</BODY></HTML>