<form id="supervision" class="form" title="表单:效能监督" action="applicationName=cms/supervision" style="border-bottom: #ffc0c0 1px dotted; border-left: #ffc0c0 1px dotted; margin: 0px; border-top: #ffc0c0 1px dotted; border-right: #ffc0c0 1px dotted">
<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>
<table class="editabledTable">
	<colgroup><col align="right" /><col width="50%" /><col align="right" /><col width="50%" /></colgroup>
	<tr>
		<td>主题：</td>
		<td colspan="3"><input class="field required" id="field" title="主题" name="subject" type="text" /></td>
	</tr>
	<tr>
		<td>编号：</td>
		<td colspan="3" style="color: #ff0000"><span id="hiddenField" title="sn" style="font-size: 12px; color: #000000; font-family: 宋体">&lt;编号&gt;</span> (提示:输入编号和查询密码可以查询办理情况)</td>
	</tr>
	<tr>
		<td>查询密码：</td>
		<td><input class="field required" id="field" title="查询密码" name="queryPassword" type="text" /></td>
		<td nowrap="nowrap">&nbsp;是否允许公开：</td>
		<td><span id="fieldSpan" title="是否允许公开"><input id="field" type="radio" name="isPublic" value="1" checked="checked"/>&nbsp;允许&nbsp;<input id="field" type="radio" name="isPublic" value="0" />&nbsp;禁止</span></td>
	</tr>
	<tr>
		<td nowrap="nowrap">被监督单位：</td>
		<td colspan="3"><input class="field" id="field" title="被监督单位" name="unit" type="text" /></td>
	</tr>
	<tr>
		<td valign="top">详细说明：</td>
		<td colspan="3"><textarea class="field" id="field" title="正文" style="height: 120px" name="content"></textarea></td>
	</tr>
	<tr>
		<td>附件：</td>
		<td colspan="3"><input class="field" id="field" title="附件" name="attachment" type="text" /></td>
	</tr>
	<tr>
		<td>您的姓名：</td>
		<td><input class="field required" id="field" title="姓名" name="creator" type="text" /></td>
		<td>邮箱：</td>
		<td><input class="field" id="field" title="邮箱" name="creatorMail" type="text" /></td>
	</tr>
	<tr>
		<td>联系电话：</td>
		<td><input class="field" id="field" title="联系电话" name="creatorTel" type="text" /></td>
		<td>传真：</td>
		<td><input class="field" id="field" title="传真" name="creatorFax" type="text" /></td>
	</tr>
	<tr>
		<td>手机：</td>
		<td><input class="field required" id="field" title="手机" name="creatorMobile" type="text" /></td>
	</tr>
	<tr>
		<td>所在单位：</td>
		<td><input class="field required" id="field" title="所在单位" name="creatorUnit" type="text" /></td>
		<td>职业：</td>
		<td><input class="field required" id="field" title="职业" name="creatorJob" type="text" /></td>
	</tr>
	<tr>
		<td valign="bottom" nowrap="nowrap">验证码：</td>
		<td colspan="3"><img id="validateCodeImage" title="验证码" alt="" src="{CONTEXTPATH}/jeaf/validatecode/generateValidateCodeImage.shtml" /> <a onclick="document.getElementById('validateCodeImage').src=document.getElementById('validateCodeImage').src.split('?')[0] + '?reload=true&amp;seq=' + Math.random();return false;" href="#">看不清，换一张</a> </td>
	</tr>
	<tr>
		<td nowrap="nowrap">输入验证码：</td>
		<td colspan="3"><input class="field" name="validateCode" type="text" /></td>
	</tr>
	<tr>
		<td nowrap="nowrap"></td>
		<td align="center" colspan="3"><br />
		<input class="submitButton" id="button" title="提交" tabindex="0" type="button" value="提交" /></td>
	</tr>
</table>
</form>