.promptImage { /*消息提示图标*/
	width: 50px;
	height: 43px;
	background-image: url(../img/warn.gif);
	background-repeat: no-repeat;
}
.promptText { /*消息提示内容*/
	font-family: 宋体;
	font-size: 12px;
	color: #ff0000;
}