<form id="message" class="form" title="表单:留言" action="applicationName=cms/messageboard" style="border-bottom: #ffc0c0 1px dotted; border-left: #ffc0c0 1px dotted; margin: 0px; border-top: #ffc0c0 1px dotted; border-right: #ffc0c0 1px dotted">
    <span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span> <br />
    <br />
    常见问题库中有相似的问题，具体内容如下：<br />
    <br />
    <table class="editabledTable">
        <colgroup><col align="right" /><col width="100%" /></colgroup>
        <tbody>
            <tr>
                <td nowrap="nowrap">问题：</td>
                <td><span id="readonlyField" title="faqQuestion" style="font-family: 宋体; color: #000000; font-size: 12px">&lt;常见问题&gt;</span></td>
            </tr>
            <tr>
                <td valign="top" nowrap="nowrap">解答：</td>
                <td><span id="readonlyField" title="faqAnswer" style="font-family: 宋体; color: #000000; font-size: 12px">&lt;常见问题解答&gt;</span></td>
            </tr>
            <tr>
                <td nowrap="nowrap"></td>
                <td align="center"><br />
                <input id="button" class="submitButton" title="继续提交" tabindex="0" type="button" value="继续提交" /></td>
            </tr>
        </tbody>
    </table>
</form>