<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
<form title="表单:导线测量:一般测量" class="form" id="traverseNormal" style="width: 100%; height: 100%;" action="applicationName=enterprise/roaddesign">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div id="titleBar" class="titleBar">
				<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				<div tabindex="0" title="计算" class="button" id="button">计算</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
		<div title="内容区域" id="contentArea">
			<table width="100%" class="editabledTable">
				<tr>
					<td align="right" nowrap="">测站名&nbsp;</td>
					<td width="100%"><input name="surveyStation" title="测站名" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">后视测站&nbsp;</td>
					<td><input name="backsightSurveyStation" title="后视测站" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">水平角&nbsp;</td>
					<td><input name="horizontalAngle" title="水平角" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">水平距离&nbsp;</td>
					<td><input name="horizontalDistance" title="水平距离" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">后高度值&nbsp;</td>
					<td><input name="backHeight" title="后高度值" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">后镜高&nbsp;</td>
					<td><input name="backMirrorHeight" title="后镜高" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">前高度值&nbsp;</td>
					<td><input name="frontHeight" title="前高度值" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">前镜高&nbsp;</td>
					<td><input name="frontMirrorHeight" title="前镜高" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">导线点&nbsp;</td>
					<td><input name="traverseName" title="导线点" class="field" id="field" type="text"></td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>
</form>
</body>
</html>