body, table, div {
	font-size:12px;
	font-family:ו;
	line-height:normal; 
	color: #ffffff;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}

#header {
	background-image:url(../image/bg.gif);
	background-repeat:repeat-x;
	text-align:center;
	color:#FFFFFF;
}

#header .inside {
	height:56px;
	background:url(../image/bg_1.gif);
	background-position:top;
	background-repeat:no-repeat;
	text-align:center;
}

#header .inside .title {
	height:56px;
	width: 210px;
	background:url(../image/admin.gif);
	background-position:top;
	background-repeat:no-repeat;
	text-align:center;
}