body {margin:0;text-align:left;color:#4D5057;font:normal 12px "",Tahoma,Arial,Verdana;white-space:normal;line-height:150%;}
td{font-family:"";font-size:12px;}
A{color:#0066FF;text-decoration: none;}
A:hover{color:#FF6600}

.t1 {color:#FFF;font-weight:bold;font-size: 14px;}
a.t1:hover {color: #000; text-decoration: none}

.STYLE1{color:#FE4800; font-family:"", Arial, Helvetica, sans-serif}

.STYLE2{text-decoration: none;color: #6CC4EC;line-height:130%;text-decoration:underline}
.STYLE2:hover,.STYLE2:active{color:#000; line-height:130%; text-decoration:underline}

.STYLE3{text-decoration: none;color: #0D930E;line-height:130%;text-decoration:underline}
.STYLE3:hover,.STYLE3:active{color:#000000; line-height:130%; text-decoration:underline}

.STYLE4{color:#2D3743; font-size:14px;}
.STYLE4:hover,.STYLE4:active{color:#FFF;line-height:130%;font-weight: bold;text-decoration: none;}

.STYLE5{color:#FF6600; font-size:12px;}
.STYLE5:hover,.STYLE5:active{color:#0066FF;}

.STYLE6{color:#4D5057; font-size:12px;}
.STYLE6:hover,.STYLE6:active{color:#0066FF;}

.STYLE7{color:#1F78A0; font-weight:bold; font-size:14px;}
.STYLE7:hover,.STYLE7:active{color:#1F78A0;}

.STYLE8{color:#0066ff; font-weight:bold; font-size:12px;}
.STYLE8:hover,.STYLE8:active{color:#FF6600;}

.STYLE9{color:#4D5057; font-weight:bold; font-size:12px;}

.STYLE10{color:#1F78A0; font-weight:bold; font-size:12px;}

.STYLE11{color:#2D3743; font-size:14px;}

.STYLE12{color:#FE4800; font-size:14px; font-weight:bold;}


img, p{
	display: inline;
	vertical-align: middle;
	font-weight: normal;
	border:none;
}

.login{
	width:160px;
	border: 1px solid #91BACC;
	height: 16px;
	color: #609BB5;
}

.search{
	width:150px;
	border:#91BBCB solid 1px;
	height: 17px;
	color: #609BB5;
}


#container{
	background-repeat: repeat-x;
	height: 100%;
}


#head{
	width: 750px;
	margin: 0 auto;
	height: 75px;
	background-image: url(../image/logo.jpg);
	background-repeat: no-repeat;
	background-position: 5px 10px;
}
#user{
	height: 25px;
	padding: 14px 0px 0px 300px;
	text-align: right;
}
#help{
	height: 20px;
	padding: 15px 0px 0px 300px;
	text-align: right;
}

#main{
	margin: 0 auto;
	width: 750px;
	height: auto;
	padding: 0px 0px 10px 0px;
	background-color: #FFFFFF;
}

#main_rim_a{
	border: 1px solid #c4e1ef;
	margin-bottom: 10px;
	height: auto;
	float: inherit;
	width: auto;
}

#main_rim{
	border: 1px solid #E1ECF2;
	margin-bottom: 10px;
	height: 100%;
	float: inherit;
	width: auto;
}
#main_title{
	height: auto;
	border: 2px solid #fff;
	background-image: url(../image/title_bg.jpg);
	text-align: center;
	background-repeat: repeat-x;
	padding: 10px;
	clear: both;
	width: auto;
}
#main_text{
	height: auto;
	padding: 10px 10px 30px 10px;
	width: auto;
	text-align: center;
}

#main_title_left{
	border:#D1DFE8 solid 1px;
	background:url(../images/title_bg_a.jpg) top repeat-x;
	height: 32px;
	margin: 0 auto;
	padding: 8px 0px 0px 0px;
}

.reg_txt{
	width: 700px;
	height: 400px;
	font-family: "";
	font-size: 12px;
	line-height: 18px;
	padding: 10px;
	border: none;
}

#reg_title{
	text-align: left;
	border-bottom: 1px solid #99CCFF;
}
#reg_text{
	text-align: left;
	padding: 5px 0px 5px 0px;
}

.needs{
	width: 330px;
	height: 20px;
}

.needsclass{
	width: 100%;
	font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#ffffff); 
	height: 20px;
}

#foot{
	clear: both;
	text-align: center;
	height: 50px;
	padding: 10px;
}
.newbutton{
 border-right: #7b9ebd 1px solid; 
 padding-right: 2px; 
 border-top: #7b9ebd 1px solid; 
 padding-left: 2px; 
 font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#4296ef); 
 border-left: #7b9ebd 1px solid; 
 cursor: hand; 
 color: black; 
 padding-top: 2px; 
 border-bottom: #7b9ebd 1px solid
 width: 130px;
}

.button1 {
	font-size: 12px;
	color:#ffffff;
	width: 80px;
	height: 20px;
	font-family: 宋体;
	background-color: #4296ef;
	padding: 2px 0px 0px 0px;
	border: 1px solid #cccccc;
}

input .needs {border:1px solid #ccc;background-color: #ffffff;}
select .needs {border:1px solid #ccc;background-color: #ffffff;}
input .needs {star : expression(
onmouseover=function(){this.style.backgroundColor="#BBDDFF"},
onmouseout=function(){this.style.backgroundColor="#ffffff"})}
.STYLE13 {color: #FF0000}
.STYLE14 {color: #009900}