<html dir="ltr">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="cms.templatePath" content="D:/workspace/cms/WebContent/cms/templates/20285737587970000/template.html" />
        <meta name="cms.templateIds" content="20285737587970000" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
    </head>
    <body>
        <div style="float: left"><a id="loginUserAction" urn="头像">&lt;头像&gt;</a></div>
        <div style="float: left; margin-left: 8px; padding-top: 3px">
        	<a id="loginUserAction" urn="用户名">&lt;用户名&gt;</a>&nbsp;<a id="loginUserAction" urn="注销">注销</a>
        	<br/>
 	    	<br/>
    	    <a id="loginUserAction" urn="修改密码">修改密码</a>
    	    <br/>
    	    <br/>
    	    <a id="loginUserAction" urn="修改个人资料">修改个人资料</a>
        </div>
    </body>
</html>