<!DOCTYPE HTML>
<HTML>
<HEAD>
        <TITLE>客户端</TITLE>
        <META content="text/html; charset=utf-8" http-equiv="Content-Type">
        <SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
        <STYLE type="text/css">
html, body {
height:100%;
margin: 0px;
}
.columnLoadingText {
	DISPLAY: none
}</STYLE>
        <META content="database=true&amp;databaseApplicationNames=enterprise/roaddesign&amp;fileSystem=true&amp;camera=false" name="deviceMeta">
        
    <META content="白天########day.css##/cms/cms/templates/170295070029290000/css/day.css" name="styleDefineMeta"></HEAD>
    <BODY>
<TABLE border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
            <TBODY>
                <TR>
                    <TD valign="top">
<DIV id="titleBar" class="titleBar">
                    <DIV class="channelName">&nbsp;<A id="projectName">公路测量手簿</A></DIV>
</DIV>
                    </TD>
                </TR>
                <TR>
                    <TD height="100%" id="columnContainer" style="background-color: rgb(240, 240, 240);" title="栏目容器" valign="top"></TD>
                </TR>
                <TR>
                    <TD>
<DIV class="channelBar" id="channelBar" title="频道栏" urn="displayMode=alwaysDisplay&amp;overflowX=false&amp;overflowY=false&amp;currentChannelStyle=channel channel_current">
                    <DIV class="channel selectedChannel" id="channel" title="频道:项目" urn="name=项目&amp;columnCount=&amp;column0=name%3D项目%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DprojectList&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DprojectList target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DprojectList&quot;&gt;项目列表&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/project.png" width="32"><BR>
                    项目</DIV>
                    <DIV class="channel" id="channel" title="频道:导线测量" urn="name=导线测量&amp;columnCount=&amp;column0=name%3D导线测量%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtraverseIndex&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtraverseIndex target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtraverseIndex&quot;&gt;导线测量首页&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/traverse.png" width="32"><BR>
                    导线</DIV>
                    <DIV class="channel" id="channel" title="频道:路线测量" urn="name=路线测量&amp;columnCount=&amp;column0=name%3D路线测量%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DloftingIndex&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DloftingIndex target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DloftingIndex&quot;&gt;路线测量首页&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/setting_out.png" width="32"><BR>
                    路线</DIV>
                    <DIV class="channel" id="channel" title="频道:辅助设计" urn="name=辅助设计&amp;columnCount=&amp;column0=name%3D辅助设计%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DassistIndex&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DassistIndex target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DassistIndex&quot;&gt;辅助设计首页&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/assist.png" width="32"><BR>
                    辅助</DIV>
                    <DIV class="channel" id="channel" title="频道:数据管理" urn="name=数据管理&amp;columnCount=&amp;column0=name%3D数据管理%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DdataIndex&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DdataIndex target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DdataIndex&quot;&gt;数据管理首页&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/data.png" width="32"><BR>
                    数据</DIV>
                    <DIV class="channel" id="channel" title="频道:工具" urn="name=工具&amp;columnCount=&amp;column0=name%3D工具%26link%3D&lt;A id%253DsystemLink href%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtoolsIndex&quot; urn%253DsiteId%253D-1%2526amp;applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtoolsIndex target%253D_blank _fcksavedurl%253D&quot;/cms/sitemanage/applicationPage.shtml?applicationName%253Denterprise/roaddesign%2526amp;pageName%253DtoolsIndex&quot;&gt;工具首页&lt;/A&gt;"><IMG alt="" height="32" src="/cms/cms/templates/170295070029290000/images/tools.png" width="32"><BR>
                    工具</DIV>
</DIV>
                    </TD>
                </TR>
            </TBODY>
        </TABLE>
        <DIV class="clientDialog" id="clientDialog" style="z-index: 100000;" title="对话框">
        <DIV class="clientDialogTitle"><A id="clientDialogTitle">&lt;对话框标题&gt;</A></DIV>
        <DIV class="clientDialogBody" id="clientDialogBody" title="对话框主体">内容</DIV>
        <DIV>
        <TABLE border="0" cellpadding="0" cellspcing="0" width="100%">
            <TBODY>
                <TR>
                    <TD class="clientDialogCancelButton" id="clientDialogCancelButton" title="对话框取消按钮">取消</TD>
                    <TD class="clientDialogOtherButton" id="clientDialogOtherButton" title="对话框取消按钮">其它</TD>
                    <TD class="clientDialogOkButton" id="clientDialogOkButton" title="对话框确定按钮">确定</TD>
                </TR>
            </TBODY>
        </TABLE>
        </DIV>
        </DIV>
        <DIV style="left: 0px; width: 100%; height: 0px; text-align: center; bottom: 120px; position: absolute; z-index: 100001;">
        <DIV class="clientToast" id="clientToast" title="少量信息提示框">提示信息</DIV>
        </DIV>


</BODY></HTML>