<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>
<table class="editabledTable">
	<col align="right">
	<col width="33%">
	<col align="right">
	<col width="33%">
	<col align="right">
	<col width="33%">
	<tr>
		<td nowrap="nowrap">主题：</td>
		<td colspan="5"><input id="field" title="主题" class="field required" name="subject" type="text" /></td>
	</tr>
	<tr>
		<td valign="top" nowrap="nowrap">正文：</td>
		<td colspan="5"><textarea id="field" title="正文" class="field required" style="height: 100px; overflow:auto" name="content"></textarea></td>
	</tr>
	<tr>
		<td nowrap="nowrap">建议人：</td>
		<td><input id="field" title="建议人姓名" class="field required" name="creator" type="text" /></td>
		<td nowrap="nowrap">邮箱：</td>
		<td><input id="field" title="建议人邮箱" class="field" name="creatorMail" type="text" /></td>
		<td nowrap="nowrap">联系电话：</td>
		<td><input id="field" title="建议人电话" class="field" name="creatorTel" type="text" /></td>
	</tr>
	<tr>
		<td valign="bottom" nowrap="nowrap">验证码：</td>
		<td colspan="5">
			<input class="field" name="validateCode" type="text" style="width:80px"/>
			<img id="validateCodeImage" title="验证码" alt="" src="/cms/jeaf/validatecode/generateValidateCodeImage.shtml" />
			<a onclick="document.getElementById('validateCodeImage').src=document.getElementById('validateCodeImage').src.split('?')[0] + '?reload=true&amp;seq=' + Math.random();return false;" href="#">看不清，换一张</a>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="6"><br><input id="button" title="提交" tabindex="0" type="button" class="submitButton" value="提交" /></td>
	</tr>
</table>