<HTML dir="ltr">
    <HEAD>
        <TITLE></TITLE>
        <META content="text/html; charset=utf-8" http-equiv="Content-Type">
        <LINK href="{CONTEXTPATH}/jeaf/client/css/day.css" rel="stylesheet" type="text/css">
        <SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
        <STYLE type="text/css">
			.linkImage {
				width: 50px;
				height: 50px;
				background-image:url({CONTEXTPATH}/enterprise/roaddesign/template/traverseindex/images/measure.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
		</STYLE>
    </HEAD>
    <BODY style="background-color: #fff; margin: 5px">
        <DIV style="margin: 5px">
        <TABLE border="0" cellpadding="3" cellspacing="0" id="record" width="100%">
            <TBODY>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=traverseNormal" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=traverseNormal">一般测量</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=traverseFrontCross" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=traverseFrontCross">前方交会测量</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=traverseBackCross" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=traverseBackCross">后方交会测量</A></TD>
                </TR>
            </TBODY>
        </TABLE>
        </DIV>
	</BODY>
</HTML>