<html>
    <head>
        <title>访问统计</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="overflow:hidden; background-color: #d0e0fa" topmargin="30">
    	<center>
	    	<div style="width:249px; height:27px; text-align:left; padding-left:36px; padding-top:8px; background-image:url({CONTEXTPATH}/jeaf/stat/template/statistics/images/title.gif); font-weight:bold; font-size:12px; color:#ffffff">
				访问统计
			</div>
			<div style="width:249px; background-color:#fcfcfc; border-style:solid; border-width:1px; border-color:#186ac3; padding-left:8px; padding-top:18px; padding-right:8px; padding-bottom:28px">
				<a id="subPage" urn="pageName=base&amp;widthMode=auto&amp;width=&amp;heightMode=auto&amp;height=&amp;styleMode=normal&amp;cssFile=">&lt;系统预置页面: 统计&gt;</a>
			</div>
    	</center>
    </body>
</html>