<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 视频工具 -->
	<bean id="videoConvertor" class="com.yuanluesoft.jeaf.video.convertor.ffmpeg.VideoConvertorImpl"/>

	<!-- 视频服务 -->
	<bean id="videoService" class="com.yuanluesoft.jeaf.video.service.spring.VideoServiceImpl">
		<property name="videoConvertor"><ref bean="videoConvertor"/></property>
		<property name="attachmentService"><ref bean="attachmentService"/></property>
		<property name="imageService"><ref bean="imageService"/></property>
		<property name="exchangeClient"><ref bean="exchangeClient"/></property>
	</bean>
</beans>