* {
 font-size: 12px;
}
html {
 height:100%;
}
body  {
 margin: 0px;
 overflow: hidden;
 height:100%;
 border: #999999 1px solid;
}
a {
 color: #0055ee;
 text-decoration: none;
}
p {
 margin: 0px;
}
.highlight {
 color: #000000;
 background-color: #ffff00;
}


.titlePanel {
 background-image: url(../images/title_bar_gb.png);
 background-repeat: repeat-x;
 height: 55px;
}
.title {
 display: block;
 font-size: 14px;
 padding-top: 20px;
 color: #ffffff
}

.inputPanel {
 background-color: rgb(212, 218, 226);
 height: 70px !important;
 border-top: #b9c1d1 1px solid;
}
.chatForm {
 margin: 15px 10px 10px 10px;
 border-radius: 5px;
 border: 1px solid rgb(212, 218, 226);
 height: 39px;
 background-color: rgb(255, 255, 255);
}
.chatFormFocus {
 border-color: rgb(102, 186, 238);
 box-shadow: 0px 0px 10px #66baee;
 animation: myfirst 1.5s;
 -moz-animation: myfirst 1.5s;
 -webkit-animation: myfirst 1.5s;
}
.chatQuestion {
 border-width: 0px;
 width: 100%;
 height: 29px;
 line-height: 29px;
 overflow: hidden;
 font-size: 14px;
 float: left;
 background-color: rgb(255, 255, 255);
 outline: none;
}
.chatSendButton {
 width: 50px;
 height: 29px;
 font-size: 14px;
 border-style: none;
 border-left: #b9c1d1 1px solid;
 background-color: transparent;
}
.questionPrompt {
 position: absolute;
 padding: 0px 0px 0px 0px;
 line-height: 180%;
 left: 0px;
 bottom: 100%;
 width: 100%;
 border: #999999 1px solid;
 background-color: #ffffff;
}

.relationDataPanel {
 width: 230px;
 background-color: rgb(231, 236, 243);
 border-left: #b9c1d1 1px solid;
}
.relationDataCategory {
  border-bottom: #c9d1e1 1px solid;
  height: 24px;
  line-height: 24px;
  padding-left: 5px;
}
.relationDataArea {
 border-top: #f4f6fa 1px solid;
 border-bottom: #c9d1e1 1px solid;
 background-color: rgb(248, 251, 254);
 line-height: 150%;
 padding: 3px 5px 3px 5px;
}


.robotTalk {
 clear: both;
}
.robotPortrait {

}
.robotTalkContent {
 float: left;
 margin-left: 12px;
 padding: 10px;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 5px;
 background-color: rgb(245, 249, 254);
 color: rgb(94, 94, 94);
 line-height: 180%;
 position: relative;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
}
.robotArrow {
 background: url("../images/arrow_left.gif") no-repeat;
 left: -7px;
 top: 10px;
 width: 7px;
 height: 13px;
 display: block;
 position: absolute;
}
.robotTalkTime {
 float:none;
 clear: both;
 padding: 5px 3px 12px 12px;
}

.questionerTalk {
 clear: both;
 float: right;
}
.questionerPortrait {

}
.questionerTalkContent {
 float: right;
 margin-right: 12px;
 padding: 10px;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 5px;
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 line-height: 180%;
 position: relative;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
}
.questionerArrow {
 background: url("../images/arrow_right.gif") no-repeat;
 left: 100%;
 top: 10px;
 width: 7px;
 height: 13px;
 display: block;
 position: absolute;
}
.questionerTalkTime {
 float:none;
 clear: both;
 padding: 5px 12px 12px 3px;
 text-align: right;
}