<HTML dir="ltr">
	<HEAD>
	    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
	</HEAD>
	<BODY>
	    <UL><A id="recordList" target="paging" urn="recordListName=resources&amp;applicationName=cms/sitemanage&amp;linkTitle=记录链接&amp;recordCount=10&amp;recordFormat=&lt;LI&gt;&lt;A id%3Dfield urn%3Dname%3Dsubject%26amp;link%3Dtrue&gt;%26lt;标题%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3Dcreated%26amp;fieldFormat%3Dyyyy-MM-dd&gt;%26lt;创建时间%26gt;&lt;/A&gt; &amp;separatorMode=none&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;simpleMode=true&amp;emptyPrompt=&lt;LI&gt;暂无记录">&lt;文章列表:本站点/栏目&gt;</A></UL>
	    <DIV style="float: left; padding: 10px 0px 0px 10px;"><A id="viewAction" target="_blank" style="margin-right: 8px" urn="applicationName=cms/sitemanage&amp;viewName=admin/todo&amp;title=添加文章">添加文章</A><a id="viewAction" urn="applicationName=cms/sitemanage&amp;viewName=resources&amp;title=查看全部" target="_blank">查看全部</a></DIV>
	    <DIV style="float: right; padding-top: 10px"><A id="pageAction" class="viewFirstPage" urn="第一页" title="第一页">&nbsp;</A><A id="pageAction" class="viewPreviousPage" urn="上一页" title="上一页">&nbsp;</A><A id="pageAction" class="viewNextPage" urn="下一页" title="下一页">&nbsp;</A><A id="pageAction" class="viewLastPage" urn="最后一页" title="最后一页"></A></DIV>
	</BODY>
</HTML>