<HTML dir="ltr">
    <HEAD>
        <TITLE></TITLE>
        <META content="text/html; charset=utf-8" http-equiv="Content-Type">
        <LINK href="{CONTEXTPATH}/jeaf/client/css/day.css" rel="stylesheet" type="text/css">
        <SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
        <STYLE type="text/css">
	.linkImage {
	width: 50px;
	height: 45px;
	background-image:url({CONTEXTPATH}/enterprise/roaddesign/template/toolsindex/images/curve.png);
	background-repeat: no-repeat;
	background-position: center center;
	}
	</STYLE>
    </HEAD>
    <BODY style="background-color: #fff; margin: 5px">
        <DIV style="margin: 5px">
        <TABLE border="0" cellpadding="3" cellspacing="0" id="record" width="100%">
            <TBODY>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=singleCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=singleCurve ">单交点平曲线</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=cutBaselineDoubleCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=cutBaselineDoubleCurve ">切基线双交点平曲线</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=baselineTangentDoubleCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=baselineTangentDoubleCurve ">与基线相切双交点复曲线</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=baselineNotTangentDoubleCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=baselineNotTangentDoubleCurve">与基线不相切双交点复曲线</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=sTypeCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=sTypeCurve">S型曲线设计</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=convexCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=convexCurve">凸型曲线设计</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=ovalCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=ovalCurve ">卵型曲线设计</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage" style="background-image: url({CONTEXTPATH}/enterprise/roaddesign/template/toolsindex/images/book.png)"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=technicalData" id="systemLink" target="recordWindow" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=technicalData">常用技术指标</A></TD>
                </TR>
            </TBODY>
        </TABLE>
        </DIV>
    </BODY>
</HTML>