.navigator {
	font-size:12px;
	font-family:Simsun;
	line-height:normal; 
	color: #000000;
	background-color: #f8f8fc
}

.navigator a:link {
	color: #000000;
	text-decoration: none;
}
.navigator a:visited {
	color: #000000;
	text-decoration: none;
}
.navigator a:hover {
	color: #000000;
	text-decoration: none;
}

.navigatorWorkspace {
	width:100%; 
	height:100%;
	background:#e9f5f7;
	border: 1px solid #dbdce3;
	border-top: none;
	overflow:hidden;
}

.navigatorSpacing {
	height:3px;
}

.navigatorItems {
	border: 1px solid #dbdce3;
}

.navigatorItem {
	background-color:#EEF0FD;
	background-position:top;
	background-repeat:repeat-x;
	text-align:left;
	color:#000000;
	height:22px;
    border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #dbdce3;
    padding-left:18px;
    padding-top:3px;
    cursor: pointer;
}

.navigatorItemHover {
	background-color: #F7FBFF;
	background-position:top;
	background-repeat:repeat-x;
	text-align:left;
	color:#000000;
	height:22px;
    border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dbdce3;
    padding-left:18px;
    padding-top:3px;
    cursor: pointer;
}

.navigatorItemSelected {
	background-color: #52a6ff;
	background-position:top;
	background-repeat:repeat-x;
	text-align:left;
	color:#ffffff;
	height:22px;
    border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dbdce3;
	border-top: none;
    padding-left:18px;
    padding-top:3px;
    cursor: pointer;
}

.navigatorGroupItems {
	padding-left:8px;
	padding-top:1px;
	padding-right:3px;
	padding-bottom:3px;
	overflow:auto;
	scrollbar-face-color:#F5F8FA;
	scrollbar-highlight-color:#F5F8FA;
	scrollbar-3dlight-color:#D0E3E8;
	scrollbar-darkshadow-color:#D0E3E8;
	scrollbar-Shadow-color:#F5F8FA;
	scrollbar-arrow-color:#9BC4CC;
	scrollbar-track-color:#FAFAFA;
	word-break: keep-all;
}

.navigatorGroupItem {
	width: 100%;
	height: 22px;
	cursor: pointer;
	background-color: transparent;
}

.navigatorGroupItemHover {
	width: 100%;
	height: 22px;
	cursor: pointer;
	background-color: #d9f1f9;
	color: #000000;
}

.navigatorGroupItemSelected {
	width: 100%;
	height: 22px;
	cursor: pointer;
	background-color: #c3ebf9;
}

.navigatorApplicationCollapseImage {
	
}

.navigatorApplicationExpandImage {
}

.navigatorApplicationImage {
}

.navigatorApplicationText {
	padding-top:5px;
}

.navigatorLinkImage {
}

.navigatorLinkText {
	padding-top:5px;
}

.navigatorHead {
	background-image:url(../image/head.gif);
	background-position:0 -1;
	background-repeat:repeat-x;
	text-align:left;
	color:#000000;
	height:28px;
    border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dbdce3;
    padding-left:18px;
    padding-top:3px;
    cursor: pointer;
}