body, table, div {
	font-size:12px;
	font-family:宋体;
	line-height:normal; 
	color: #000000;
}

#header {
	background-image:url(../image/logo.gif);
	background-repeat: no-repeat;
	height:80px;
	border-bottom: 1 solid #4296EF;
}

.textInput {
	font-family: 宋体;
	font-size: 12px;
	color:#0000FF;
	width: 180px;
	height: 20px;
	background-color: #FFFFFF;
	border: 1px solid #909090;
	padding-top: 3px;
	padding-left: 3px;
}
.button {
	font-size: 12px;
	color:#FFFFFF;
	width: 50px;
	height: 20px;
	font-family: 宋体;
	background-color: #4296EF;
	padding: 2px 0px 0px 0px;
	border: 1px solid #CCCCCC;
}