<table class="readonlyTable">
	<colgroup><col align="right" /><col width="100%" /></colgroup>
	<tbody>
		<tr>
			<td class="label" nowrap><a id="field" urn="">&lt;支付验证说明&gt;</a></td>
			<td class="content"><a id="field" urn="">&lt;支付验证密码&gt;</a></td>
		</tr>
		<tr>
			<td class="label" nowrap>订单号</td>
			<td class="content"><a id="field" urn="">&lt;订单号&gt;</a></td>
		</tr>
		<tr>
			<td class="label" valign="top">卖方帐号</td>
			<td class="content"><a id="field" urn="">&lt;卖方帐号&gt;</a></td>
		</tr>
		<tr>
			<td class="label" nowrap>卖方帐户名</td>
			<td class="content"><a id="field" urn="">&lt;卖方帐户名&gt;</a></td>
		</tr>
		<tr>
			<td class="label" nowrap>卖方开户行</td>
			<td class="content"><a id="field" urn="">&lt;卖方开户行&gt;</a></td>
		</tr>
		<tr>
			<td class="label">支付原因</td>
			<td class="content"><a id="field" urn="">&lt;支付原因&gt;</a></td>
		</tr>
		<tr>
			<td class="label">支付金额</td>
			<td class="content"><a id="field" urn="">&lt;支付金额&gt;</a>元</td>
		</tr>
	</tbody>
</table>
<center>
	<a class="link" id="pageLink" target="_blank" urn="登录企业银行">登录企业银行</a>&nbsp;
	<a class="link" id="pageLink" urn="完成付款">完成付款</a>
</center>