<form class="form" id="approvalQuery" title="办理情况查询" action="applicationName=cms/supervision" style="border-right: #ffc0c0 1px dotted; border-top: #ffc0c0 1px dotted; margin: 0px; border-left: #ffc0c0 1px dotted; border-bottom: #ffc0c0 1px dotted">
	<table class="editabledTable">
		<tr>
		    <td>获取详细情况请输入密码：</td>
		    <td><input class="field" id="field" title="查询密码" style="width: 80px" name="approvalQueryPassword" type="text" /></td>
		    <td align="center" colspan="3">&nbsp;<input class="submitButton" id="button" title="查询" tabindex="0" type="button" value="查询" /> </td>
		</tr>
	</table>
</form>