<form class="form" id="approvalQuery" title="办理情况查询" action="applicationName=asc/consult" style="border-right: #ffc0c0 1px dotted; border-top: #ffc0c0 1px dotted; margin: 0px; border-left: #ffc0c0 1px dotted; border-bottom: #ffc0c0 1px dotted">
	<table class="editabledTable">
		<tr>
		    <td>获取办理情况请输入查询密码：</td>
		    <td><input class="field" id="field" title="查询密码" style="width: 80px" name="approvalQueryPassword" type="text" /></td>
		    <td align="center" colspan="3">&nbsp;<input class="submitButton" id="button" title="查询" tabindex="0" type="button" value="查询" /> </td>
		</tr>
	</table>
</form>
<table class="readonlyTable">
	<colgroup>
		<col align="right"/>
		<col width="50%"/>
		<col align="right"/>
		<col width="50%"/>
	</colgroup>
	<tr>
		<td class="label">主题</td>
		<td class="content" colspan="3"><a id="field" urn="name=publicSubject">&lt;主题&gt;</a></td>
	</tr>
	<tr>
		<td class="label">办理事项</td>
		<td class="content" colspan="3"><a id="field" urn="name=itemName">&lt;办理事项&gt;</a></td>
	</tr>
	<tr>
		<td class="label">编号</td>
		<td class="content"><a id="field" urn="name=sn">&lt;编号&gt;</a></td>
		<td class="label" nowrap="nowrap">咨询时间</td>
		<td class="content"><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;咨询时间&gt;</a></td>
	</tr>
	<tr>
		<td class="label" valign="top">详细内容</td>
		<td class="content" colspan="3"><a id="field" urn="name=content">&lt;正文&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">咨询人姓名</td>
		<td class="content" colspan="3"><a id="field" urn="name=creator">&lt;咨询人&gt;</a></td>
	</tr>
	<tr>
		<td class="label">附件</td>
		<td class="content" colspan="3"><a id="recordList" urn="recordListName=attachment&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.asc.consult.pojo.AscConsult&amp;applicationName=asc/consult&amp;linkTitle=打开&amp;recordCount=100&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3Dname%26amp;link%3Dtrue&gt;%26lt;名称%26gt;&lt;/A&gt;(&lt;A id%3Dfield urn%3Dname%3DfileSize&gt;%26lt;文件大小%26gt;&lt;/A&gt;)&amp;separatorMode=custom&amp;separatorCustom=、&amp;separatorOfLastRecord=false&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;附件&gt;</a></td>
	</tr>
</table>