.videoController .controllBar { /*控制栏*/
	height: 36px;
	background-color: rgba(0, 0, 0, 0.8);
}
.videoController .progressBar { /*播放进度条*/
	background-color: #6e6e6e;
	height: 3px;
	margin-top: 1px;
}
.videoController .playProgress { /*播放进度*/
	background-color: #0b8cf6;
	height: 100%;
}
.videoController .bufferProgress { /*缓存进度*/
	background-color: #153755;
	height: 100%;
}
.videoController .thumb { /*进度条控制块*/
	background-image: url(../images/video_player_seekbar_thumb_normal.png);
	height: 14px;
	width: 14px;
	margin-top: -8px;
}
.videoController .thumbOver { /*进度条控制块:鼠标经过*/
	background-image: url(../images/video_player_seekbar_thumb_pressed.png);
}
.videoController .progressBarAlone { /*独立播放进度条*/
	height: 2px;
	margin-top: 0px;
}
.videoController .rewindButton { /*快退按钮*/
	background-image: url(../images/video_player_rewind_button_out.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	width: 71px;
	height:8px;
}
.videoController .rewindButtonOver { /*快退按钮:鼠标经过*/
	background-image: url(../images/video_player_rewind_button_on.png);
}
.videoController .forwardButton { /*快进按钮*/
	background-image: url(../images/video_player_forward_button_out.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	width: 15px;
	height: 8px;
}
.videoController .forwardButtonOver { /*快进按钮:鼠标经过*/
	background-image: url(../images/video_player_forward_button_on.png);
}
.videoController .playButton { /*播放按钮*/
	float: left;
	background-image: url(../images/video_player_play_button.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #0078db;
	border-right: #a3d4fc 1px solid;
	width: 55px;
	height: 36px;
	margin-top: -8px;
}
.videoController .playButtonOver { /*播放按钮:鼠标经过*/
	background-color: #0b8cf6;
}
.videoController .playButtonPaused { /*播放按钮:暂停*/
	background-image: url(../images/video_player_pause_button.png);
}
.videoController .playButtonPausedOver { /*播放按钮:暂停,鼠标经过*/
	background-color: #0b8cf6;
}
.videoController .currentTime, .videoController .timeSeparator, .videoController .duration { /*当前时间,时间分隔符,视频时间*/
	float: left;
	color: #f0f0f0;
	line-height: 28px;
}
.videoController .currentTime { /*当前时间*/
	padding-left:6px;
}
.videoController .timeSeparator { /*时间分隔符*/
	padding-left: 3px;
	padding-right: 3px;
}
.videoController .soundButton { /*声音按钮*/
	float: left;
	background-image: url(../images/video_player_sound_out.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 22px;
	height: 28px;
	margin-left: 32px;
}
.videoController .soundButtonOver { /*声音按钮:鼠标经过*/
	background-image: url(../images/video_player_sound_on.png);
}
.videoController .soundButtonMute { /*声音按钮:静音*/
	background-image: url(../images/video_player_mute_out.png);
}
.videoController .soundButtonMuteOver { /*声音按钮:静音,鼠标经过*/
	background-image: url(../images/video_player_mute_on.png);
}
.videoController .volumeBar { /*音量控制条*/
	float: left;
	width: 80px;
	height: 2px;
	margin-top: 13px;
	background-color: #6e6e6e;
}
.videoController .volume { /*音量*/
	background-color: #0b8cf6;
	height: 2px;
}
.videoController .volumeThumb { /*音量控制块*/
	background-image: url(../images/video_player_volume_out.png);
	height: 7px;
	width: 7px;
	margin-top: -4px;
}
.videoController .volumeThumbOver { /*音量控制块:鼠标经过*/
	background-image: url(../images/video_player_volume_on.png);
}
.videoController .fullScreenButton { /*全屏按钮*/
	float: right;
	background-image: url(../images/video_player_fullscreen_stretch_out.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 18px;
	height: 28px;
	margin-right: 16px;
}
.videoController .fullScreenButtonOver { /*全屏按钮:鼠标经过*/
	background-image: url(../images/video_player_fullscreen_stretch_on.png);
}
.videoController .fullScreenButtonShrink { /*全屏按钮:还原*/
	background-image: url(../images/video_player_fullscreen_shrink_out.png);
}
.videoController .fullScreenButtonShrinkOver { /*全屏按钮:还原,鼠标经过*/
	background-image: url(../images/video_player_fullscreen_shrink_on.png);
}
.videoController .prompt {
	display: inline-block;
	padding: 10px 10px 8px 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.videoController .promptIcon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 29px;
	height: 29px;
}
.videoController .promptText {
	display: inline-block;
	position: relative;
	top: -10px;
	font-size: 12px;
	color: #fff;
	padding-left: 5px;
}
.videoController .loadingIcon {
	background-image: url(../images/video_player_loading.png);
}
.videoController .warningIcon {
	background-image: url(../images/video_player_warn.png);
}