<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
<form title="表单:放样:坐标法放样" class="form" id="loftingCoordinate" style="width: 100%; height: 100%;" action="applicationName=enterprise/roaddesign">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div id="titleBar" class="titleBar">
				<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				<div tabindex="0" title="读取坐标文件" class="button" id="button">读取坐标文件</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
		<div title="内容区域" id="contentArea">
			<table width="100%" class="editabledTable">
				<tr>
					<td align="right" nowrap="">桩号&nbsp;</td>
					<td width="100%"><input name="pile" title="桩号" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">X&nbsp;</td>
					<td><input name="x" title="X" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">Y&nbsp;</td>
					<td><input name="y" title="Y" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">水平角&nbsp;</td>
					<td><input name="horizontalAngle" title="水平角" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">水平值&nbsp;</td>
					<td><input name="horizontalDistance" title="水平值" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="" valign="top" style="padding-top: 12px;">实测水平值&nbsp;</td>
					<td>
						<input name="actualHorizontalDistance" title="实测水平值" class="field" id="field" type="text">
						<input name="loftingResult" title="放样结果" id="field" style="border-width: 0px; width: 100%;" type="text" alt="">
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="">高度值&nbsp;</td>
					<td><input name="height" title="高度值" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">镜高&nbsp;</td>
					<td><input name="mirrorHeight" title="镜高" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">高程&nbsp;</td>
					<td><input name="z" title="Z" class="field" id="field" style="background-color: rgb(242, 242, 242);" type="text" alt=""></td>
				</tr>
				<tr>
					<td align="center" style="padding-top: 8px;" colspan="2">
						<a title="上一桩号" class="button" id="button">上一桩号</a>&nbsp;
						<a title="下一桩号" class="button" id="button">下一桩号</a>&nbsp;
						<a title="计算" class="button" id="button">计算</a>&nbsp;
						<a class="button" id="systemLink" href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=baseStation" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=baseStation">基站</a>
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>
</form>
</body>
</html>
