<style type="text/css">
	.inquirySupplement {
		width: 300px; height: 80px;
	}
</style>
<form id="inquiry" class="form" title="表单:提交调查" action="applicationName=cms/inquiry" style="border-bottom: #ffc0c0 1px dotted; border-left: #ffc0c0 1px dotted; margin: 0px; border-top: #ffc0c0 1px dotted; border-right: #ffc0c0 1px dotted">
	<div align="left">
		<a id="field" urn="name=subject" style="font-weight: bold">&lt;主题&gt;</a>
		<br/><br/>
		<a id="recordList" urn="recordListName=options&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cms.inquiry.pojo.InquirySubject&amp;applicationName=cms/inquiry&amp;recordCount=500&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DinquiryBox%26amp;link%3Dtrue&gt;%26lt;选择框%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3DinquiryOption%26amp;link%3Dtrue&gt;%26lt;选项%26gt;&lt;/A&gt;%26nbsp;&lt;A id%3Dfield urn%3Dname%3DsupplementInputBox%26amp;link%3Dtrue&gt;%26lt;补充说明输入框%26gt;&lt;/A&gt;&amp;separatorMode=newLine&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;选项列表&gt;</a>
	    <br/>
	    <br/>
	</div>
	<div style="width:100%; text-align:center">
	    <input id="button" title="提交" class="submitButton" type="button" value="提交" />&nbsp;
	    <input id="button" title="查看结果" class="submitButton" type="button" value="显示结果" />&nbsp;
	    <input id="button" title="结果反馈" class="submitButton" type="button" value="结果反馈" />
	</div>
</form>