<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div id="titleBar" class="titleBar">
				<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				<a class="button" id="pageLink" href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=project" target="_self" urn="siteId=-1&amp;linkTitle=添加交点">添加交点</a>
				<a class="button" id="pageLink" href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=project" target="_self" urn="siteId=-1&amp;linkTitle=导入">导入</a>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
		<div title="内容区域" id="contentArea">
			<table class="recordTable" id="record" style="visibility:hidden" onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" border="0" cellspacing="0" cellpadding="2">
				<tr valign="top">
					<td class="recordImage"></td>
					<td class="recordTitle">
						<span id="name">&lt;编号&gt;</span><br>
						<div style="color: rgb(102, 102, 102); font-size: 12px;">
							N:<span id="jx" style="color: rgb(102, 102, 102); font-size: 12px;">&lt;Jx&gt;</span>
							E:<span id="jy" style="color: rgb(102, 102, 102); font-size: 12px;">&lt;Jy&gt;</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>
</body>
</html>