<table class="readonlyTable">
	<colgroup>
		<col align="right"/>
		<col width="100%"/>
	</colgroup>
	<tr>
		<td class="label">项目名称</td>
		<td class="content"><a id="field" urn="name=projectName">&lt;项目名称&gt;</a></td>
	</tr>
	<tr>
		<td class="label" valign="top">受理编号</td>
		<td class="content"><a id="field" urn="name=sn">&lt;受理编号&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">建设单位</td>
		<td class="content"><a id="field" urn="name=constructionUnit">&lt;建设单位&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">勘察单位</td>
		<td class="content"><a id="field" urn="name=surveyUnit">&lt;勘察单位&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">建设地点</td>
		<td class="content"><a id="field" urn="name=constructionPlace">&lt;建设地点&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">工作单位</td>
		<td class="content"><a id="field" urn="name=creatorUnit">&lt;工作单位&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">拟进场时间</td>
		<td class="content"><a id="field" urn="name=approachTime&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;拟进场时间&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">提交时间</td>
		<td class="content"><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;提交时间&gt;</a></td>
	</tr>
	<tr>
		<td class="label">附件</td>
		<td class="content"><a id="recordList" urn="recordListName=attachment&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cin.geotechnical.pojo.Geotechnical&amp;applicationName=cin/geotechnical&amp;linkTitle=打开&amp;recordCount=100&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3Dname%26amp;link%3Dtrue&gt;%26lt;名称%26gt;&lt;/A&gt;(&lt;A id%3Dfield urn%3Dname%3DfileSize&gt;%26lt;文件大小%26gt;&lt;/A&gt;)&amp;separatorMode=custom&amp;separatorCustom=、&amp;separatorOfLastRecord=false&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;附件&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap" valign="top">办理意见</td>
		<td class="content"><a id="field" urn="name=办理">&lt;办理意见&gt;</a></td>
	</tr>
</table>