<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 支付服务 -->
	<bean id="paymentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.payment.service.spring.PaymentServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="cryptService"><ref bean="cryptService"/></property>
				<property name="paymentMethods">
					<list>
						<ref bean="abcbankPaymentMethodService"/> <!-- 农业银行 -->
						<ref bean="cebbankPaymentMethodService"/> <!-- 光大银行 -->
						<ref bean="cibbankPaymentMethodService"/> <!-- 兴业银行 -->
						<ref bean="ccbbankPaymentMethodService"/> <!-- 建设银行 -->
						<ref bean="icbcbankPaymentMethodService"/> <!-- 工商银行 -->
						<ref bean="bocbankPaymentMethodService"/> <!-- 中国银行 -->
					</list>
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_NOT_SUPPORTED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 支付列表处理器 -->
	<bean id="paymentsProcessor" class="com.yuanluesoft.jeaf.payment.processor.PaymentsProcessor">
		<property name="formDefineService"><ref bean="formDefineService"/></property>
		<property name="pageBuilder"><ref bean="pageBuilder"/></property>
		<property name="pageDefineService"><ref bean="pageDefineService"/></property>
		<property name="paymentService"><ref bean="paymentService"/></property>
	</bean>
</beans>