<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 企业项目服务 -->
	<bean id="enterpriseProjectService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.enterprise.project.service.spring.EnterpriseProjectServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="attachmentService"><ref bean="attachmentService"/></property>
				<property name="remoteDocumentService"><ref bean="remoteDocumentService"/></property>
				<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
				<property name="numerationService"><ref bean="numerationService"/></property>
				<property name="projectStages"><value>工可,初步设计,施工图设计</value></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="after*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="approval*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="process*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 项目视图服务 -->
	<bean id="enterpriseProjectViewService" class="com.yuanluesoft.enterprise.project.service.spring.EnterpriseProjectViewServiceImpl">
		<property name="eaiClient"><ref bean="eaiClient"/></property>
		<property name="enterpriseProjectService"><ref bean="enterpriseProjectService"/></property>
		<property name="viewCustomizeService"><ref bean="viewCustomizeService"/></property>
		<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="databaseService"><ref bean="databaseService"/></property>
	</bean>
</beans>