<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 应用定义服务 -->
	<bean id="applicationDefineService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.application.builder.service.spring.ApplicationDefineServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="applicationBuilder"><ref bean="applicationBuilder"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 应用生成器 -->
	<bean id="applicationBuilder" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.application.builder.service.spring.ApplicationBuilderImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="applicationNavigatorService"><ref bean="applicationNavigatorService"/></property>
				<property name="databaseDefineService"><ref bean="databaseDefineService"/></property>
				<property name="formDefineService"><ref bean="formDefineService"/></property>
				<property name="viewDefineService"><ref bean="viewDefineService"/></property>
				<property name="workflowConfigureService"><ref bean="workflowConfigureService"/></property>
				<property name="pageDefineService"><ref bean="pageDefineService"/></property>
				<property name="strutsDefineService"><ref bean="strutsDefineService"/></property>
				<property name="htmlParser"><ref bean="htmlParser"/></property>
				<property name="modelCache"><ref bean="modelCache"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="build*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
</beans>