<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- 注册服务 -->
	<bean id="memberRegistService" class="com.yuanluesoft.credit.regist.service.spring.RegistServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="businessService"><ref bean="businessService"/></property>
				<property name="cryptService"><ref bean="cryptService"/></property>
				<property name="orgService"><ref bean="orgService"/></property>
				<property name="personService"><ref bean="personService"/></property>
				<property name="sessionService"><ref bean="sessionService"/></property>
				<property name="pageService"><ref bean="pageService"/></property>
				<property name="mainOrgId"><value>0</value></property>
				<property name="userSecurityService"><ref bean="userSecurityService"/></property>
	</bean>
			
	<!-- 查询列表处理器 -->
	<bean id="registQueryProcessor" class="com.yuanluesoft.credit.regist.service.spring.RegistQueryProcessor">
		<property name="formDefineService"><ref bean="formDefineService" /></property>
		<property name="pageBuilder"><ref bean="pageBuilder" /></property>
		<property name="pageDefineService"><ref bean="pageDefineService" /></property>
		<property name="databaseService"><ref bean="databaseService" /></property>
	</bean>
</beans>