<html>
    <head>
        <title>页面选择</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <style type="text/css">
        	body {
				font-size: 12px;
				line-height:18px;
			}
		</style>
    </head>
    <body>
        您当前正在使用的手机或平板电脑的屏幕尺寸是<a id="field" urn="name=screenWidth">&lt;屏幕宽度&gt;</a>×<a id="field" urn="name=screenHeight">&lt;屏幕高度&gt;</a>像素，请选择您要访问的页面类型（需要重新选择时，请清除浏览器Cookies）：<br /><br />
       <a id="recordList" urn="recordListName=recommendedThemes&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cms.sitemanage.model.PhonePageConfig&amp;applicationName=cms/sitemanage&amp;recordCount=1&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DtypeAsText%26amp;link%3Dtrue&gt;%26lt;浏览器类型描述%26gt;&lt;/A&gt;%26nbsp;推荐&amp;separatorMode=newLine&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;推荐的主题&gt;</a><br/><br/>
       <a id="recordList" urn="recordListName=otherThemes&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cms.sitemanage.model.PhonePageConfig&amp;applicationName=cms/sitemanage&amp;recordCount=10&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DtypeAsText%26amp;link%3Dtrue&gt;%26lt;浏览器类型描述%26gt;&lt;/A&gt;&amp;separatorMode=newLine&amp;separatorHeight=16&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;其他备选主题&gt;</a>
    </body>
</html>