<table class="editabledTable" style="width:280px">
	<colgroup>
		<col align="right"/>
		<col width="100%"/>
	</colgroup>
	<tbody>
		<tr>
			<td nowrap>用户名：</td>
			<td><input class="field" id="field" title="用户名" name="userName" type="text" /></td>
		</tr>
		<tr>
			<td>密　码：</td>
			<td><input class="field" id="field" title="密码" name="password" type="text" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><span class="systemPrompt"><a id="systemPrompt" urn="&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><br><input class="submitButton" id="button" title="登录" tabindex="0" type="button" value="登录" /></td>
		</tr>
	</tbody>
</table>