<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 个人财务服务 -->
	<bean id="personalFinanceService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<ref bean="personalFinanceServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	<bean id="personalFinanceServiceImpl" class="com.yuanluesoft.charge.finance.service.spring.PersonalFinanceServiceImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="deductionService"><ref bean="deductionServiceImpl"/></property>
		<property name="distributionService"><ref bean="distributionService"/></property>
		<property name="personalAccountServices"><ref bean="personalAccountServices"/></property>
		<property name="personalOrderService"><ref bean="personalOrderServiceImpl"/></property>
	</bean>
</beans>