<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT>window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
	<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="titleBar" id="titleBar">
					<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top" style="height: 100%; background-color: rgb(255, 255, 255); padding: 8px 8px 8px 8px;">
				<div title="内容区域" id="contentArea">
					<div style="text-align: center; padding: 3px 0px 8px 0px;">
						<b><a id="field" urn="name=subject">&lt;标题&gt;</a></b>
					</div>
					<div style="text-align: left;">
						<a id="field" urn="name=body">&lt;正文&gt;</a>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>