<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT>window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
	<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<form class="form" id="approvalQuery" title="办理情况查询" action="applicationName=cms/leadermail">
					<div class="titleBar" id="titleBar">
						<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
						<div class="button" id="button" title="查询" tabindex="0">查询</div>
						<input class="field" id="field" title="查询密码" alt="查询密码" name="approvalQueryPassword" type="text" style="width:120px; float:right; margin-right:3px"/>
					</div>
				</form>
			</td>
		</tr>
		<tr>
			<td valign="top" style="height: 100%; background-color: rgb(255, 255, 255); padding: 8px 8px 8px 8px;">
				<div title="内容区域" id="contentArea">
					<table class="readonlyTable" style="margin-top: 5px;">
						<colgroup>
							<col align="right"/>
							<col width="100%"/>
						</colgroup>
						<tr>
							<td class="label" valign="top">批转意见</td>
							<td class="content"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap" valign="top">部门办理意见</td>
							<td class="content"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap" valign="top">回复审核意见</td>
							<td class="content"><a id="field" urn="name=回复审核">&lt;回复审核意见&gt;</a></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>