<form id="registUser" class="form" title="表单:用户注册" action="applicationName=lss/insurance" style="border-bottom: #ffc0c0 1px dotted; border-left: #ffc0c0 1px dotted; margin: 0px; border-top: #ffc0c0 1px dotted; border-right: #ffc0c0 1px dotted">
	<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>
	<table class="editabledTable">
        <tbody>
            <tr>
                <td nowrap="nowrap" align="right">姓名:</td>
                <td width="100%"><input id="field" class="field" title="姓名" name="name" type="text" /></td>
            </tr>
            <tr>
                <td nowrap="nowrap" align="right">身份证号码:</td>
                <td><input id="field" class="field" title="身份证号码" name="identityCardNumber" type="text" /></td>
            </tr>
            <tr>
                <td nowrap="nowrap" align="right">密码:</td>
                <td><input id="field" class="field" title="密码" name="password" type="text" /></td>
            </tr>
            <tr>
                <td nowrap="nowrap" align="right">密码确认:</td>
                <td><input id="field" class="field" title="密码" name="password" type="text" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                	<input id="button" class="submitButton" title="注册" type="button" value="注册" />
                </td>
            </tr>
        </tbody>
    </table>
</form>