body {
	margin: 0px;
	background-color: #ffffff;
	overflow: hidden;
	border-style: none;
}
body, div, td {
	font-family: 宋体;
	font-size: 12px;
}
.titleBar {
	background-color: #6d86b6;			
	color: #ffffff;
	font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	height: 16px;
	padding: 3px 0px 1px 5px;
    border: #999 1px solid;
    border-bottom: #eee 1px solid;
}
.contentArea {
	overflow: auto;
	padding: 5px;
    position: absolute;
    top: 22px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: #999999 1px solid;
    border-top-style: none; 
    /*ie6*/
    width: expression(document.documentElement.clientWidth - 12);
    height: expression(document.documentElement.clientHeight - 34);
}
.closeButton {
	background-image: url(../images/close_light_blue.gif);
	display: inline-block;
	cursor: pointer;
	width: 11px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
}
.closeButtonMouseover {
	background-image: url(../images/close_white.gif);
}
.minimizeButton {
	background-image: url(../images/minimize_light_blue.gif);
	display: inline-block;
	cursor: pointer;
	width: 11px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center right;
	margin-right: 5px;
}
.minimizeButtonMouseover {
	background-image: url(../images/minimize_white.gif);
}
.zoomOutButton {
	background-image: url(../images/zoom_out_light_blue.gif);
	display: inline-block;
	cursor: pointer;
	width: 11px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
}
.zoomOutButtonMouseover {
	background-image: url(../images/zoom_out_white.gif);
}
.okButton {
	background-image: url(../images/ok_light_blue.gif);
	display: inline-block;
	cursor: pointer;
	width: 11px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
}
.okButtonMouseover {
	background-image: url(../images/ok_white.gif);
}
a:link, a:visited {
	color: #000000; font-size: 12px; text-decoration: none
}
a:hover {
	color: #004080; font-size: 12px; text-decoration: none
}
.button {
	background-image: url(../images/button_bg.gif);
	border: #b3c3d0 1px solid;
	background-position: 0 center;
	display: inline-block;
	padding: 2px 5px 2px 5px !important;
	padding: 2px 0px 0px 0px;
}