BODY {
	MARGIN: 0px; FONT: 12px/150% "",Tahoma,Arial,Verdana; COLOR: #4d5057; WHITE-SPACE: normal; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: ""
}
A {
	COLOR: #0066ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600
}
.t1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff
}
A.t1:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.STYLE1 {
	COLOR: #fe4800; FONT-FAMILY: "", Arial, Helvetica, sans-serif
}
.STYLE2 {
	COLOR: #6cc4ec; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE2:hover {
	COLOR: #000; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE2:active {
	COLOR: #000; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE3 {
	COLOR: #0d930e; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE3:hover {
	COLOR: #000000; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE3:active {
	COLOR: #000000; LINE-HEIGHT: 130%; TEXT-DECORATION: underline
}
.STYLE4 {
	FONT-SIZE: 14px; COLOR: #2d3743
}
.STYLE4:hover {
	FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 130%; TEXT-DECORATION: none
}
.STYLE4:active {
	FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 130%; TEXT-DECORATION: none
}
.STYLE5 {
	FONT-SIZE: 12px; COLOR: #ff6600
}
.STYLE5:hover {
	COLOR: #0066ff
}
.STYLE5:active {
	COLOR: #0066ff
}
.STYLE6 {
	FONT-SIZE: 12px; COLOR: #4d5057
}
.STYLE6:hover {
	COLOR: #0066ff
}
.STYLE6:active {
	COLOR: #0066ff
}
.STYLE7 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1f78a0
}
.STYLE7:hover {
	COLOR: #1f78a0
}
.STYLE7:active {
	COLOR: #1f78a0
}
.STYLE8 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066ff
}
.STYLE8:hover {
	COLOR: #ff6600
}
.STYLE8:active {
	COLOR: #ff6600
}
.STYLE9 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4d5057
}
.STYLE10 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1f78a0
}
.STYLE11 {
	FONT-SIZE: 14px; COLOR: #2d3743
}
.STYLE12 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fe4800
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: inline; FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
P {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: inline; FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.login {
	BORDER-RIGHT: #91bacc 1px solid; BORDER-TOP: #91bacc 1px solid; BORDER-LEFT: #91bacc 1px solid; WIDTH: 160px; COLOR: #609bb5; BORDER-BOTTOM: #91bacc 1px solid; HEIGHT: 16px
}
.search {
	BORDER-RIGHT: #91bbcb 1px solid; BORDER-TOP: #91bbcb 1px solid; BORDER-LEFT: #91bbcb 1px solid; WIDTH: 150px; COLOR: #609bb5; BORDER-BOTTOM: #91bbcb 1px solid; HEIGHT: 17px
}
#container {
	BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%
}
#head {
	BACKGROUND-POSITION: 5px 10px; BACKGROUND-IMAGE: url(../image/logo.jpg); MARGIN: 0px auto; WIDTH: 750px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 75px
}
#user {
	PADDING-RIGHT: 0px; PADDING-LEFT: 300px; PADDING-BOTTOM: 0px; PADDING-TOP: 14px; HEIGHT: 25px; TEXT-ALIGN: right
}
#help {
	PADDING-RIGHT: 0px; PADDING-LEFT: 300px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; HEIGHT: 20px; TEXT-ALIGN: right
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 750px; PADDING-TOP: 0px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#main_rim_a {
	BORDER-RIGHT: #c4e1ef 1px solid; BORDER-TOP: #c4e1ef 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #c4e1ef 1px solid; WIDTH: auto; BORDER-BOTTOM: #c4e1ef 1px solid; HEIGHT: auto
}
#main_rim {
	BORDER-RIGHT: #e1ecf2 1px solid; BORDER-TOP: #e1ecf2 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #e1ecf2 1px solid; WIDTH: auto; BORDER-BOTTOM: #e1ecf2 1px solid; HEIGHT: 100%
}
#main_title {
	CLEAR: both; BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(../image/title_bg.jpg); PADDING-BOTTOM: 10px; BORDER-LEFT: #fff 2px solid; WIDTH: auto; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 2px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: auto; TEXT-ALIGN: center
}
#main_text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 30px; WIDTH: auto; PADDING-TOP: 10px; HEIGHT: auto; TEXT-ALIGN: center
}
#main_title_left {
	BORDER-RIGHT: #d1dfe8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1dfe8 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(../images/title_bg_a.jpg) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #d1dfe8 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #d1dfe8 1px solid; HEIGHT: 32px
}
.reg_txt {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; BORDER-LEFT: medium none; WIDTH: 700px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; BORDER-BOTTOM: medium none; FONT-FAMILY: ""; HEIGHT: 400px
}
#reg_title {
	BORDER-BOTTOM: #99ccff 1px solid; TEXT-ALIGN: left
}
#reg_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.needs {
	WIDTH: 330px; HEIGHT: 20px
}
.needsclass {
	FONT-SIZE: 12px; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#ffffff); WIDTH: 180px; HEIGHT: 20px
}
#foot {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 50px; TEXT-ALIGN: center
}
.newbutton {
	BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#4296ef); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
.button1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 80px; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: ו; HEIGHT: 20px; BACKGROUND-COLOR: #4296ef
}
INPUT.needs {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffffff
}
SELECT.needs {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffffff
}
INPUT.needs {
	
}
.STYLE13 {
	COLOR: #ff0000
}
.STYLE14 {
	COLOR: #009900
}
