<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD><TITLE></TITLE><SCRIPT>window.onerror=function(){return true;}</SCRIPT>
<META content="text/html; charset=utf-8" http-equiv="Content-Type">
<LINK charset="UTF-8" href="/cms/cms/templates/290362983835070000/css/style.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY>
<DIV id="wrapper"><!-- left -->
<DIV class="left">
<DIV class="left-top">
<DIV class="tx">&nbsp;</DIV>
<DIV class="name">
<P class="name01">杨开添</P>
<P>漳州市商务局市场科</P></DIV></DIV>
<UL class="left-02">
<LI class="xgmm"><A href="#">修改密码</A></LI>
<LI class="aqtc"><A href="#">安全退出</A></LI></UL>
<UL class="left-03">
<LI><A href="/cms/onlineservice/accept/accept.shtml?act=edit" id="pageLink" target="_self" urn="siteId=-1&amp;linkTitle=项目申报链接">项目报送</A></LI>
<LI><A href="#">项目查询</A></LI></UL></DIV><!-- right -->
<DIV class="right">
<DIV class="right-top">
<DIV style="FLOAT: left"><IMG src="/cms/cms/templates/290362983835070000/images/logo.jpg"></DIV>
<DIV class="time">
<DIV class="time-left">2016-02-17&nbsp;&nbsp;星期三</DIV>
<DIV class="time-right"><SPAN>09</SPAN> <SPAN>45</SPAN> </DIV></DIV>
<DIV class="clear"></DIV></DIV>
<DIV class="cx-wrapper">
<DIV class="cx-top">
<DIV class="cx-title">项目查询</DIV>
<DIV class="cx-right"><A href="#">查询</A></DIV></DIV>
<DIV class="cx-table">
<TABLE border="0" cellpadding="5" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="29" width="48">申请人:</TD>
<TD width="222"><INPUT class="table-input" type="text"></TD>
<TD width="81"><SPAN style="PADDING-LEFT: 12px">流水号:</SPAN></TD>
<TD width="222"><INPUT class="table-input" type="text"></TD>
<TD width="106"><SPAN style="PADDING-LEFT: 3px">审核审批事项:</SPAN></TD>
<TD><INPUT class="table-input" type="text"></TD></TR>
<TR>
<TD height="29">状态:</TD>
<TD><INPUT class="table-input" type="text"></TD>
<TD><SPAN style="PADDING-LEFT: 12px">申请材料:</SPAN></TD>
<TD><INPUT class="table-input" type="text"></TD>
<TD><SPAN style="PADDING-LEFT: 3px">申请日期:</SPAN></TD>
<TD><INPUT class="table-input" type="text"></TD></TR></TBODY></TABLE></DIV></DIV>
<DIV class="right-theme">
<DIV class="theme01" style="WIDTH: 50px">序号</DIV>
<DIV class="theme01" style="WIDTH: 242px">申请人</DIV>
<DIV class="theme01" style="WIDTH: 116px">流水号</DIV>
<DIV class="theme01" style="WIDTH: 152px">审批审核事项</DIV>
<DIV class="theme01" style="WIDTH: 112px">申请日期</DIV>
<DIV class="theme01" style="WIDTH: 137px">当前状态</DIV>
<DIV class="theme01">申报材料</DIV>
<DIV class="theme01" style="WIDTH: 82px">电子印章</DIV></DIV>
<DIV class="list-wrapper">
<DIV class="right-list">
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="76" style="BORDER-RIGHT: #d6d6d6 1px solid" valign="middle" width="50">
<DIV class="list01">01</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="200">
<DIV class="list01 list02">中国石油天然气股份有限公司福建漳州漳浦金湖加油站</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="116">
<DIV class="list01 list03">20151121100003</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="120">
<DIV class="list01 list02">扩建加油站或岸基加油申请</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="112">
<DIV class="list01 list03" style="WIDTH: 112px">2015-11-21</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="135">
<DIV class="list01" style="WIDTH: 135px">等待设区市级办理</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="91">
<DIV class="list01 list04"><A href="#">查看</A></DIV></TD>
<TD style="BORDER-RIGHT: 0px" width="81">
<DIV class="list01" style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px">无</DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class="right-list">
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="76" style="BORDER-RIGHT: #d6d6d6 1px solid" valign="middle" width="50">
<DIV class="list01">01</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="200">
<DIV class="list01 list02">中国石油天然气股份有限公司福建漳州漳浦金湖加油站</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="116">
<DIV class="list01 list03">20151121100003</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="120">
<DIV class="list01 list02">扩建加油站或岸基加油申请</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="112">
<DIV class="list01 list03" style="WIDTH: 112px">2015-11-21</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="135">
<DIV class="list01" style="WIDTH: 135px">等待设区市级办理</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="91">
<DIV class="list01 list04"><A href="#">查看</A></DIV></TD>
<TD style="BORDER-RIGHT: 0px" width="81">
<DIV class="list01" style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px">无</DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class="right-list">
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="76" style="BORDER-RIGHT: #d6d6d6 1px solid" valign="middle" width="50">
<DIV class="list01">01</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="200">
<DIV class="list01 list02">中国石油天然气股份有限公司福建漳州漳浦金湖加油站</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="116">
<DIV class="list01 list03">20151121100003</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="120">
<DIV class="list01 list02">扩建加油站或岸基加油申请</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="112">
<DIV class="list01 list03" style="WIDTH: 112px">2015-11-21</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="135">
<DIV class="list01" style="WIDTH: 135px">等待设区市级办理</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="91">
<DIV class="list01 list04"><A href="#">查看</A></DIV></TD>
<TD style="BORDER-RIGHT: 0px" width="81">
<DIV class="list01" style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px">无</DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class="right-list">
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="76" style="BORDER-RIGHT: #d6d6d6 1px solid" valign="middle" width="50">
<DIV class="list01">01</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="200">
<DIV class="list01 list02">中国石油天然气股份有限公司福建漳州漳浦金湖加油站</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="116">
<DIV class="list01 list03">20151121100003</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="120">
<DIV class="list01 list02">扩建加油站或岸基加油申请</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="112">
<DIV class="list01 list03" style="WIDTH: 112px">2015-11-21</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="135">
<DIV class="list01" style="WIDTH: 135px">等待设区市级办理</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="91">
<DIV class="list01 list04"><A href="#">查看</A></DIV></TD>
<TD style="BORDER-RIGHT: 0px" width="81">
<DIV class="list01" style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px">无</DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class="right-list">
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY>
<TR>
<TD height="76" style="BORDER-RIGHT: #d6d6d6 1px solid" valign="middle" width="50">
<DIV class="list01">01</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="200">
<DIV class="list01 list02">中国石油天然气股份有限公司福建漳州漳浦金湖加油站</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="116">
<DIV class="list01 list03">20151121100003</DIV></TD>
<TD style="PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px" width="120">
<DIV class="list01 list02">扩建加油站或岸基加油申请</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="112">
<DIV class="list01 list03" style="WIDTH: 112px">2015-11-21</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="135">
<DIV class="list01" style="WIDTH: 135px">等待设区市级办理</DIV></TD>
<TD style="BORDER-RIGHT: #d6d6d6 1px solid" width="91">
<DIV class="list01 list04"><A href="#">查看</A></DIV></TD>
<TD style="BORDER-RIGHT: 0px" width="81">
<DIV class="list01" style="BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px">无</DIV></TD></TR></TBODY></TABLE></DIV></DIV></DIV><!-- right end -->
<DIV class="clear"></DIV></DIV>
</BODY></HTML>