/*网页基本信息*/
body {margin:0 auto;text-align:left;color:#4D5057;font:normal 12px "宋体",Tahoma,Arial,Verdana;white-space:normal;line-height:150%;}
/*字体及链接*/
td{
	font-family:"宋体";
	font-size:12px;
	padding: 3px;
	margin-right: 5px;
}
A{color:#0088EE;text-decoration: none;}
A:hover{color:#FF6600}


/*---------------[字体样式]-----------------*/

.STYLE3 {COLOR: #0d930e; LINE-HEIGHT: 130%; TEXT-DECORATION: none}
.STYLE3:hover {	COLOR: #000000; LINE-HEIGHT: 130%; TEXT-DECORATION: none}

.STYLE6{color:#999;font-size: 12px;}

.CP_STYLE7{
	color:#0088EE;
	font-size: 14px;
	text-decoration: underline;
	line-height: 170%;
}

.CP_STYLE8{color:#666666;}

.CP_STYLE9{color:#FF6600;}



/*网页上的图片与文字在同一DIV下.保持中线对齐.以及带链接的IMG上不会出现边框*/
img{
	vertical-align: middle;
	border:none;
}

/*页主体代码*/
#cp_Container{
	width: 780px;
	margin: 0 auto;
	overflow:hidden;
	background-color: #FFFFFF;
}

/*页头部代码*/
#cp_Head{
	height: 55px;
	width: 780px;
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
}
#cp_Logo{
	height: 55px;
	width: 200px;
	float: left;
}
#cp_Nav{
	height: 20px;
	width: 500px;
	float: right;
	text-align: right;
	padding-top: 35px;
}



/**************************按钮的样式***************************/
.submit_cp{
	BACKGROUND: url(../images/submit_C.jpg);
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333333;	
	cursor: pointer;
	border: 1px solid #FF6600;
	padding: 0px 5px;
	font-size: 14px;
	width: 100px;
	background-color: #FFCC66;
}
.submit_cp:hover,.submit_cp:active{color: #000000;BACKGROUND: url(../images/submit_C_cp.jpg);font-weight: bold;}


/*页尾部代码*/
#foot{
	text-align: center;
	height: 30px;
	line-height:150%;
	margin: 0 auto;
	padding: 20px 0px;
	clear: both;
}


/*============================[提示]==================================*/

/*页主体代码*/
#cp_Main{
	height:auto !important;
	height:430px;
	overflow:visible;
	width: 780px;
	margin: 10px auto 0 auto;
	background-color: #FFFFFF;
	padding-top: 10px;
	border-top: 1px solid #EEEEEE;
	min-height: 440px;
	border-bottom: 1px solid #CCCCCC;
}
.cp_main_left{
	float: left;
	width: 270px;
	padding-top: 50px;
}
.cp_main_right{
	float: right;
	width: 500px;
	padding: 20px 0;
}

.cp_title{
	font-size: 16px;
	padding: 10px 0px;
	font-weight: bold;
}
.cp_text{
	font-size: 14px;
	padding: 10px 0px;
	border-bottom: 1px dashed #CCCCCC;
	float: left;
	width: 500px;
	line-height: 160%;
	margin-bottom: 25px;
}
.cp_text_left{float: left;}

.cp_text_right{float: right;}

.cp_tel{
	font-size: 16px;
	padding: 10px 0px;
	float: left;
	width: 500px;
	line-height: 150%;
	color: #0088ee;
	font-weight: bold;
}
