<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- HTML页面解析器 -->
	<bean id="htmlParser" class="com.yuanluesoft.jeaf.htmlparser.cyberneko.CyberNekoHTMLParser"/>
	
	<!-- WAP页面服务 -->
	<bean id="wapPageService" class="com.yuanluesoft.jeaf.wap.spring.WapPageServiceImpl">
		<property name="htmlParser"><ref bean="htmlParser"/></property>
	</bean>
</beans>