<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT>window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
	<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="titleBar" id="titleBar">
					<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top" style="height: 100%; background-color: rgb(255, 255, 255); padding: 8px 8px 8px 8px;">
				<div title="内容区域" id="contentArea">
					<table class="readonlyTable">
						<colgroup>
							<col align="right"/>
							<col width="100%"/>
						</colgroup>
						<tr>
							<td class="label">主题</td>
							<td class="content"><a id="field" urn="name=subject">&lt;主题&gt;</a></td>
						</tr>
						<tr>
							<td class="label">编号</td>
							<td class="content"><a id="field" urn="name=sn">&lt;编号&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">投诉时间</td>
							<td class="content"><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;投诉时间&gt;</a></td>
						</tr>
						<tr>
							<td class="label" valign="top">内容</td>
							<td class="content"><a id="field" urn="name=content">&lt;正文&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">事件辖区</td>
							<td class="content"><a id="field" urn="name=popedom">&lt;事件辖区&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">事件地点</td>
							<td class="content"><a id="field" urn="name=area">&lt;事件地点&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">事件时间</td>
							<td class="content"><a id="field" urn="name=happenTime&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;事件时间&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">诉求类型</td>
							<td class="content"><a id="field" urn="name=type">&lt;诉求类型&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap">投诉人姓名</td>
							<td class="content"><a id="field" urn="name=creator">&lt;投诉人&gt;</a></td>
						</tr>
						<tr>
							<td class="label">附件</td>
							<td class="content"><a id="recordList" urn="recordListName=attachment&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cms.complaint.pojo.Complaint&amp;applicationName=cms/complaint&amp;linkTitle=打开&amp;recordCount=100&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3Dname%26amp;link%3Dtrue&gt;%26lt;名称%26gt;&lt;/A&gt;(&lt;A id%3Dfield urn%3Dname%3DfileSize&gt;%26lt;文件大小%26gt;&lt;/A&gt;)&amp;separatorMode=custom&amp;separatorCustom=、&amp;separatorOfLastRecord=false&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;附件&gt;</a></td>
						</tr>
						<tr>
							<td class="label" valign="top">批转意见</td>
							<td class="content"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap" valign="top">部门办理意见</td>
							<td class="content"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></td>
						</tr>
						<tr>
							<td class="label" nowrap="nowrap" valign="top">回复审核意见</td>
							<td class="content"><a id="field" urn="name=回复审核">&lt;回复审核意见&gt;</a></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>