<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>

<table class="editabledTable">
    <colgroup><col align="right" /><col width="50%" /><col align="right" /><col width="50%" /></colgroup>
    <tr>
        <td nowrap="nowrap">车牌号码:</td>
        <td><input id="field" class="field" title="车牌号码" name="plateNumber" type="text" /></td>
        <td nowrap="nowrap">车主姓名:</td>
        <td><input id="field" class="field" title="车主姓名" name="owner" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">车主电话:</td>
        <td><input id="field" class="field" title="车主电话" name="ownerTel" type="text" /></td>
        <td nowrap="nowrap">籍贯:</td>
        <td><input id="field" class="field" title="籍贯" name="ownerBirthplace" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">家庭住址:</td>
        <td><input id="field" class="field" title="家庭住址" name="ownerAddress" type="text" /></td>
        <td nowrap="nowrap">身份证号:</td>
        <td><input id="field" class="field" title="身份证号" name="ownerIdNumber" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">行车证号:</td>
        <td><input id="field" class="field" title="行车证号" name="licenceNumber" type="text" /></td>
        <td nowrap="nowrap">购买时间:</td>
        <td><input id="field" class="field" title="购买时间" name="buyDate" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">随车联系人:</td>
        <td><input id="field" class="field" title="随车联系人" name="linkman" type="text" /></td>
        <td nowrap="nowrap">随车联系人电话:</td>
        <td><input id="field" class="field" title="随车联系人电话" name="linkmanTel" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">汽车品牌:</td>
        <td><input id="field" class="field" title="汽车品牌" name="brand" type="text" /></td>
        <td nowrap="nowrap">车型:</td>
        <td><input id="field" class="field" title="车型" name="type" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">车体状况:</td>
        <td><input id="field" class="field" title="车体状况" name="vehicleBody" type="text" /></td>
        <td nowrap="nowrap">载重(吨):</td>
        <td><input id="field" class="field" title="载重" name="vehicleLoad" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">车长(米):</td>
        <td><input id="field" class="field" title="车长" name="vehicleLong" type="text" /></td>
        <td nowrap="nowrap">车宽(米):</td>
        <td><input id="field" class="field" title="车宽" name="vehicleWidth" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">主要运输路线:</td>
        <td><input id="field" class="field" title="主要运输路线" name="transportLines" type="text" /></td>
        <td nowrap="nowrap">车辆归属地:</td>
        <td><input id="field" class="field" title="车辆归属地" name="area" type="text" /></td>
    </tr>
    <tr>
        <td nowrap="nowrap">车辆位置:</td>
        <td colspan="3">
       		<span style="display:none">
       			<a id="field" urn="name=location.coordinate.latitude">&lt;车辆位置(实时定位)_坐标_纬度&gt;</a>
       			<a id="field" urn="name=location.coordinate.longitude">&lt;车辆位置(实时定位)_坐标_经度&gt;</a> 
        	</span>
        	<a id="field" urn="name=location.placeName">&lt;所在位置_地名&gt;</a>&nbsp;
        	<a id="pageLink" urn="在地图中显示" target="_self">在地图中显示</a>
        </td>
    </tr>
    <tr>
        <td nowrap="nowrap">备注:</td>
        <td colspan="3"><input id="field" class="field" title="备注" name="remark" type="text" /></td>
    </tr>
    <tr>
        <td colspan="4" align="center"><br />
        <input id="button" class="submitButton" title="提交" tabindex="0" type="button" value="提交" /> <input id="button" class="submitButton" title="删除" tabindex="0" type="button" value="删除" /></td>
    </tr>
</table>