<HTML>
<HEAD><SCRIPT>window.onerror=function(){return true;}</SCRIPT>
<META content="text/html; charset=utf-8" http-equiv="Content-Type">

<LINK href="/cms/cms/css/form.css" id="/cms/cms/css/form.css" rel="stylesheet" type="text/css"></HEAD>
<BODY><!-- subPage begin -->
<FORM action="applicationName=cms/inquiry" class="form" id="inquiry" style="BORDER-BOTTOM: #ffc0c0 1px dotted; BORDER-LEFT: #ffc0c0 1px dotted; MARGIN: 0px; BORDER-TOP: #ffc0c0 1px dotted; BORDER-RIGHT: #ffc0c0 1px dotted" title="表单:提交调查">
<TABLE class="editabledTable">
<COLGROUP>
<COL align="right">
<COL width="100%">
</COLGROUP><TBODY>
<TR>
<TD nowrap valign="bottom">验证码：</TD>
<TD colspan="3"><IMG alt="" id="validateCodeImage" src="/cms/jeaf/validatecode/generateValidateCodeImage.shtml" title="验证码"> <A href="/cms/cms/templatemanage/template.shtml?act=create&amp;applicationName=cms/inquiry&amp;pageName=inquiry&amp;themeId=200361602053790000&amp;siteId=0#" onclick="document.getElementById('validateCodeImage').src=document.getElementById('validateCodeImage').src.split('?')[0] + '?reload=true&amp;seq=' + Math.random();return false;">看不清，换一张</A> </TD></TR>
<TR>
<TD nowrap>输入验证码：</TD>
<TD colspan="3"><INPUT class="field" name="validateCode"></TD></TR>
<TR>
<TD nowrap></TD>
<TD align="center" colspan="3"><BR><INPUT class="submitButton" id="button" tabindex="0" title="提交" type="button" value="提交"> </TD></TR></TBODY></TABLE></FORM><!-- subPage end -->
</BODY></HTML>