<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr">
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <link href="{CONTEXTPATH}/im/webim/template/css/dialog.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="margin: 0px">
         <div class="titleBar">
			<div style="float: left">系统消息</div>
			<div style="float: right"><span class="closeButton" onclick="parent.frames['frameWebim'].webim.closeWebimDialog(false)" onmouseout="className='closeButton';" onmouseover="className='closeButton closeButtonMouseover';">&nbsp;</span></div>
 		</div>
        <div class="contentArea">
        	<a id="field" urn="name=content">&lt;内容&gt;</a>&nbsp;<a class="button" id="pageLink" urn="查看" target="_blank">查看</a>
           	<br/>
           	<div style="text-align: right"><a id="field" urn="name=senderName">&lt;发送人&gt;</a>&nbsp;<a id="field" urn="name=sendTime&amp;fieldFormat=yyyy-MM-dd">&lt;通知时间&gt;</a>&nbsp;&nbsp;</div>
        </div>
	</body>
</html>