<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- IM消息发送 -->
	<bean id="imSender" class="com.yuanluesoft.jeaf.messagecenter.sender.msn.MsnSender">
		<property name="name"><value>im</value></property>
	</bean>
</beans>