<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 网上办事受理服务 -->
	<bean id="onlineServiceAcceptService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.cms.onlineservice.interactive.accept.service.zzbm.OnlineServiceAcceptServiceZzbmImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="siteService"><ref bean="siteService"/></property>
				<property name="sessionService"><ref bean="sessionService"/></property>
				<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
				<property name="smsService"><ref bean="smsService"/></property>
				<property name="exchangeClient"><ref bean="exchangeClient"/></property>
				<property name="pageService"><ref bean="pageService"/></property>
				<property name="timetableService"><ref bean="timetableService"/></property>
				<property name="onlineServiceItemService"><ref bean="onlineServiceItemService"/></property>
				<property name="recordControlService"><ref bean="recordControlService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="getSN">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="send*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="clear*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="process*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
				<prop key="import*">PROPAGATION_NEVER,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 在线受理统计 -->
	<bean id="onlineServiceAcceptStatisticService" class="com.yuanluesoft.cms.onlineservice.interactive.accept.service.spring.OnlineServiceAcceptStatisticServiceImpl">
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="eaiClient"><ref bean="eaiClient"/></property>
		<property name="viewCustomizeService"><ref bean="viewCustomizeService"/></property>
		<property name="workflowExploitService"><ref bean="workflowExploitService"/></property>
	</bean>	
	
	<!-- 在线受理登录页面 -->
	<bean id="onlineServiceAcceptLoginPageService" class="com.yuanluesoft.cms.onlineservice.interactive.accept.pages.AcceptLoginPageService">
		<property name="pageBuilder"><ref bean="pageBuilder"/></property>
		<property name="pageDefineService"><ref bean="pageDefineService"/></property>
		<property name="staticPageBuilder"><ref bean="staticPageBuilder"/></property>
		<property name="templateService"><ref bean="templateService"/></property>
	</bean>	
	
	<!-- 福建省网上审批服务接口 -->
	<bean id="fjwsspService" class="com.yuanluesoft.cms.onlineservice.interactive.accept.fjwssp.service.spring.FjwsspServiceImpl">
		<property name="soapConnectionPool"><ref bean="soapConnectionPool"/></property>
	</bean>
	
	<!-- 福建省网上审批办件列表处理器 -->
	<bean id="fjwsspCasesProcessor" class="com.yuanluesoft.cms.onlineservice.interactive.accept.fjwssp.processor.FjwsspCasesProcessor">
		<property name="formDefineService"><ref bean="formDefineService"/></property>
		<property name="pageBuilder"><ref bean="pageBuilder"/></property>
		<property name="pageDefineService"><ref bean="pageDefineService"/></property>
		<property name="fjwsspService"><ref bean="fjwsspService"/></property>
	</bean>
</beans>