<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr">
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <link href="{CONTEXTPATH}/im/webim/template/css/dialog.css" rel="stylesheet" type="text/css"/>
  	</head>
    <body style="margin: 0px; overflow: hidden">
        <div class="titleBar">
            <div style="float: left">用户列表</div>
            <div style="float: right"><span class="closeButton" onclick="parent.frames['frameWebim'].webim.closeWebimDialog(false)" onmouseout="className='closeButton';" onmouseover="className='closeButton closeButtonMouseover';">&nbsp;</span></div>
        </div>
       	<div class="contentArea">
            <a id="subPage" urn="pageName=base&amp;widthMode=auto&amp;width=&amp;heightMode=auto&amp;height=&amp;cssName=默认CSS&amp;cssUrl=/cms/cms/css/application.css">&lt;系统预置页面: 用户目录树&gt;</a>
        </div>
    </body>
</html>