<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>

<table class="editabledTable">
    <colgroup><col align="right" /><col width="50%" /><col align="right" /><col width="50%" /></colgroup>
    <tr>
      	  <td nowrap="nowrap">货物名称:</td>
          <td><input id="field" class="field" title="货物名称" name="goodsName" type="text" /></td>
          <td nowrap="nowrap">有效期:</td>
          <td>
	          <table border="0" cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                      <td width="50%"><input id="field" class="field" title="有效期开始" name="validityBegin" type="text" /></td>
                      <td nowrap="nowrap">&nbsp;至&nbsp;</td>
                      <td width="50%"><input id="field" class="field" title="有效期结束" name="validityEnd" type="text" /></td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr>
          <td nowrap="nowrap">数量:</td>
          <td><input id="field" class="field" title="数量" name="quantity" type="text" /></td>
          <td nowrap="nowrap">单位:</td>
          <td><input id="field" class="field" title="单位" name="unit" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">运费单价(元):</td>
          <td><input id="field" class="field" title="运费单价" name="freight" type="text" /></td>
          <td nowrap="nowrap">付款方式:</td>
          <td><input id="field" class="field" title="付款方式" name="paymentMode" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">出发地点:</td>
          <td><input id="field" class="field" title="出发地点" name="departureAreas" type="text" /></td>
          <td nowrap="nowrap">目的地点:</td>
          <td><input id="field" class="field" title="目的地点" name="destinationAreas" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">需要的车长(米):</td>
          <td><input id="field" class="field" title="需要的车长" name="vehicleLong" type="text" /></td>
          <td nowrap="nowrap">&nbsp;需要的车宽(米):</td>
          <td><input id="field" class="field" title="需要的车宽" name="vehicleWidth" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">需要的车型:</td>
          <td><input id="field" class="field" title="需要的车型" name="vehicleType" type="text" /></td>
          <td nowrap="nowrap">注意事项:</td>
          <td><input id="field" class="field" title="注意事项" name="notice" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">联系人:</td>
          <td><input id="field" class="field" title="联系人" name="linkman" type="text" /></td>
          <td nowrap="nowrap">联系电话:</td>
          <td><input id="field" class="field" title="联系电话" name="linkmanTel" type="text" /></td>
      </tr>
      <tr>
          <td nowrap="nowrap">备注:</td>
          <td colspan="3"><input id="field" class="field" title="备注" name="remark" type="text" /></td>
      </tr>
    <tr>
        <td colspan="4" align="center"><br />
        <input id="button" class="submitButton" title="提交" tabindex="0" type="button" value="提交" /> <input id="button" class="submitButton" title="删除" tabindex="0" type="button" value="删除" /></td>
    </tr>
</table>