<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
<form title="表单:数据管理:曲线资料" class="form" id="dataCurve" style="width: 100%; height: 100%;" action="applicationName=enterprise/roaddesign">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div id="titleBar" class="titleBar">
				<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				<div tabindex="0" title="上传" class="button" id="button">计算并上传</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
		<div title="内容区域" id="contentArea">
			<table width="100%" class="editabledTable">
				<tr>
					<td align="right" nowrap="">编号&nbsp;</td>
					<td width="100%"><input name="name" title="编号" class="field" id="field" type="text" alt=""></td>
				</tr>
				<tr>
					<td align="right" nowrap="">　桩号&nbsp;</td>
					<td><input name="pile" title="桩号" class="field" id="field" type="text" alt=""></td>
				</tr>
			</table>
			<table width="100%" class="editabledTable" id="detailData">
				<tr>
					<td align="right" nowrap="">左偏角&nbsp;</td>
					<td width="100%"><input name="pj" title="左偏角" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">LY&nbsp;</td>
					<td><input name="ly" title="LY" class="field" id="field" style="background-color: rgb(242, 242, 242);" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">R&nbsp;</td>
					<td><input name="r" title="R" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">LSa&nbsp;</td>
					<td><input name="lsa" title="LSa" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">Ta&nbsp;</td>
					<td><input name="ta" title="Ta" class="field" id="field" style="background-color: rgb(242, 242, 242);" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">LSb&nbsp;</td>
					<td><input name="lsb" title="LSb" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">Tb&nbsp;</td>
					<td><input name="tb" title="Tb" class="field" id="field" style="background-color: rgb(242, 242, 242);" type="text"></td>
				</tr>
				<tr>
					<td align="right" nowrap="">类型&nbsp;</td>
					<td><input name="lx" title="类型" class="field" id="field" type="text"></td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>
</form>
</body>
</html>
