<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
    </head>
    <body style="background-color: #ffffff; margin: 0px">
        <div style="padding-left: 5px; padding-right: 5px; padding-top: 5px"><a id="recordList" urn="recordListName=allOnlineServiceItems&amp;applicationName=cms/onlineservice&amp;linkTitle=办事指南&amp;recordCount=20&amp;recordFormat=&lt;TABLE class%3D&quot;recordTable FCK__ShowTableBorders&quot; onclick%3D&quot;EventUtils.clickElement(getElementsByTagName('a')[0])&quot; border%3D0 cellSpacing%3D0 cellPadding%3D2&gt;         &lt;TBODY&gt;         &lt;TR vAlign%3Dtop&gt;         &lt;TD class%3DrecordImage&gt;&lt;/TD&gt;         &lt;TD class%3DrecordTitle&gt;&lt;A id%3Dfield urn%3Dname%3Dname%26amp;link%3Dtrue%26amp;maxLength%3D66&gt;%26lt;办理事项名称%26gt;&lt;/A&gt;&lt;/TD&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;&amp;separatorMode=newLine&amp;separatorHeight=3&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=directoryName%3D当前目录" target="paging">&lt;全部事项&gt;</a></div>
    </body>
</html>