<html dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <a id="recordList" urn="recordListName=resources&amp;applicationName=cms/sitemanage&amp;linkTitle=记录链接&amp;recordCount=5&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DfirstImageName%26amp;imageWidth%3D480%26amp;imageHeight%3D360%26amp;imageAlign%3Dabsmiddle%26amp;link%3Dtrue&gt;%26lt;记录图片%26gt;&lt;/A&gt;&lt;BR&gt;         &lt;DIV class%3DtitleBar&gt;&lt;/DIV&gt;&lt;A id%3Dfield class%3Dtitle urn%3Dname%3Dsubject%26amp;link%3Dtrue%26amp;maxLength%3D30&gt;%26lt;标题%26gt;&lt;/A&gt;&amp;separatorMode=blank&amp;separatorHeight=5&amp;scrollMode=switch&amp;switchMode=rightSmallImage&amp;autoScaling=true&amp;scrollJoin=true&amp;scrollSpeed=5000&amp;scrollAmount=1&amp;linkOpenMode=_blank&amp;simpleMode=true&amp;emptyPrompt=&amp;extendProperties=siteNames%3D本站点/栏目%26siteIds%3D-1%26resourceTypes%3Dall%26imageResourceOnly%3Dtrue%26containChildren%3Dtrue">&lt;文章列表:本站点/栏目&gt;</a>
    </body>
</html>