<html dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form id="message" class="form" title="表单:留言" action="applicationName=cms/messageboard" style="width: 100%; height: 100%;">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
		<tr>
			<td>
				<div id="titleBar" class="titleBar">
					<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
					<div tabindex="0" title="继续提交" class="button" id="button">继续提交</div>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
				<div title="内容区域" id="contentArea">
				 	<table class="editabledTable" width="100%">
			     		<tr>
							<td>
								常见问题库中有相似的问题，具体内容如下：<br />
							    <table class="readonlyTable">
							        <colgroup><col align="right" /><col width="100%" /></colgroup>
						            <tr>
						                <td class="label" nowrap="nowrap">问题</td>
						                <td class="content"><span id="readonlyField" title="faqQuestion">&lt;常见问题&gt;</span></td>
						            </tr>
						            <tr>
						                <td class="label" valign="top" nowrap="nowrap">解答</td>
						                <td class="content"><span id="readonlyField" title="faqAnswer">&lt;常见问题解答&gt;</span></td>
						            </tr>
						        </table>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</form>
</body>
</html>