<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 远程文档服务 -->
	<bean id="remoteDocumentService" class="com.yuanluesoft.jeaf.document.spring.RemoteDocumentServiceImpl">
		<property name="formDefineService"><ref bean="formDefineService"/></property>
		<property name="temporaryFileManageService"><ref bean="temporaryFileManageService"/></property>
		<property name="attachmentService"><ref bean="attachmentService"/></property>
		<property name="cache"><ref bean="remoteDocumentTaskCache"/></property>
	</bean>
</beans>