<form class="form" id="approvalQuery" title="办理情况查询" action="applicationName=cms/complaint" style="border-right: #ffc0c0 1px dotted; border-top: #ffc0c0 1px dotted; margin: 0px; border-left: #ffc0c0 1px dotted; border-bottom: #ffc0c0 1px dotted">
	<table class="editabledTable">
		<tr>
		    <td>获取详情请输入查询密码：</td>
		    <td><input class="field" id="field" title="查询密码" style="width: 80px" name="approvalQueryPassword" type="text" /></td>
		    <td align="center" colspan="3">&nbsp;<input class="submitButton" id="button" title="查询" tabindex="0" type="button" value="查询" /> </td>
		</tr>
	</table>
</form>
<table class="readonlyTable">
	<colgroup>
		<col align="right"/>
		<col width="100%"/>
	</colgroup>
	<tr>
		<td class="label" valign="top">批转意见</td>
		<td class="content"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap" valign="top">部门办理意见</td>
		<td class="content"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap" valign="top">回复审核意见</td>
		<td class="content"><a id="field" urn="name=回复审核">&lt;回复审核意见&gt;</a></td>
	</tr>
</table>