<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
    </head>
    <body style="background-color: #ffffff; margin: 5px">
        <a id="systemLink" href="/cms/complaint/complaint.shtml" class="button" urn="siteId=-1&amp;siteName=&amp;complaintType=" target="_blank" style="margin-top: 5px; margin-bottom: 3px; float: right; margin-right: 5px;">我要投诉</a>
        <a id="systemLink" href="/cms/sitemanage/applicationIndex.shtml?applicationName=cms/complaint&amp;pageName=complaints" class="button" urn="siteId=-1&amp;siteName=&amp;complaintType=" target="_self" style="margin-top: 5px; margin-bottom: 3px; float: right; margin-right: 5px;">全部投诉</a>
        <br />
        <br />
        <a id="recordList" urn="recordListName=clientComplaints&amp;applicationName=cms/complaint&amp;linkTitle=投诉&amp;recordCount=20&amp;recordFormat=&lt;TABLE class%3D&quot;recordTable FCK__ShowTableBorders&quot; onclick%3D&quot;EventUtils.clickElement(getElementsByTagName('a')[0])&quot; border%3D0 cellSpacing%3D0 cellPadding%3D2&gt;
        &lt;TBODY&gt;
        &lt;TR vAlign%3Dtop&gt;
        &lt;TD class%3DrecordImage&gt;&lt;/TD&gt;
        &lt;TD class%3DrecordTitle&gt;&lt;A id%3Dfield urn%3Dname%3Dsubject%26amp;link%3Dtrue%26amp;maxLength%3D66&gt;%26lt;主题%26gt;&lt;/A&gt;%26nbsp;&lt;A style%3D&quot;COLOR: #666666; FONT-SIZE: 12px&quot; id%3Dfield urn%3Dname%3Dcreated%26amp;fieldFormat%3Dyyyy-MM-dd&gt;%26lt;创建时间%26gt;&lt;/A&gt; &lt;/TD&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;&amp;separatorMode=newLine&amp;separatorHeight=3&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=" target="paging">&lt;我的投诉(客户端)&gt;</a>
    </body>
</html>