/*全局样式*/
body {
	font-family: 宋体;
	font-size: 12px;
}
td {
	font-family: 宋体;
	font-size: 12px
}
a {
	color: #3b5998;
	text-decoration: none;
}
div {
	display: inline-block !important;
	display: block;
}

/*页头*/
.pageHead {
	background-color: #3b5998;
	width: 100%;
	height: 41px;
}
.logo {
	background-image: url(../images/yuanluecms.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	width: 180px;
}

/*应用菜单*/
.applicationMenu {
	text-align: left;
	border: #1d4088 1px solid;
	border-bottom: 0px;
	background-color: #627aad;
	width: 800px;
	height: 30px;
	color: #ffffff;
}
.applicationMenu td {
	color: #ffffff;
	font-weight: bold;
}
.applicationMenu a {
	color: #ffffff;
	font-weight: bold;
}

/*页面主体*/
.pageBodyLeft {
	padding: 10px 5px 5px 5px;
	background-color: #f8f8f8;
	width: 169px;
}
.pageBodyCenter {
	border-left: #909090 1px solid;
	padding: 10px 20px 5px 20px;
	width: 540px;
	height: 700px; 
}
.pageBodyRight {
	padding: 10px 0px 5px 0px;
	width: 220px;
}

/*页面左侧部件*/
.pageBodyLeft .widget {
	padding-bottom: 16px;
	width: 100%;
}
.pageBodyLeft .widget .widgetHead { /*头部*/
	width: 100%;
	font-weight: bold;
}
.pageBodyLeft .widget .widgetTitle { /*标题*/
	font-weight: bold;
}
.pageBodyLeft .widget .widgetBody { /*内容区域*/
	margin: 0px;
	padding-top: 8px;
	width: 100%;
}
.pageBodyLeft .widget .widgetItem { /*条目*/
	padding: 3px 0px 3px 0px;
	width: 100%;
}
.pageBodyLeft .widget .widgetBody a { /*链接*/
	
}

/*页面中部部件*/
.pageBodyCenter .widget {
	padding-bottom: 20px;
	width: 100%;
}
.pageBodyCenter .widget .widgetHead { /*头部*/
	border-bottom: #dddddd 1px solid;
	padding-bottom: 3px;
	width: 100%;
}
.pageBodyCenter .widget .widgetTitle { /*标题*/
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}
.pageBodyCenter .widget .widgetBody { /*主体*/
	margin: 0px;
	padding-top: 6px;
	width: 100%;
}
.pageBodyCenter .widget .widgetItem { /*条目*/
	line-height: 21px
	width: 100%;
}

/*页面右侧部件*/
.pageBodyRight .widget {
	padding-bottom: 16px;
	width: 100%;
}
.pageBodyRight .widget .widgetHead { /*头部*/
	padding: 6px 6px 6px 6px;
	 background-color: #e5e5e5;
	 width: 100%;
}
.pageBodyRight .widget .widgetTitle { /*标题*/
	 font-weight: bold;
}
.pageBodyRight .widget .widgetBody { /*主体*/
	margin: 0px 0px 0px 5px;
	padding-top: 3px;
	width: 100%;
}
.pageBodyRight .widget .widgetItem { /*条目*/
	border-bottom: #e9e9e9 1px solid;
	padding: 3px 3px 3px 3px;
	width: 100%;
}
.pageBodyRight .widget .widgetBody a { /*链接*/
	color: #000000;
}