<HTML dir="ltr">
    <HEAD>
        <TITLE></TITLE>
        <META content="text/html; charset=utf-8" http-equiv="Content-Type">
        <LINK href="{CONTEXTPATH}/jeaf/client/css/day.css" rel="stylesheet" type="text/css">
        <SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
        <STYLE type="text/css">
			.linkImage {
				width: 50px;
				height: 45px;
				background-image:url({CONTEXTPATH}/enterprise/roaddesign/template/dataindex/images/data.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
			.exportImage {
				background-image: url({CONTEXTPATH}/enterprise/roaddesign/template/dataindex/images/export.png);
			}
		</STYLE>
    </HEAD>
    <BODY style="background-color: #fff; margin: 5px">
        <DIV style="margin: 5px">
        <TABLE border="0" cellpadding="3" cellspacing="0" id="record" width="100%">
            <TBODY>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataTraverse" id="systemLink" target="recordWindow" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=dataTraverse">导线资料</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataCrossPoint" id="systemLink" target="recordWindow" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=dataCrossPoint">交点坐标</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataCurve" id="systemLink" target="_blank" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=dataCurve">曲线资料</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataBlock" id="systemLink" target="recordWindow" urn="siteId=-1&amp;applicationName=enterprise/roaddesign&amp;pageName=dataBlock">积木法资料</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage exportImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataTraverseOuput" id="pageLink" target="_self" urn="siteId=-1&amp;linkTitle=成果输出:导线">导线输出</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage exportImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataCrossoverOutput" id="pageLink" target="_self" urn="siteId=-1&amp;linkTitle=成果输出:交点">交点输出</A></TD>
                </TR>
                <TR onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" valign="middle">
                    <TD class="linkImage exportImage"></TD>
                    <TD class="recordTitle"><A href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=dataHeightOutput" id="pageLink" target="_self" urn="siteId=-1&amp;linkTitle=成果输出:地面高">地面高输出</A></TD>
                </TR>
            </TBODY>
        </TABLE>
        </DIV>
    </BODY>
</HTML>