<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
</head>
<body>
<form title="表单:工具:单交点平曲线" class="form" id="singleCurve" style="width: 100%; height: 100%;" action="applicationName=enterprise/roaddesign">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div id="titleBar" class="titleBar">
				<button title="关闭" class="returnButton" onclick="window.closeWindow();">&nbsp;</button>
				<div tabindex="0" title="确定" class="button" id="button">计算</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding: 8px; height: 100%; background-color: rgb(255, 255, 255);">
		<div title="内容区域" id="contentArea">
			<table width="100%" class="editabledTable">
				<tr>
					<td width="105" align="right" nowrap="">路线偏角&nbsp;</td>
					<td width="100%"><input name="driftAngle" title="路线偏角" class="field" id="field" type="text"></td>
				</tr>
				<tr>
					<td width="105" align="right" nowrap="">控制选项&nbsp;</td>
					<td><input name="option" title="控制选项" class="field" id="field" type="text"></td>
				</tr>
			</table>
			<table width="100%" class="editabledTable" id="panelCurveLength">
				<tr>
				</tr>
				<tr>
					<td width="105" align="right" nowrap="">
						<input name="curveLengthEnabled" id="field" type="checkbox" value="on">
						<label id="label_curveLengthEnabled" for="curveLengthEnabled">&nbsp;缓和曲线长</label>&nbsp;
					</td>
					<td width="100%"><input name="curveLength" title="缓和曲线长" class="field" id="field" type="text"></td>
				</tr>
			</table>
			<table width="100%" class="editabledTable" id="panelValue">
				<tr>
					<td width="105" align="right" nowrap=""><span id="labelValue">控制的切线长</span>&nbsp;</td>
					<td width="100%"><input name="value" title="控制的切线长" class="field" id="field" type="text" alt=""></td>
				</tr>
			</table>
			<table width="100%" class="editabledTable" id="panelY0">
				<tr>
					<td width="105" align="right" nowrap="">法向支距&nbsp;</td>
					<td width="100%"><input name="y0" title="法向支距" class="field"
						id="field" type="text" alt=""></td>
				</tr>
			</table>
			<table width="100%" class="editabledTable" id="panelRadius">
				<tr>
					<td width="105" align="right" nowrap="">缓和曲线长LSa&nbsp;</td>
					<td><input name="lsa" title="缓和曲线长LSa" class="field" id="field" type="text" alt=""></td>
				</tr>
				<tr>
					<td align="right" nowrap="">缓和曲线长LSb&nbsp;</td>
					<td><input name="lsb" title="缓和曲线长LSb" class="field" id="field" type="text" alt=""></td>
				</tr>
			</table>
			<center><img src="{CONTEXTPATH}/enterprise/roaddesign/image/djd.bmp"></center>
		</div>
		</td>
	</tr>
</table>
</form>
</body>
</html>
