<table class="readonlyTable">
	<colgroup>
		<col align="right"/>
		<col width="50%"/>
		<col align="right"/>
		<col width="50%"/>
	</colgroup>
	<tr>
		<td class="label">主题</td>
		<td class="content" colspan="3"><a id="field" urn="name=subject">&lt;主题&gt;</a></td>
	</tr>
	<tr>
		<td class="label">编号</td>
		<td class="content"><a id="field" urn="name=sn">&lt;编号&gt;</a></td>
		<td class="label" nowrap="nowrap">提交时间</td>
		<td class="content"><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;提交时间&gt;</a></td>
	</tr>
	<tr>
		<td class="label" valign="top" nowrap="nowrap">被监督单位</td>
		<td class="content" colspan="3"><a id="field" urn="name=unit">&lt;被监督单位&gt;</a></td>
	</tr>
	<tr>
		<td class="label" valign="top">详细说明</td>
		<td class="content" colspan="3"><a id="field" urn="name=content">&lt;正文&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap">提交人姓名</td>
		<td class="content" colspan="3"><a id="field" urn="name=creator">&lt;提交人&gt;</a></td>
	</tr>
	<tr>
		<td class="label">附件</td>
		<td class="content" colspan="3"><a id="recordList" urn="recordListName=attachment&amp;privateRecordList=true&amp;recordClassName=com.yuanluesoft.cms.supervision.pojo.Supervision&amp;applicationName=cms/supervision&amp;linkTitle=打开&amp;recordCount=100&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3Dname%26amp;link%3Dtrue&gt;%26lt;名称%26gt;&lt;/A&gt;(&lt;A id%3Dfield urn%3Dname%3DfileSize&gt;%26lt;文件大小%26gt;&lt;/A&gt;)&amp;separatorMode=custom&amp;separatorCustom=、&amp;separatorOfLastRecord=false&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;emptyPrompt=&amp;extendProperties=">&lt;附件&gt;</a></td>
	</tr>
	<tr>
		<td class="label" valign="top">批转意见</td>
		<td class="content" colspan="3"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap" valign="top">部门办理意见</td>
		<td class="content" colspan="3"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></td>
	</tr>
	<tr>
		<td class="label" nowrap="nowrap" valign="top">回复审核意见</td>
		<td class="content" colspan="3"><a id="field" urn="name=回复审核">&lt;回复审核意见&gt;</a></td>
	</tr>
</table>
