<table class="editabledTable">
    <tbody>
        <tr>
            <td nowrap="nowrap">信息搜索：</td>
            <td><input id="field" class="field" title="关键字" style="width: 230px" name="searchKey" type="text" /></td>
            <td><input id="field" class="field" title="搜索方式" style="width: 72px" name="searchMode" type="text" /></td>
            <td><input id="field" class="field" title="时间范围" style="width: 72px" name="year" type="text" /></td>
            <td colspan="3" align="center"><input id="button" class="submitButton" title="搜索" tabindex="0" type="button" value="搜索" /> </td>
            <td colspan="3" align="center"><input id="button" class="submitButton" title="高级搜索" tabindex="0" type="button" value="高级搜索" /></td>
        </tr>
    </tbody>
</table>