<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr">
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <link href="{CONTEXTPATH}/im/webim/template/css/dialog.css" rel="stylesheet" type="text/css"/>
  	</head>
    <body style="margin: 0px; overflow: hidden">
        <div class="titleBar">
            <div style="float: left">个人设置</div>
            <div style="float: right"><span class="minimizeButton" onclick="parent.frames['frameWebim'].webim.closeWebimDialog(true)" onmouseout="className='minimizeButton';" onmouseover="className='minimizeButton minimizeButtonMouseover';">&nbsp;</span></div>
        </div>
       	<div class="contentArea">
            <form action="applicationName=im/webim" id="imPersonalSetting" title="表单:个人设置">
				<table border="0" cellpadding="3" cellspaceing="0" style="border-collapse: collapse">
					<tr>
					    <td align="right" nowrap>上线后状态：</td>
					    <td width="100%"><input id="field" name="statusText" style="border-bottom: #a0a0a0 1px solid; border-left: #a0a0a0 1px solid; background-color: #ffffff; width: 100%; font-family: 宋体; height: 20px; color: #000000; font-size: 12px; border-top: #a0a0a0 1px solid; border-right: #a0a0a0 1px solid" title="上线后状态" type="text"/></td>
					</tr>
					<tr>
					    <td align="right" nowrap>消息到达时：</td>
					    <td><input id="field" name="playSoundOnReceived" type="checkbox" value="1"/><label id="label_playSoundOnReceived"> 发出声音</label></td>
					</tr>
					<tr>
					    <td align="right" nowrap></td>
					    <td><input id="field" name="setFocusOnReceived" type="checkbox" value="1"/><label id="label_setFocusOnReceived"> 获取焦点</label></td>
					</tr>
					<tr>
					    <td align="right" nowrap></td>
					    <td><input id="field" name="openChatDialogOnReceived" type="checkbox" value="1"/><label id="label_openChatDialogOnReceived"> 弹出对话窗口</label></td>
					</tr>
					<tr>
					    <td align="right" nowrap>发送消息：</td>
					    <td><input id="field" name="ctrlSend" type="checkbox" value="1"/><label id="label_ctrlSend"> CTRL+回车发送消息</label></td>
					</tr>
				</table>
			</form>
        </div>
    </body>
</html>
