<HTML>
<HEAD><META content="text/html; charset=utf-8" http-equiv="Content-Type"><SCRIPT>window.onerror=function(){return true;}</SCRIPT>

</HEAD>
<BODY>
<FORM action="applicationName=cms/onlineservice/accept" class="form" id="acceptQuery" style="MARGIN: 0px" title="表单:项目查询">
<TABLE border="0" cellpadding="3" cellspaceing="0" style="BORDER-COLLAPSE: collapse">
<TBODY>
<TR>
<TD align="right" nowrap>流水号:</TD>
<TD width="100%"><INPUT id="field" name="sn" title="流水号"></TD></TR>
<TR>
<TD align="right" nowrap>状态:</TD>
<TD><INPUT id="field" name="acceptStatus" title="状态"></TD></TR>
<TR>
<TD align="right" nowrap>申报人名称:</TD>
<TD><INPUT id="field" name="creator" title="申报人名称"></TD></TR>
<TR>
<TD align="right" nowrap>项目名称:</TD>
<TD><INPUT id="field" name="itemName" title="项目名称"></TD></TR>
<TR>
<TD align="right" nowrap>开始时间:</TD>
<TD><INPUT id="field" name="createdBegin" title="开始时间"></TD></TR>
<TR>
<TD align="right" nowrap>结束时间:</TD>
<TD><INPUT id="field" name="createdEnd" title="结束时间"></TD></TR></TBODY></TABLE>
<P>&nbsp;</P>
<P><BUTTON id="button" tabindex="0" title="查询">查询</BUTTON></P></FORM><A id="recordList" urn="recordListName=acceptResults&amp;applicationName=cms/onlineservice/accept&amp;searchResults=true&amp;recordCount=5&amp;recordFormat=&lt;A id%3Dfield urn%3Dname%3DitemName%26amp;link%3Dtrue&gt;%26lt;办理事项名称%26gt;&lt;/A&gt;&amp;separatorMode=none&amp;separatorHeight=5&amp;linkOpenMode=_blank&amp;simpleMode=true&amp;emptyPrompt=&amp;extendProperties=">&lt;搜索结果&gt;</A>
</BODY></HTML>