<HTML>
<HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
</HEAD>
<BODY class=dialogBody style="OVERFLOW: hidden">
<DIV style="WIDTH: 360px">
<FORM id=loginForm title=表单:登录 class="form" style="MARGIN: 0px" action=applicationName=jeaf/usermanage&amp;redirectMode=default>
<TABLE cellSpacing=0 cellPadding=3 border=0>
<COLGROUP>
<COL>
<COL width="100%"></COLGROUP>
<TBODY>
<TR>
<TD noWrap>用户名：</TD>
<TD><INPUT id=field title=用户名 alt="" name=userName></TD></TR>
<TR>
<TD>密　码：</TD>
<TD><INPUT id=field title=密码 name=password></TD></TR>
<TR>
<TD></TD>
<TD><INPUT id=field class=checkbox type=checkbox value=true name=rememberUserName><LABEL id=label_rememberUserName for=rememberUserName>&nbsp;记住用户名</LABEL></TD></TR>
<TR>
<TR>
<TD colspan="2" style="COLOR: #ff0000" align=center><A id=systemPrompt urn=&amp;lt;提示信息&amp;gt;>&lt;系统提示&gt;</A></TD></TR>
<TR>
<TD colSpan=2>
<DIV style="BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 3px; PADDING-BOTTOM: 8px; TEXT-ALIGN: right; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px"><BUTTON tabIndex=0 id=button title=登录 class=button>登录</BUTTON>&nbsp;<BUTTON onclick="DialogUtils.closeDialog()" class=button>取消</BUTTON> </DIV></TD></TR></TBODY></TABLE></FORM></DIV></BODY>
</HTML>