<table class="editabledTable" width="100%">
    <colgroup><col align="right" /><col width="100%" /></colgroup>
    <tbody>
        <tr>
            <td nowrap="nowrap">目录：</td>
            <td><input id="field" class="field" title="目录" name="directoryName" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">名称：</td>
            <td><input id="field" class="field" title="名称" name="subject" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">正文：</td>
            <td><input id="field" class="field" title="正文" name="lazyBody.body" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">索引号：</td>
            <td><input id="field" class="field" title="索引号" name="infoIndex" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">开始时间：</td>
            <td><input id="field" class="field" title="开始时间" name="generateDateBegin" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">结束时间：</td>
            <td><input id="field" class="field" title="结束时间" name="generateDateEnd" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">发布机构：</td>
            <td><input id="field" class="field" title="发布机构" name="infoFrom" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">文号：</td>
            <td><input id="field" class="field" title="文号" name="mark" type="text" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap">内容概述：</td>
            <td><input id="field" class="field" title="内容概述" name="summarize" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
            	<input id="button" class="submitButton" title="搜索" tabindex="0" type="button" value="查询" />
            	<input id="button" class="submitButton" title="目录下载" tabindex="0" type="button" value="目录下载" />
            </td>
        </tr>
    </tbody>
</table>