<html>
    <head>
        <title>阅办单</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <style type="text/css">
			body,td{font-family:宋体;font-size:12px}
			pre {
				white-space: pre-wrap; /* css-3 */
				white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
				white-space: -pre-wrap; /* Opera 4-6 */
				white-space: -o-pre-wrap; /* Opera 7 */
				word-wrap: break-word; /* Internet Explorer 5.5+ */
				white-space : normal; /* Internet Explorer 5.5+ */
			}
		</style>
    </head>
    <body onload="window.print();">
        <center>
        <div style="font-family: 黑体; font-size: 22px">阅办单<br />
        &nbsp;</div>
        </center>
        <table border="1" cellspacing="0" bordercolor="#000000" cellpadding="5" width="100%" style="border-bottom: medium none; border-left: medium none; border-collapse: collapse; border-top: medium none; border-right: medium none">
            <colgroup><col valign="middle" align="left" width="100" /><col valign="middle" width="50%" /><col valign="middle" align="left" width="100" /><col valign="middle" width="50%" /></colgroup>
            <tbody>
                <tr>
                    <td valign="top">主题</td>
                    <td colspan="3"><a id="field" urn="name=subject">&lt;主题&gt;</a></td>
                </tr>
                <tr>
                    <td>编号</td>
                    <td><a id="field" urn="name=sn">&lt;编号&gt;</a></td>
                    <td>提交时间</td>
                    <td><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd">&lt;提交时间&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top">内容</td>
                    <td colspan="3">
                    <pre><a id="field" urn="name=content">&lt;正文&gt;</a></pre>
                    </td>
                </tr>
                <tr>
                    <td>截止日期</td>
                    <td><a id="field" urn="name=workingDate&amp;fieldFormat=yyyy-MM-dd">&lt;办理截止时间&gt;</a></td>
                    <td nowrap="nowrap">是否允许公开</td>
                    <td><a id="field" urn="name=publicPass">&lt;是否同意公开&gt;</a></td>
                </tr>
                <tr>
                    <td>提交人姓名</td>
                    <td><a id="field" urn="name=creator">&lt;提交人姓名&gt;</a></td>
                    <td>邮箱</td>
                    <td><a id="field" urn="name=creatorMail">&lt;邮箱&gt;</a></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><a id="field" urn="name=creatorTel">&lt;联系电话&gt;</a></td>
                    <td>手机</td>
                    <td colspan="3"><a id="field" urn="name=creatorMobile">&lt;手机&gt;</a></td>
                </tr>
                <tr>
                    <td>附件</td>
                    <td colspan="3"><a id="field" urn="">&lt;附件&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">办公室意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=办公室">&lt;办公室意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">领导批示意见 </td>
                    <td height="100" valign="top" colspan="3"><a id="field" urn="name=领导批示">&lt;领导批示意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">批转意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">部门办理意见 </td>
                    <td height="100" valign="top" colspan="3"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </body>
</html>