<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 奖牌板和分数板 -->
	<bean id="SportsEventsViewService" class="com.yuanluesoft.sportsevents.contestschedule.service.spring.SportsEventsViewServiceImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="eaiClient"><ref bean="eaiClient"/></property>
		<property name="viewCustomizeService"><ref bean="viewCustomizeService"/></property>
	</bean>
</beans>