<span class="systemPrompt"><a id="systemPrompt" urn="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IMG src=&quot;{CONTEXTPATH}/cms/image/warn.gif&quot; align=absMiddle&gt;&amp;nbsp;&amp;lt;提示信息&amp;gt;">&lt;系统提示&gt;</a></span>

<br><br>公司注册，注册个人时删除本表格
<table class="editabledTable">
	<col align="right"/>
	<col width="50%"/>
	<col align="right"/>
	<col width="50%"/>
	<tr>
		<td noWrap>公司名称:</td>
		<td><input class="field" id="field" title="公司名称/个人姓名" name="name"></td>
		<td noWrap>所在地区:</td>
		<td><input class="field" id="field" title="所在地区" name="area"></td>
	</tr>
	<tr>
		<td noWrap>地址:</td>
		<td><input class="field" id="field" title="地址" name="address"></td>
		<td noWrap>营业执照号码:</td>
		<td><input class="field" id="field" title="公司营业执照号码" name="businessLicence"></td>
	</tr>
	<tr>
		<td noWrap>电话:</td>
		<td><input class="field" id="field" title="电话" name="tel"></td>
		<td noWrap>传真:</td>
		<td><input class="field" id="field" title="传真" name="fax"></td>
	</tr>
	<tr>
		<td noWrap>法人代表:</td>
		<td><input class="field" id="field" title="法人代表" name="legalRepresentative"></td>
		<td noWrap>法人代表身份证号码:</td>
		<td><input class="field" id="field" title="法人代表身份证号码" name="representativeIdNumber"></td>
	</tr>
	<tr>
		<td noWrap>法人代表联系电话:</td>
		<td><input class="field" id="field" title="法人代表联系电话" name="representativeTel"></td>
		<td noWrap>公司网址:</td>
		<td><input class="field" id="field" title="公司网址" name="webSite"></td>
	</tr>
	<tr>
		<td noWrap>联系人:</td>
		<td><input class="field" id="field" title="联系人" name="linkman"></td>
		<td noWrap>联系电话:</td>
		<td><input class="field" id="field" title="联系电话" name="linkmanTel"></td>
	</tr>
	<tr>
		<td noWrap>联系人QQ:</td>
		<td><input class="field" id="field" title="联系人QQ" name="linkmanQQ"></td>
		<td noWrap>联系人邮箱:</td>
		<td><input class="field" id="field" title="联系人邮箱" name="linkmanMail"></td>
	</tr>
	<tr>
		<td noWrap>登录用户名:</td>
		<td><input class="field" id="field" title="登录用户名" name="loginName"></td>
		<td noWrap></td>
		<td></td>
	</tr>
	<tr>
		<td noWrap>登录密码:</td>
		<td><input class="field" id="field" title="登录密码" name="password"></td>
		<td noWrap>登录密码确认:</td>
		<td><input class="field" id="field" title="登录密码确认" name="passwordConfirm"></td>
	</tr>
	<tr>
		<td noWrap>备注:</td>
		<td colspan="3"><input class="field" id="field" title="备注" name="remark"></td>
	</tr>
	<tr>
		<td valign="bottom" nowrap="nowrap">验证码：</td>
		<td colspan="3"><img id="validateCodeImage" title="验证码" alt="" src="{CONTEXTPATH}/jeaf/validatecode/generateValidateCodeImage.shtml" /> <a onclick="document.getElementById('validateCodeImage').src=document.getElementById('validateCodeImage').src.split('?')[0] + '?reload=true&amp;seq=' + Math.random();return false;" href="#">看不清，换一张</a> </td>
	</tr>
	<tr>
		<td nowrap="nowrap">输入验证码：</td>
		<td colspan="3"><input class="field" name="validateCode" type="text"></td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<br>
			<input class="submitButton" id="button" title="注册" tabindex="0" type="button" value="注册">
		</td>
	</tr>
</table>

<br><br>公司个人，注册公司时删除本表格
<table class="editabledTable">
	<col align="right"/>
	<col width="50%"/>
	<col align="right"/>
	<col width="50%"/>
	<tr>
		<td noWrap>姓名:</td>
		<td><input class="field" id="field" title="公司名称/个人姓名" name="name"></td>
		<td noWrap>所在地区:</td>
		<td><input class="field" id="field" title="所在地区" name="area"></td>
	</tr>
	<tr>
		<td noWrap>地址:</td>
		<td><input class="field" id="field" title="地址" name="address"></td>
		<td noWrap>联系电话:</td>
		<td><input class="field" id="field" title="联系电话" name="linkmanTel"></td>
	</tr>
	<tr>
		<td noWrap>联系QQ:</td>
		<td><input class="field" id="field" title="联系人QQ" name="linkmanQQ"></td>
		<td noWrap>联系邮箱:</td>
		<td><input class="field" id="field" title="联系人邮箱" name="linkmanMail"></td>
	</tr>
	<tr>
		<td noWrap>登录用户名:</td>
		<td><input class="field" id="field" title="登录用户名" name="loginName"></td>
		<td noWrap></td>
		<td></td>
	</tr>
	<tr>
		<td noWrap>登录密码:</td>
		<td><input class="field" id="field" title="登录密码" name="password"></td>
		<td noWrap>登录密码确认:</td>
		<td><input class="field" id="field" title="登录密码确认" name="passwordConfirm"></td>
	</tr>
	<tr>
		<td noWrap>备注:</td>
		<td colspan="3"><input class="field" id="field" title="备注" name="remark"></td>
	</tr>
	<tr>
		<td valign="bottom" nowrap="nowrap">验证码：</td>
		<td colspan="3"><img id="validateCodeImage" title="验证码" alt="" src="{CONTEXTPATH}/jeaf/validatecode/generateValidateCodeImage.shtml" /> <a onclick="document.getElementById('validateCodeImage').src=document.getElementById('validateCodeImage').src.split('?')[0] + '?reload=true&amp;seq=' + Math.random();return false;" href="#">看不清，换一张</a> </td>
	</tr>
	<tr>
		<td nowrap="nowrap">输入验证码：</td>
		<td colspan="3"><input class="field" name="validateCode" type="text"></td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<br>
			<input class="submitButton" id="button" title="注册" tabindex="0" type="button" value="注册">
		</td>
	</tr>
</table>