<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--用户安全服务 -->
	<bean id="userSecurityService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.usermanage.security.service.spring.UserSecurityServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="siteService"><ref bean="siteService"/></property>
				<property name="sessionService"><ref bean="sessionService"/></property>
				<property name="mailService"><ref bean="mailService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_NOT_SUPPORTED,-Exception</prop>
			</props>
		</property>
	</bean>
</beans>