<!DOCTYPE html>
<html dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<SCRIPT type="text/javascript">window.onerror=function(){return true;}</SCRIPT>
	<style type="text/css">
		.recordImage {
			background-image:url({CONTEXTPATH}/enterprise/roaddesign/template/projectlist/images/road.png) !important;
			background-position: 6px 3px !important;
		}
	</style>
</head>
<body style="margin: 5px; background-color: rgb(255, 255, 255);">
<a class="button" id="pageLink"	style="margin-top: 5px; margin-right: 5px; margin-bottom: 3px; float: right;" href="/cms/sitemanage/applicationPage.shtml?applicationName=enterprise/roaddesign&amp;pageName=project" target="_self" urn="siteId=-1&amp;linkTitle=新建项目">新建项目</a>
<br>
<br>
<div style="margin-right: 5px; margin-left: 5px;">
<table class="recordTable" id="record" style="visibility:hidden" onclick="EventUtils.clickElement(getElementsByTagName('a')[0])" border="0" cellspacing="0" cellpadding="2">
	<tr valign="top">
		<td class="recordImage"></td>
		<td class="recordTitle">
			<span id="name">&lt;项目名称&gt;</span><br>
			<span id="created" style="color: rgb(102, 102, 102); font-size: 12px;">&lt;创建时间&gt;</span>
		</td>
	</tr>
</table>
</div>
</body>
</html>