<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 数据交换客户端 -->
	<bean id="exchangeClient" class="com.yuanluesoft.exchange.client.spring.ExchangeClientImpl" init-method="startup" destroy-method="shutdown">
		<property name="name"><value>海事局内网服务器</value></property>
		<property name="attachmentBaseDirectory"><value>//198.20.8.22/fjmsacms_intranet</value></property> <!-- 附件基准目录 -->
		<property name="exchangeDataSenders">
			<list>
				<bean class="com.yuanluesoft.exchange.client.sender.tcp.ExchangeDataSenderImpl">
					<property name="exchangeServerHost"><value>198.20.1.39</value></property> <!-- 服务器地址 -->
					<property name="exchangeServerPort"><value>4444</value></property> <!-- 服务器端口 -->
					<property name="receiverNames"><value>海事局外网服务器</value></property> <!-- 接收方名称列表,用逗号分隔 -->
					<property name="realTimeExchange"><value>true</value></property> <!-- 是否实时交换 -->
					<property name="fileExchangeByCopy"><value>true</value></property> <!-- 是否通过文件拷贝的方式来文件交换,如果部署了防篡改软件,设置为true -->
					<property name="pathsCopyDisabled"> <!-- 禁止使用拷贝方式的目录列表(如:防篡改软件中被排除的目录),通过文件拷贝的方式来文件交换时有效 -->
						<value> 
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/leadermail,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/complaint,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/messageboard,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/supervision,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/onlineservice/accept,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/onlineservice/complaint,
							//198.20.8.22/fjmsacms_intranet/WEB-INF/attachments/cms/onlineservice/consult
						</value>
					</property>
					<property name="fileExchangePath"><value>//198.20.8.22/fjmsacms_internet</value></property> <!-- 文件交换路径,通过文件拷贝的方式来文件交换时有效 -->
					<property name="fileExchangeSpeed"><value>10000000</value></property> <!-- 交换速度,以字节/秒为单位,通过文件拷贝的方式来文件交换时有效,默认每秒10M字节 -->
					<property name="reliableCopy"><value>false</value></property> <!-- 是否可靠的拷贝,通过网闸做数据交换时,设置为false -->
				</bean>
			</list>
		</property>
		<property name="businessDefineService"><ref bean="businessDefineService"/></property>
		<property name="databaseService"><ref bean="databaseService"/></property>
		<property name="distributionService"><ref bean="distributionService"/></property>
		<property name="temporaryFileManageService"><ref bean="temporaryFileManageService"/></property>
		<property name="permissibleHqls"> <!-- 允许执行的HQL -->
			<map>
				<entry key="databaseService"><list>
					<value>from SiteResource SiteResource where</value>
				</list></entry>
			</map>
		</property>
		<property name="permissibleSqls"> <!-- 允许执行的SQL -->
			<map>
				<entry key="databaseService"><list>
					<value>select * from cms_resource where</value>
				</list></entry>
			</map>
		</property>
	</bean>
</beans>