<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/hibernate-config.xml,
   /WEB-INF/runtime-config.xml,
   /WEB-INF/schedule-config.xml,
   /WEB-INF/credit/bank/spring-config.xml,
   /WEB-INF/credit/enterprisecredit/agricultural/spring-config.xml,
   /WEB-INF/credit/regist/spring-config.xml,
   
   /WEB-INF/jeaf/cache/spring-config.xml,
   /WEB-INF/jeaf/spring-config.xml,
   /WEB-INF/jeaf/application/spring-config.xml,
   /WEB-INF/jeaf/application/builder/spring-config.xml,
   /WEB-INF/jeaf/system/spring-config.xml,
   /WEB-INF/jeaf/dialog/spring-config.xml,
   /WEB-INF/jeaf/security/spring-config.xml,
   /WEB-INF/jeaf/sensitive/spring-config.xml,
   /WEB-INF/jeaf/sessionmanage/spring-config.xml,
   /WEB-INF/jeaf/opinionmanage/spring-config.xml,
   /WEB-INF/jeaf/formula/spring-config.xml,
   /WEB-INF/jeaf/struts/spring-config.xml,
   /WEB-INF/jeaf/business/spring-config.xml,
   /WEB-INF/jeaf/view/spring-config.xml,
   /WEB-INF/jeaf/form/spring-config.xml,
   /WEB-INF/jeaf/htmleditor/spring-config.xml,
   /WEB-INF/jeaf/filetransfer/spring-config.xml,
   /WEB-INF/jeaf/attachmentmanage/spring-config.xml,
   /WEB-INF/jeaf/dataimport/spring-config.xml,
   /WEB-INF/jeaf/lock/spring-config.xml,
   /WEB-INF/jeaf/image/spring-config.xml,
   /WEB-INF/jeaf/video/spring-config.xml,
   /WEB-INF/jeaf/validatecode/spring-config.xml,
   /WEB-INF/jeaf/mail/spring-config.xml,
   /WEB-INF/jeaf/usermanage/spring-config.xml,
   /WEB-INF/jeaf/usermanage/member/spring-config.xml,
   /WEB-INF/jeaf/usermanage/security/spring-config.xml,
   /WEB-INF/jeaf/htmlparser/spring-config.xml,
   /WEB-INF/jeaf/numeration/spring-config.xml,
   /WEB-INF/jeaf/distribution/spring-config.xml,
   /WEB-INF/jeaf/messagecenter/spring-config.xml,
   /WEB-INF/jeaf/messagecenter/messenger/spring-config.xml,
   /WEB-INF/jeaf/messagecenter/msn/spring-config.xml,
   /WEB-INF/jeaf/messagecenter/sms/spring-config.xml,
   /WEB-INF/jeaf/messagecenter/im/spring-config.xml,
   /WEB-INF/jeaf/sso/spring-config.xml,
   /WEB-INF/jeaf/rss/spring-config.xml,
   /WEB-INF/jeaf/stat/spring-config.xml,
   /WEB-INF/jeaf/report/spring-config.xml,
   /WEB-INF/jeaf/sms/spring-config.xml,
   /WEB-INF/jeaf/weather/spring-config.xml,
   /WEB-INF/jeaf/payment/spring-config.xml,
   /WEB-INF/jeaf/payment/cebbank/spring-config.xml,
   /WEB-INF/jeaf/payment/cibbank/spring-config.xml,
   /WEB-INF/jeaf/payment/abcbank/spring-config.xml,
   /WEB-INF/jeaf/payment/ccbbank/spring-config.xml,
   /WEB-INF/jeaf/payment/icbcbank/spring-config.xml,
   /WEB-INF/jeaf/payment/bocbank/spring-config.xml,
   /WEB-INF/jeaf/view/sqlview/spring-config.xml,
   /WEB-INF/jeaf/workflow/spring-config.xml,
   /WEB-INF/jeaf/point/spring-config.xml,
   /WEB-INF/jeaf/gps/spring-config.xml,
   /WEB-INF/jeaf/timetable/spring-config.xml,
   /WEB-INF/jeaf/fingerprint/spring-config.xml,
   /WEB-INF/jeaf/document/spring-config.xml,
   /WEB-INF/jeaf/word/spring-config.xml,
   /WEB-INF/jeaf/client/spring-config.xml,
   /WEB-INF/portal/spring-config.xml,
   /WEB-INF/eai/eai-client-config.xml,
   /WEB-INF/eai/eai-server-config.xml,
   
   /WEB-INF/exchange/server/spring-config.xml,
   /WEB-INF/exchange/client/spring-config.xml,
   /WEB-INF/webmail/spring-config.xml,
   /WEB-INF/workflow/workflow-client-config.xml,
   /WEB-INF/workflow/workflow-server-config.xml,
   /WEB-INF/im/spring-config.xml,
   /WEB-INF/im/webim/spring-config.xml,
   /WEB-INF/im/cs/spring-config.xml,
   /WEB-INF/bbs/usermanage/spring-config.xml,
   /WEB-INF/bbs/forum/spring-config.xml,
   /WEB-INF/bbs/article/spring-config.xml,
   /WEB-INF/bbs/templatemanage/spring-config.xml,
   /WEB-INF/cms/sitemanage/spring-config.xml,
   /WEB-INF/cms/templatemanage/spring-config.xml,
   /WEB-INF/cms/pagebuilder/spring-config.xml,
   /WEB-INF/cms/siteresource/spring-config.xml,
   /WEB-INF/cms/capture/spring-config.xml,
   /WEB-INF/cms/smssend/spring-config.xml,
   /WEB-INF/cms/smsreceive/spring-config.xml,
   /WEB-INF/cms/smssubscription/spring-config.xml,
   /WEB-INF/cms/rsssubscription/spring-config.xml
   /WEB-INF/cms/correction/spring-config.xml,
   /WEB-INF/cms/comment/spring-config.xml,
   /WEB-INF/cms/advert/spring-config.xml,
   /WEB-INF/cms/publicservice/spring-config.xml,
   /WEB-INF/cms/complaint/spring-config.xml,
   /WEB-INF/cms/leadermail/spring-config.xml,
   /WEB-INF/cms/messageboard/spring-config.xml,
   /WEB-INF/cms/inquiry/spring-config.xml,
   /WEB-INF/cms/advice/spring-config.xml,
   /WEB-INF/cms/scene/spring-config.xml,
   /WEB-INF/cms/interview/spring-config.xml,
   /WEB-INF/cms/interview/collect/spring-config.xml,
   /WEB-INF/cms/infopublic/spring-config.xml,
   /WEB-INF/cms/infopublic/request/spring-config.xml,
   /WEB-INF/cms/onlineservice/spring-config.xml,
   /WEB-INF/cms/onlineservice/accept/spring-config.xml,
   /WEB-INF/cms/evaluation/spring-config.xml,
   /WEB-INF/cms/monitor/spring-config.xml,
   /WEB-INF/cms/photocollect/spring-config.xml,
   /WEB-INF/cms/situation/spring-config.xml,
   /WEB-INF/wechat/spring-config.xml,
   /WEB-INF/microblog/spring-config.xml,
   /WEB-INF/j2oa/document/spring-config.xml,
   /WEB-INF/j2oa/dispatch/spring-config.xml,
   /WEB-INF/j2oa/receival/spring-config.xml,
   /WEB-INF/j2oa/supervise/spring-config.xml,
   /WEB-INF/j2oa/addresslist/spring-config.xml,
   /WEB-INF/j2oa/businesstrip/spring-config.xml,
   /WEB-INF/j2oa/calendar/spring-config.xml,
   /WEB-INF/j2oa/leave/spring-config.xml,
   /WEB-INF/j2oa/loan/spring-config.xml,
   /WEB-INF/j2oa/meeting/spring-config.xml,
   /WEB-INF/j2oa/reimburse/spring-config.xml,
   /WEB-INF/j2oa/todo/spring-config.xml,
   /WEB-INF/j2oa/databank/spring-config.xml,
   /WEB-INF/j2oa/attendance/spring-config.xml,
   /WEB-INF/j2oa/book/spring-config.xml,
   /WEB-INF/j2oa/exchange/spring-config.xml,
   /WEB-INF/j2oa/bulletin/spring-config.xml,
   /WEB-INF/j2oa/info/spring-config.xml,
   /WEB-INF/j2oa/infocontribute/spring-config.xml,
   /WEB-INF/archives/spring-config.xml,
   /WEB-INF/archives/administrative/spring-config.xml,
   /WEB-INF/fet/tradestat/spring-config.xml,
   /WEB-INF/fet/project/spring-config.xml,
   /WEB-INF/traffic/spring-config.xml,
   /WEB-INF/traffic/expenses/spring-config.xml,
   /WEB-INF/traffic/expressway/spring-config.xml,
   /WEB-INF/traffic/busline/spring-config.xml,
   /WEB-INF/bidding/enterprise/spring-config.xml,
   /WEB-INF/bidding/project/spring-config.xml,
   /WEB-INF/bidding/project/signup/spring-config.xml,
   /WEB-INF/bidding/project/ask/spring-config.xml,
   /WEB-INF/bidding/project/report/spring-config.xml,
   /WEB-INF/bidding/biddingroom/spring-config.xml,
   /WEB-INF/municipal/facilities/spring-config.xml,
   /WEB-INF/dpc/keyproject/spring-config.xml,
   /WEB-INF/dpc/keyproject/report/spring-config.xml,
   /WEB-INF/dpc/investmentproject/spring-config.xml,
   /WEB-INF/enterprise/project/spring-config.xml,
   /WEB-INF/enterprise/quality/spring-config.xml,
   /WEB-INF/enterprise/assess/spring-config.xml,
   /WEB-INF/enterprise/workreport/spring-config.xml,
   /WEB-INF/enterprise/iso/spring-config.xml,
   /WEB-INF/enterprise/exam/spring-config.xml,
   /WEB-INF/enterprise/exam/question/spring-config.xml,
   /WEB-INF/enterprise/exam/learn/spring-config.xml,
   /WEB-INF/enterprise/workload/spring-config.xml,
   /WEB-INF/enterprise/evaluation/mutual/spring-config.xml,
   /WEB-INF/enterprise/evaluation/department/spring-config.xml,
   /WEB-INF/logistics/usermanage/spring-config.xml,
   /WEB-INF/logistics/vehicle/spring-config.xml,
   /WEB-INF/logistics/supply/spring-config.xml,
   /WEB-INF/logistics/complaint/spring-config.xml,
   /WEB-INF/logistics/mobile/spring-config.xml,
   /WEB-INF/msa/declare/spring-config.xml,
   /WEB-INF/msa/seafarer/spring-config.xml,
   /WEB-INF/msa/exam/spring-config.xml,
   /WEB-INF/msa/lawmen/spring-config.xml,
   /WEB-INF/chd/evaluation/spring-config.xml,
   /WEB-INF/chd/evaluation/data/spring-config.xml,
   /WEB-INF/chd/evaluation/selfeval/spring-config.xml,
   /WEB-INF/land/landcertificate/spring-config.xml,
   /WEB-INF/land/declare/spring-config.xml,
   /WEB-INF/aic/barcode/spring-config.xml,
   /WEB-INF/railway/evaluation/spring-config.xml,
   /WEB-INF/railway/event/spring-config.xml,
   /WEB-INF/lss/insurance/spring-config.xml,
   /WEB-INF/lss/cardquery/spring-config.xml,
   /WEB-INF/sportsevents/contestschedule/spring-config.xml,
   /WEB-INF/fdi/industry/spring-config.xml,
   /WEB-INF/fdi/customer/spring-config.xml,
   /WEB-INF/fdi/project/spring-config.xml,
   /WEB-INF/cms/onlineservice/faq/spring-config.xml,
   /WEB-INF/telex/spring-config.xml,
   /WEB-INF/telex/send/spring-config.xml,
   /WEB-INF/telex/receive/spring-config.xml,
   /WEB-INF/appraise/spring-config.xml,
   /WEB-INF/appraise/appraiser/spring-config.xml,
   /WEB-INF/job/company/spring-config.xml,
   /WEB-INF/job/talent/spring-config.xml,
   /WEB-INF/qualification/spring-config.xml,
   /WEB-INF/qualification/beauty/spring-config.xml,
   /WEB-INF/educ/student/spring-config.xml,
   /WEB-INF/educ/teach/spring-config.xml,
   /WEB-INF/educ/train/spring-config.xml,
   /WEB-INF/onlinesignup/spring-config.xml,
   
   /WEB-INF/job/apply/spring-config.xml</param-value>
 </context-param>
 <filter>
  <filter-name>pageFilter</filter-name>
  <filter-class>com.yuanluesoft.jeaf.filter.PageFilter</filter-class>
  <init-param>
   <param-name>disabledKeywords</param-name>
   <param-value>emplate.shtml,personalIndex,jeaf/application</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>wapPageFilter</filter-name>
  <filter-class>com.yuanluesoft.jeaf.filter.WapPageFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>pageFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>wapPageFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>defaultServlet</servlet-name>
  <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
  <init-param>
   <param-name>debug</param-name>
   <param-value>0</param-value>
  </init-param>
  <init-param>
   <param-name>listings</param-name>
   <param-value>false</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>SpringContextServlet</servlet-name>
  <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>FileDownloadServlet</servlet-name>
  <servlet-class>com.yuanluesoft.jeaf.filetransfer.FileDownloadServlet</servlet-class>
  <load-on-startup>4</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>FileUploadServlet</servlet-name>
  <servlet-class>com.yuanluesoft.jeaf.filetransfer.FileUploadServlet</servlet-class>
  <load-on-startup>5</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ClientServlet</servlet-name>
  <servlet-class>com.yuanluesoft.jeaf.client.ClientServlet</servlet-class>
  <load-on-startup>6</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>MonitorServlet</servlet-name>
  <servlet-class>com.yuanluesoft.cms.monitor.servlet.MonitorServlet</servlet-class>
  <load-on-startup>7</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>JvmMonitorServlet</servlet-name>
  <servlet-class>com.yuanluesoft.jeaf.monitor.JvmMonitorServlet</servlet-class>
  <load-on-startup>8</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>com.yuanluesoft.jeaf.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/customise/complaint</param-name>
   <param-value>/WEB-INF/customise/complaint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/customise/shifang</param-name>
   <param-value>/WEB-INF/customise/shifang/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/view</param-name>
   <param-value>/WEB-INF/jeaf/view/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/validatecode</param-name>
   <param-value>/WEB-INF/jeaf/validatecode/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/dialog</param-name>
   <param-value>/WEB-INF/jeaf/dialog/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/tools</param-name>
   <param-value>/WEB-INF/jeaf/tools/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/lock</param-name>
   <param-value>/WEB-INF/jeaf/lock/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/sso</param-name>
   <param-value>/WEB-INF/jeaf/sso/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/stat</param-name>
   <param-value>/WEB-INF/jeaf/stat/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/usermanage</param-name>
   <param-value>/WEB-INF/jeaf/usermanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/messagecenter</param-name>
   <param-value>/WEB-INF/jeaf/messagecenter/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/fingerprint</param-name>
   <param-value>/WEB-INF/jeaf/fingerprint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/portal</param-name>
   <param-value>/WEB-INF/portal/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/workflow</param-name>
   <param-value>/WEB-INF/workflow/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/webmail</param-name>
   <param-value>/WEB-INF/webmail/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/sitemanage</param-name>
   <param-value>/WEB-INF/cms/sitemanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/siteresource</param-name>
   <param-value>/WEB-INF/cms/siteresource/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/complaint</param-name>
   <param-value>/WEB-INF/cms/complaint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/preapproval</param-name>
   <param-value>/WEB-INF/cms/preapproval/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/inquiry</param-name>
   <param-value>/WEB-INF/cms/inquiry/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/infopublic</param-name>
   <param-value>/WEB-INF/cms/infopublic/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/templatemanage</param-name>
   <param-value>/WEB-INF/cms/templatemanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/fet/tradestat</param-name>
   <param-value>/WEB-INF/fet/tradestat/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/leadermail</param-name>
   <param-value>/WEB-INF/cms/leadermail/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/fet/project</param-name>
   <param-value>/WEB-INF/fet/project/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bbs/usermanage</param-name>
   <param-value>/WEB-INF/bbs/usermanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bbs/forum</param-name>
   <param-value>/WEB-INF/bbs/forum/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bbs/article</param-name>
   <param-value>/WEB-INF/bbs/article/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bbs/templatemanage</param-name>
   <param-value>/WEB-INF/bbs/templatemanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/usermanage/member</param-name>
   <param-value>/WEB-INF/jeaf/usermanage/member/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/traffic</param-name>
   <param-value>/WEB-INF/traffic/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/traffic/expenses</param-name>
   <param-value>/WEB-INF/traffic/expenses/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/traffic/expressway</param-name>
   <param-value>/WEB-INF/traffic/expressway/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/traffic/busline</param-name>
   <param-value>/WEB-INF/traffic/busline/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/publicservice</param-name>
   <param-value>/WEB-INF/cms/publicservice/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/advice</param-name>
   <param-value>/WEB-INF/cms/advice/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/supervision</param-name>
   <param-value>/WEB-INF/cms/supervision/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/infopublic/request</param-name>
   <param-value>/WEB-INF/cms/infopublic/request/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/infopublic/opinion</param-name>
   <param-value>/WEB-INF/cms/infopublic/opinion/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/usermanage/security</param-name>
   <param-value>/WEB-INF/jeaf/usermanage/security/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/payment</param-name>
   <param-value>/WEB-INF/jeaf/payment/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/enterprise</param-name>
   <param-value>/WEB-INF/bidding/enterprise/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/project</param-name>
   <param-value>/WEB-INF/bidding/project/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/biddingroom</param-name>
   <param-value>/WEB-INF/bidding/biddingroom/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/project/signup</param-name>
   <param-value>/WEB-INF/bidding/project/signup/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/messageboard</param-name>
   <param-value>/WEB-INF/cms/messageboard/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/scene</param-name>
   <param-value>/WEB-INF/cms/scene/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/interview</param-name>
   <param-value>/WEB-INF/cms/interview/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/exchange</param-name>
   <param-value>/WEB-INF/j2oa/exchange/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/document</param-name>
   <param-value>/WEB-INF/j2oa/document/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/dispatch</param-name>
   <param-value>/WEB-INF/j2oa/dispatch/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/receival</param-name>
   <param-value>/WEB-INF/j2oa/receival/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/addresslist</param-name>
   <param-value>/WEB-INF/j2oa/addresslist/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/bulletin</param-name>
   <param-value>/WEB-INF/j2oa/bulletin/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/businesstrip</param-name>
   <param-value>/WEB-INF/j2oa/businesstrip/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/calendar</param-name>
   <param-value>/WEB-INF/j2oa/calendar/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/leave</param-name>
   <param-value>/WEB-INF/j2oa/leave/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/loan</param-name>
   <param-value>/WEB-INF/j2oa/loan/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/meeting</param-name>
   <param-value>/WEB-INF/j2oa/meeting/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/memorabilia</param-name>
   <param-value>/WEB-INF/j2oa/memorabilia/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/reimburse</param-name>
   <param-value>/WEB-INF/j2oa/reimburse/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/todo</param-name>
   <param-value>/WEB-INF/j2oa/todo/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/databank</param-name>
   <param-value>/WEB-INF/j2oa/databank/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/eai</param-name>
   <param-value>/WEB-INF/eai/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/system</param-name>
   <param-value>/WEB-INF/jeaf/system/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/archives</param-name>
   <param-value>/WEB-INF/archives/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/archives/administrative</param-name>
   <param-value>/WEB-INF/archives/administrative/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/onlineservice</param-name>
   <param-value>/WEB-INF/cms/onlineservice/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/onlineservice/accept</param-name>
   <param-value>/WEB-INF/cms/onlineservice/accept/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/onlineservice/complaint</param-name>
   <param-value>/WEB-INF/cms/onlineservice/complaint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/onlineservice/consult</param-name>
   <param-value>/WEB-INF/cms/onlineservice/consult/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/dataimport</param-name>
   <param-value>/WEB-INF/jeaf/dataimport/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/comment</param-name>
   <param-value>/WEB-INF/cms/comment/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/correction</param-name>
   <param-value>/WEB-INF/cms/correction/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cin/geotechnical</param-name>
   <param-value>/WEB-INF/cin/geotechnical/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/project/ask</param-name>
   <param-value>/WEB-INF/bidding/project/ask/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/sms</param-name>
   <param-value>/WEB-INF/jeaf/sms/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/smssubscription</param-name>
   <param-value>/WEB-INF/cms/smssubscription/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/sms/emay</param-name>
   <param-value>/WEB-INF/jeaf/sms/emay/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/municipal/facilities</param-name>
   <param-value>/WEB-INF/municipal/facilities/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/dpc/keyproject</param-name>
   <param-value>/WEB-INF/dpc/keyproject/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/project</param-name>
   <param-value>/WEB-INF/enterprise/project/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/bidding</param-name>
   <param-value>/WEB-INF/enterprise/bidding/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/iso</param-name>
   <param-value>/WEB-INF/enterprise/iso/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/customer</param-name>
   <param-value>/WEB-INF/enterprise/customer/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/workflow</param-name>
   <param-value>/WEB-INF/jeaf/workflow/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/dpc/keyproject/report</param-name>
   <param-value>/WEB-INF/dpc/keyproject/report/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/assess</param-name>
   <param-value>/WEB-INF/enterprise/assess/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/workreport</param-name>
   <param-value>/WEB-INF/enterprise/workreport/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/attendance</param-name>
   <param-value>/WEB-INF/j2oa/attendance/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/supply</param-name>
   <param-value>/WEB-INF/logistics/supply/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/usermanage</param-name>
   <param-value>/WEB-INF/logistics/usermanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/vehicle</param-name>
   <param-value>/WEB-INF/logistics/vehicle/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/personnel</param-name>
   <param-value>/WEB-INF/j2oa/personnel/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/book</param-name>
   <param-value>/WEB-INF/j2oa/book/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/dpc/fiveyearproject</param-name>
   <param-value>/WEB-INF/dpc/fiveyearproject/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/rsssubscription</param-name>
   <param-value>/WEB-INF/cms/rsssubscription/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/bidding/project/report</param-name>
   <param-value>/WEB-INF/bidding/project/report/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/sessionmanage</param-name>
   <param-value>/WEB-INF/jeaf/sessionmanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/capture</param-name>
   <param-value>/WEB-INF/cms/capture/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/application</param-name>
   <param-value>/WEB-INF/jeaf/application/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/quality</param-name>
   <param-value>/WEB-INF/enterprise/quality/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/im/webim</param-name>
   <param-value>/WEB-INF/im/webim/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/msa/declare</param-name>
   <param-value>/WEB-INF/msa/declare/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/opinionmanage</param-name>
   <param-value>/WEB-INF/jeaf/opinionmanage/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/numeration</param-name>
   <param-value>/WEB-INF/jeaf/numeration/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/msa/seafarer</param-name>
   <param-value>/WEB-INF/msa/seafarer/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/bank</param-name>
   <param-value>/WEB-INF/credit/bank/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/serviceorg</param-name>
   <param-value>/WEB-INF/credit/serviceorg/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/enterprise</param-name>
   <param-value>/WEB-INF/credit/enterprise/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/enterprise</param-name>
   <param-value>/WEB-INF/credit/enterprise/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/enterprisecredit/agricultural</param-name>
   <param-value>/WEB-INF/credit/enterprisecredit/agricultural/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/credit/regist</param-name>
   <param-value>/WEB-INF/credit/regist/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/msa/exam</param-name>
   <param-value>/WEB-INF/msa/exam/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/htmleditor</param-name>
   <param-value>/WEB-INF/jeaf/htmleditor/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/evaluation</param-name>
   <param-value>/WEB-INF/cms/evaluation/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/gps</param-name>
   <param-value>/WEB-INF/jeaf/gps/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/mobile</param-name>
   <param-value>/WEB-INF/logistics/mobile/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/complaint</param-name>
   <param-value>/WEB-INF/logistics/complaint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/chd/evaluation</param-name>
   <param-value>/WEB-INF/chd/evaluation/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/chd/evaluation/declare</param-name>
   <param-value>/WEB-INF/chd/evaluation/declare/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/chd/evaluation/data</param-name>
   <param-value>/WEB-INF/chd/evaluation/data/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/chd/evaluation/selfeval</param-name>
   <param-value>/WEB-INF/chd/evaluation/selfeval/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/im/cs</param-name>
   <param-value>/WEB-INF/im/cs/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/im</param-name>
   <param-value>/WEB-INF/im/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/logistics/farmproduce</param-name>
   <param-value>/WEB-INF/logistics/farmproduce/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/msa/fees</param-name>
   <param-value>/WEB-INF/msa/fees/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/land/landcertificate</param-name>
   <param-value>/WEB-INF/land/landcertificate/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/advert</param-name>
   <param-value>/WEB-INF/cms/advert/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/exam</param-name>
   <param-value>/WEB-INF/enterprise/exam/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/exam/question</param-name>
   <param-value>/WEB-INF/enterprise/exam/question/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/exam/learn</param-name>
   <param-value>/WEB-INF/enterprise/exam/learn/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/dpc/investmentproject</param-name>
   <param-value>/WEB-INF/dpc/investmentproject/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/aic/barcode</param-name>
   <param-value>/WEB-INF/aic/barcode/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/workload</param-name>
   <param-value>/WEB-INF/enterprise/workload/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/supervise</param-name>
   <param-value>/WEB-INF/j2oa/supervise/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/evaluation/mutual</param-name>
   <param-value>/WEB-INF/enterprise/evaluation/mutual/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/enterprise/evaluation/department</param-name>
   <param-value>/WEB-INF/enterprise/evaluation/department/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/railway/event</param-name>
   <param-value>/WEB-INF/railway/event/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/railway/evaluation</param-name>
   <param-value>/WEB-INF/railway/evaluation/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/lss/insurance</param-name>
   <param-value>/WEB-INF/lss/insurance/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/lss/cardquery</param-name>
   <param-value>/WEB-INF/lss/cardquery/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/sportsevents/contestschedule</param-name>
   <param-value>/WEB-INF/sportsevents/contestschedule/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/application/builder</param-name>
   <param-value>/WEB-INF/jeaf/application/builder/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/sensitive</param-name>
   <param-value>/WEB-INF/jeaf/sensitive/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/msa/lawmen</param-name>
   <param-value>/WEB-INF/msa/lawmen/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/smssend</param-name>
   <param-value>/WEB-INF/cms/smssend/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/smsreceive</param-name>
   <param-value>/WEB-INF/cms/smsreceive/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/interview/collect</param-name>
   <param-value>/WEB-INF/cms/interview/collect/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/monitor</param-name>
   <param-value>/WEB-INF/cms/monitor/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/monitor/infopublic</param-name>
   <param-value>/WEB-INF/cms/monitor/infopublic/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/monitor/sms</param-name>
   <param-value>/WEB-INF/cms/monitor/sms/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/fdi/customer</param-name>
   <param-value>/WEB-INF/fdi/customer/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/fdi/project</param-name>
   <param-value>/WEB-INF/fdi/project/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/fdi/industry</param-name>
   <param-value>/WEB-INF/fdi/industry/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/timetable</param-name>
   <param-value>/WEB-INF/jeaf/timetable/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/photocollect</param-name>
   <param-value>/WEB-INF/cms/photocollect/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/onlineservice/faq</param-name>
   <param-value>/WEB-INF/cms/onlineservice/faq/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/asc/complaint</param-name>
   <param-value>/WEB-INF/asc/complaint/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/asc/consult</param-name>
   <param-value>/WEB-INF/asc/consult/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/telex/receive/cryptic</param-name>
   <param-value>/WEB-INF/telex/receive/cryptic/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/telex/receive/plain</param-name>
   <param-value>/WEB-INF/telex/receive/plain/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/telex/send/cryptic</param-name>
   <param-value>/WEB-INF/telex/send/cryptic/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/telex/send/plain</param-name>
   <param-value>/WEB-INF/telex/send/plain/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/telex</param-name>
   <param-value>/WEB-INF/telex/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/appraise</param-name>
   <param-value>/WEB-INF/appraise/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/appraise/appraiser</param-name>
   <param-value>/WEB-INF/appraise/appraiser/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/word</param-name>
   <param-value>/WEB-INF/jeaf/word/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/client</param-name>
   <param-value>/WEB-INF/jeaf/client/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/land/declare</param-name>
   <param-value>/WEB-INF/land/declare/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/infocontribute</param-name>
   <param-value>/WEB-INF/j2oa/infocontribute/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/j2oa/info</param-name>
   <param-value>/WEB-INF/j2oa/info/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/wechat</param-name>
   <param-value>/WEB-INF/wechat/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/microblog</param-name>
   <param-value>/WEB-INF/microblog/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/job/apply</param-name>
   <param-value>/WEB-INF/job/apply/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/job/company</param-name>
   <param-value>/WEB-INF/job/company/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/job/talent</param-name>
   <param-value>/WEB-INF/job/talent/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cms/situation</param-name>
   <param-value>/WEB-INF/cms/situation/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/video</param-name>
   <param-value>/WEB-INF/jeaf/video/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/mail</param-name>
   <param-value>/WEB-INF/jeaf/mail/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/document</param-name>
   <param-value>/WEB-INF/jeaf/document/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/jeaf/weather</param-name>
   <param-value>/WEB-INF/jeaf/weather/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/message</param-name>
   <param-value>/WEB-INF/message/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/emp</param-name>
   <param-value>/WEB-INF/emp/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/composition</param-name>
   <param-value>/WEB-INF/composition/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/qualification</param-name>
   <param-value>/WEB-INF/qualification/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/qualification/beauty</param-name>
   <param-value>/WEB-INF/qualification/beauty/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/educ/student</param-name>
   <param-value>/WEB-INF/educ/student/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/onlinesignup</param-name>
   <param-value>/WEB-INF/onlinesignup/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/educ/teach</param-name>
   <param-value>/WEB-INF/educ/teach/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/educ/train</param-name>
   <param-value>/WEB-INF/educ/train/struts-config.xml</param-value>
  </init-param>
  
  <load-on-startup>3</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>AxisServlet</servlet-name>
  <display-name>Apache-Axis Servlet</display-name>
  <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminServlet</servlet-name>
  <display-name>Axis Admin Servlet</display-name>
  <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
  <load-on-startup>100</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>SOAPMonitorService</servlet-name>
  <display-name>SOAPMonitorService</display-name>
  <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
  <init-param>
   <param-name>SOAPMonitorPort</param-name>
   <param-value>5001</param-value>
  </init-param>
  <load-on-startup>100</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/servlet/AxisServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>*.jws</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SOAPMonitorService</servlet-name>
  <url-pattern>/SOAPMonitor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.shtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileDownloadServlet</servlet-name>
  <url-pattern>/attachments/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileUploadServlet</servlet-name>
  <url-pattern>/fileUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ClientServlet</servlet-name>
  <url-pattern>/client/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MonitorServlet</servlet-name>
  <url-pattern>/monitorService</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JvmMonitorServlet</servlet-name>
  <url-pattern>/jvmMonitorService</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <mime-mapping>
  <extension>wsdl</extension>
  <mime-type>text/xml</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>xsd</extension>
  <mime-type>text/xml</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>xls</extension>
  <mime-type>vnd.ms-excel</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>rar</extension>
  <mime-type>application/rar</mime-type>
 </mime-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.jws</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/jeaf/pageNotFound.jsp</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/jeaf/systemError.jsp</location>
 </error-page>
 <taglib>
  <taglib-uri>/WEB-INF/struts-bean</taglib-uri>
  <taglib-location>/WEB-INF/jeaf/struts-bean.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/WEB-INF/struts-logic</taglib-uri>
  <taglib-location>/WEB-INF/jeaf/struts-logic.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/WEB-INF/struts-html</taglib-uri>
  <taglib-location>/WEB-INF/jeaf/struts-html.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/WEB-INF/struts-ext</taglib-uri>
  <taglib-location>/WEB-INF/jeaf/struts-ext.tld</taglib-location>
 </taglib>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Protected Area</web-resource-name>
   <url-pattern>/*</url-pattern>
   <http-method>PUT</http-method>
   <http-method>DELETE</http-method>
   <http-method>HEAD</http-method>
   <http-method>OPTIONS</http-method>
   <http-method>TRACE</http-method>
  </web-resource-collection>
  <auth-constraint/>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
