<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 公文交换服务 -->
	<bean id="exchangeDocumentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.j2oa.exchange.service.spring.ExchangeDocumentServiceImpl" init-method="init">
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="messageService"><ref bean="messageService"/></property>
				<property name="orgService"><ref bean="orgService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="issue*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="unissue*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="sign*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
</beans>