form a:active.menu {
	font-family: 宋体;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

form a:visited.menu {
	font-family: 宋体;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

form a:link.menu {
	font-family: 宋体;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

form a:hover.menu {
	font-family: 宋体;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

form {
	font-size:12px;
	font-family:宋体;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
form td {
	font-size:12px;
	font-family:宋体;
}
.field {
	font-family: 宋体;
	font-size: 12px;
	line-height: 1.3em;
	color: #000000;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #909090;
	padding: 2px;
}
.required {
	background-color: #ffffcc !important;
}

form textarea {
	font-family: 宋体;
	font-size: 12px;
	overflow:auto;
	width:100%;
	padding: 3px 3px 3px 3px;
	border:1px solid #909090;
	height: auto !important;
	line-height: 1.3em;
}
form pre {
	font-size:12px; 
	font-family:宋体;
	line-height:16px;
	margin:0px;
	word-wrap:break-word
}
.button {
	color: #000000;
	padding: 3px 6px 3px 6px !important;
	padding: 3px 0px 0px 0px;
	width: auto;
	height: auto;
	line-height:12px;
	border:1px solid #808080;
	background-color: buttonface;
	font-size: 12px;
}
.selectButton {
	background-repeat:no-repeat;
	cursor:pointer;
	width:13px !important;;
	background-position: left center;
	background-image: url(../../jeaf/common/img/select.gif)
}
.dropDownButton {
	background-repeat:no-repeat;
	cursor:pointer;
	width:13px !important;;
	background-position: left center;
	background-image: url(../../jeaf/common/img/dropdown.gif)
}

/*触摸屏选择器*/
.touchPicker {
	position: absolute;
	width: 308px; 
	top: 200px;
	left: 200px;
	border: 1px solid #f8f8f8;
	background-color: #ffffff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #000000;
}
.touchPicker .touchPickerTitle {
	height: 30px;
	line-height: 30px;
	padding-left: 6px;
	border-bottom: 1px solid #33afdd;
}
.touchPicker .pickerBody {
 	line-height: 18px;
}
.touchPicker .touchPickerOkButton, .touchPicker .touchPickerCancelButton {
	 height: 32px;
	 line-height: 32px;
	 text-align: center;
	 border-top: 1px solid #f0f0f0;
}
.touchPicker .touchPickerOkButtonFocus, .touchPicker .touchPickerCancelButtonFocus {
	background-color: #f0f0f0;
}
.touchPicker .touchPickerCancelButton {
 	border-right: 1px solid #f0f0f0;
}

/*触摸屏选择器:列表条目*/
.touchPicker .listItem {
	border-bottom: 1px solid #f0f0f0;
	height: 30px;
	padding: 3px 5px 3px 5px;
}

/*触摸屏选择器:日期选择*/
.touchPicker .datePicker .yearMonthPicker { /*日期选择器:年月表格*/
	background: #fff;
	border: #f0f0f0 1px solid;
	border-bottom-style: none;
}
.touchPicker .datePicker .dayTable, .touchPicker .datePicker .dayTable td { /*日期选择器:“天”表格*/
	border: #f0f0f0 1px solid;
	border-collapse: collapse;
	background-color: #fff;
}
.touchPicker .datePicker .dayTable .selectedDay { /*日期选择器:选中的天*/
	background-color: #33afdd;
}
.touchPicker .datePicker .yearMonthPicker .yearPicker, .touchPicker .datePicker .yearMonthPicker .monthPicker { /*年月选择器*/
	width: 108px;
	height: 28px;
	border: #f0f0f0 1px solid;
}
.touchPicker .datePicker .yearMonthPicker .yearPicker {  /*日期选择器:年选择器*/
	width: 168px;
}
.touchPicker .datePicker .monthPicker .pickerItem { /*日期选择器:年选择器条目*/
	width: 36px;
}
.touchPicker .datePicker .pickerItem { /*日期选择器:年选择器条目*/
	line-height: 28px;
}
.touchPicker .datePicker .selectedPickerItem { /*选中的选择器条目*/
	text-align: center;
	background-image: none;
}

/*触摸屏选择器:数字选择*/
.touchPicker .numberPicker { /*数字选择器*/
	width: 50px;
	height: 105px;
	margin-top: 16px;
	margin-bottom: 16px;
	background-image: url(../../jeaf/common/img/number_picker.png);
	background-repeat: repeat-x;
	border: 1px solid #f0f0f0;
}
.touchPicker .numberPickerSeparator { /*数字分隔符*/
	font-size: 24px;
	padding-left: 6px;
	padding-right: 6px;
}
.touchPicker .numberPicker .pickerItem { /*数字选择器条目*/
	display: block;
	text-align: center;
	font-size: 24px;
	width: 50px;
	height: 35px;
	line-height: 35px;
	color: #ccc;
}
.touchPicker .numberPicker .selectedPickerItem{ /*选中的数字选择器条目*/
	font-size: 24px;
	color: #000;
}

/*日期选择*/
.datePicker .yearMonthPicker { /*日期选择器:年月表格*/
	background: #e6e6e6;
	border: #ddd 1px solid;
	border-bottom-style: none;
}
.datePicker .yearMonthPicker .yearPicker, .datePicker .yearMonthPicker .monthPicker { /*年月选择器*/
	width: 126px;
	height: 24px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
}
.datePicker .yearMonthPicker .yearPicker {  /*日期选择器:年选择器*/
	width: 168px;
	margin-right: 6px;
}
.datePicker .pickerItem { /*日期选择器:年选择器条目*/
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	width: 42px;
	color: #ccc;
}
.datePicker .yearPicker .pickerItem { /*日期选择器:年选择器条目*/
	width: 56px;
}
.datePicker .selectedPickerItem { /*选中的选择器条目*/
	font-size: 14px;
	color: #000;
}
.datePicker .selectedPickerItem .dropDownButton {
	display: inline-block;
	width: 16px;
	background-position: right center;
	background-image: url(../../jeaf/common/img/dropdown.gif);
	background-repeat: no-repeat;
}
.datePicker .dayTable, .datePicker .dayTable td { /*日期选择器:“天”表格*/
	border: #ddd 1px solid;
	border-collapse: collapse;
	background-color: #fcfcfc;
}
.datePicker .dayTable .week { /*日期选择器:星期*/
	height: 30px;
	font-size: 12px;
	background-color: #eee;
}
.datePicker .dayTable .day { /*日期选择器:天*/
	font-size: 12px;
	height: 25px;
	cursor: pointer;
	padding: 3px 5px 3px 5px;
}
.datePicker .dayTable .selectedDay { /*日期选择器:选中的天*/
	background-color: #33afdd;
}
.datePicker .dayTable .today { /*日期选择器:今天*/
	color: red !important;
}
.datePicker .dayTable .weekend { /*日期选择器:周末*/
	color: #0174df;
}

.divlist {
	font-size:12px;
	font-family:宋体;
	padding-left:3px;
	padding-top:3px;
	border-width:1px solid #BBCBD6;
	overflow:auto;
	width:100%;
	height:100%;
	background-color:#ffffff;
	padding:0px;
}
.radio,.checkbox {
	border:none;
	width: 12px !important;
	height: 12px !important; 
	width: 15px;
	height: 15px;
 	background: none;
	vertical-align: middle;
	margin-right: 3px;
}
.menubar {
	font-size:12px;
	font-family:宋体;
	position:absolute;
	background-color:white;
	border:1px outset white;
	width:100px;
 	cursor:hand
 }
.menunormal {
	font-size:12px;
	font-family:宋体;
	background:transparent;
	color:black;
	border:1px solid white;
	height:22px;
}
.menuover {
	font-size:12px;
	font-family:宋体;
	border:1px solid white;
	background-color:#328efe;
	color:white;
	height:22px;
}
.listbar {
	line-height: 16px;
	background-color: white;
	border: #666 1px solid;
	cursor: pointer;
	margin: 0px;
	font-size: 12px;
	font-family: 宋体;
	display :block;
	position: absolute;
	outline:none;
	top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*ie6*/
    width: expression(document.documentElement.clientWidth - 2);
    height: expression(document.documentElement.clientHeight - 2);
}
.listnormal {
	font-size: 12px;
	font-family:宋体;
	background:transparent;
	color:black;
	border:1px solid white;
}
.listover {
	font-size: 12px;
	font-family:宋体;
	border:1px solid white;
	background: #328efe;
	color:white;
}
.contentTable {
	background: #dbdce3;
}
.table, .table .tdtitle, .table .tdcontent {
	border: #b0b0b0 1px solid;
	border-collapse: collapse;
}
.tdtitle { /*字段标题*/
	background-color: #ecf0f9;
	padding: 5px 5px 5px 5px;
}
.tdcontent { /*内容框*/
	background-color: #ffffff;
	padding: 3px 3px 3px 3px !important;
	word-break: break-all;
	/*word-wrap: break-word;*/
	line-height: 16px;
}
.row {
	padding:3px
}
.readonlyrow {
	padding:5px
}

form a:visited {
	font-size: 12px;
	font-family:宋体;
	font-weight: none;
	text-decoration: none;
	color: #000000;
}

form a:link {
	font-size: 12px;
	font-family:宋体;
	text-decoration: none;
	font-weight: none;
	color: #000000;
}

form a:hover {
	font-size: 12px;
	font-family:宋体;
	font-weight: none;
	text-decoration: none;
	color: #FF0000;
}

/*视图相关*/
.view{background:#dbdce3; font-size:12px; font-family:宋体;line-height:16px;margin:0;word-wrap:break-word}
.viewHeader{text-align:center; background-color:#E9F3FC; font-weight:bold; padding-left:3px;padding-right:3px;padding-top:5px;padding-bottom:5px}
.viewData{padding-left:3px;padding-right:3px;padding-top:5px;padding-bottom:5px}
.viewColOdd{background-color:ffffff}
.viewColEven{background-color:ffffff}

/*页面信息相关*/
.viewPageBar{padding-top:6px;line-height:20px}
.viewRecordCount{padding-top:2px; padding-right:10px}
/*第一页*/
.firstPageLinkImage{display:none;}
.firstPageLinkText{display:none;cursor:pointer}
.firstPageLinkImageDisable{display:none;}
.firstPageLinkTextDisable{display:none;}
/*上一页*/
.previousPageLinkImage{}
.previousPageLinkText{padding-top:2px; padding-right:5px;cursor:pointer}
.previousPageLinkImageDisable{}
.previousPageLinkTextDisable{padding-top:2px; padding-right:5px;}
/*下一页*/
.nextPageLinkImage{}
.nextPageLinkText{padding-top:2px; padding-left:5px;cursor:pointer}
.nextPageLinkImageDisable{}
.nextPageLinkTextDisable{padding-top:2px; padding-left:5px;}
/*最后一页*/
.lastPageLinkImage{display:none;}
.lastPageLinkText{display:none;cursor:pointer}
.lastPageLinkImageDisable{display:none;}
.lastPageLinkTextDisable{display:none;}
/*页跳转*/
.pageNumber{display:none;}
.pageNumberInput{}
/*当前页*/
.curPageNo{padding-left:3px;padding-right:3px;padding-top:1px; font-weight:bold}
.pageNo{padding-left:3px;padding-right:3px;padding-top:1px;}
.viewPageBar a:visited {line-height:20px}
.viewPageBar a:link {line-height:20px}
.viewPageBar a:hover {line-height:20px}

/*视图操作相关*/
.viewActionBar{height:28px; padding-left:5px;}
.viewActionDefaultImage{}
.viewActionLeftNormal{cursor:pointer;width:4px;height:24px;background-image:url(../image/button_left.gif);background-repeat:no-repeat;}
.viewActionMiddleNormal{cursor:pointer;height:24px;background-image:url(../image/button_center.gif);background-repeat:repeat-x;}
.viewActionRightNormal{cursor:pointer;width:4px;height:24px;background-image:url(../image/button_right.gif);background-repeat:no-repeat;}
.viewActionTextNormal{cursor:pointer;padding-left:5px;padding-top:7px;padding-right:5px; color:#ffffff; font-weight:bold; line-height:12px}
.viewActionLeftOver{cursor:pointer}
.viewActionMiddleOver{cursor:pointer}
.viewActionRightOver{cursor:pointer}
.viewActionTextOver{cursor:pointer; padding-top:3px;}
.viewActionSpace{width:10px}

/*图片按钮,动态宽度*/
.imgButtonLeftNormal, .imgButtonLeftOver {
	cursor:pointer;
	width:4px;
	height:24px;
	line-height:12px;
	background-image:url(../image/button_left.gif);
	background-repeat:no-repeat;
	background-position: right top;
	border-width: 0px;
	font-size: 12px;
	font-weight:bold;
	padding-top:6px;
}
.imgButtonMiddleNormal, .imgButtonMiddleOver {
	cursor:pointer;
	height:24px;
	line-height:12px;
	background-image:url(../image/button_center.gif);
	background-repeat:repeat-x;
	color:#ffffff;
	font-size: 12px;
	font-weight:bold;
	border-width:0px;
	padding-top:6px;
	padding-left:5px;
	padding-right:5px;
}
.imgButtonRightNormal, .imgButtonRightOver {
	cursor:pointer;
	width:4px;
	height:24px;
	line-height:12px;
	background-image:url(../image/button_right.gif);
	background-repeat:no-repeat;
	border-width: 0px;
	font-size: 12px;
	font-weight:bold;
	padding-top:6px;
}

.prompt{width:100%; text-align:center; font-size:18px; font-family:宋体; padding-top:50px}

/*TAB页签*/
.tabBarLeft {
	display: inline-block;
	width: 2px;
}
.tabBarBottomLine {
	border-top: #3d7cdd 1px solid;
	height: 8px;
	margin-top: -1px;
}
.tab {
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	color: black;
	border: #3d7cdd 1px solid;
	background-color: #84b2e7;
	padding: 4px 6px 4px 6px;
	margin-right: -1px;
}
.tabSelected {
	color: #000;
	background-color: #fff;
	border-bottom: #fff 1px solid;
	padding-top: 5px;
}
.tabSeparation {

}

.htmleditor {
	border: #cccccc 1px solid;
}
.htmleditor .toolbarSet { /*编辑器工具栏集合*/
	background-color: #f0f0ee;
	border-bottom: #cccccc 1px solid;
	cursor: arrow;
}
.htmleditor .toolbar { /*编辑器工具栏*/
	padding: 1px 1px 1px 1px;
	display: inline-block;
	overflow: hidden;
	height: 22px !important;
	height: 24px;
}
.htmleditor .toolbar .toolbarSeparatorLine { /*编辑器工具栏分隔线*/
	display: inline-block;
	width: 5px;
	height: 22px;
	background-image: url(../../jeaf/htmleditor/images/toolbar.start.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.htmleditor .toolbar input, .htmleditor .toolbar .field { /*编辑器工具栏分隔线*/
	padding: 2px;
	border: 1px solid #bbbbbb;
	font-size: 12px;
	line-height: 1.3em;
}
.htmleditor .toolbarButtonSeparatorBar { /*编辑器工具栏按钮分隔栏*/
	display: inline-block;
	width: 1px;
	height: 18px;
	margin-left: 3px;
	margin-right: 3px;
}
.htmleditor .toolbarButtonSeparatorBar .toolbarButtonSeparatorLine { /*编辑器工具栏按钮分隔线*/
	display: inline-block;
	width: 1px;
	height: 22px;
	background-image: url(../../htmleditor/images/toolbar.group.start.gif);
	background-position: center 1px;
	background-repeat: no-repeat;
}
.htmleditor .toolbarButton { /*编辑器工具栏按钮*/
	display: inline-block;
	height: 16px;
	padding: 1px 2px 1px 2px;
	margin-right: 1px;
	border: #f0f0ee 1px solid;
	cursor: pointer;
}
.htmleditor .toolbarButtonActive { /*编辑器工具栏按钮:选中*/
	border: #cccccc 1px solid;
	background-color: #f6f6f0;
}
.htmleditor .toolbarButtonDisabled { /*编辑器工具栏按钮:禁用*/
	opacity: 0.30; /* Safari, Opera and Mozilla */
    filter: gray() alpha(opacity=30); /* IE */
}
.htmleditor .toolbarButtonOver { /*编辑器工具栏按钮:鼠标经过时*/
	border: #cccccc 1px solid;
	background-color: #f5f5f0;
}
.htmleditor .toolbarButton .toolbarButtonIcon { /*编辑器工具栏按钮:图标*/
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
}
.htmleditor .toolbarButton .toolbarButtonTitle { /*编辑器工具栏按钮:标题*/
	display: inline-block;
	white-space: nowrap !important;
	padding: 0px 1px 0px 2px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	float: left;
}
.htmleditor .toolbarButton .toolbarButtonDropButton { /*编辑器工具栏按钮:下拉按钮*/
	display: inline-block;
	width: 8px;
	padding: 0px 0px 0px 2px;
	float: left;
}
.htmleditor .sourceCodeTextArea { /*源代码文本框*/
	border-style: none;
	width: 100% !important;
	height: 100% !important;
	outline-style: none;
}
.htmleditor .editorarea body, .htmleditor .editorarea td, .htmleditor .editorarea th { /*编辑区域内容样式*/
	font-family: 宋体;
	font-size: 14px;
	line-height: 1.6em;
}
.htmleditor .editorarea body { /*编辑区域BODY样式*/
	padding: 5px 5px 5px 5px;
	margin: 0px;
	border-style: none;
	background-color: #ffffff;
}
.htmleditor .editorarea a { /*编辑区域链接样式*/
	color: #0000FF !important;	/* For Firefox... mark as important, otherwise it becomes black */
}
.htmleditor .editorarea p, .htmleditor .editorarea ul, .htmleditor .editorarea li {  /*编辑区域P、UL、LI样式*/
	margin-top: 3px;
	margin-bottom: 0px;
}