.slideShow {
	
}
.slideShow p {
	margin: 0px;
}

.slideShow .imageLoading { /*数字*/
	background-image: url(../image/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

/*数字栏*/
.slideShow .numberBar {
	height: 16px;
	overflow: hidden;
	padding-left: 120px;
	display: inline-block;
	background-image: url(../image/slide_number_bar.png);
	background-position: left top;
	background-repeat: no-repeat;
	_background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/slide_number_bar.png', sizingMethod='crop');
}
.slideShow .number { /*数字*/
	 width: 24px;
	 height: 16px;
	 text-align: center;
	 overflow: hidden;
	 padding-top: 6px;
	 font-size: 8px;
	 display: inline-block;
	 position: relative;
	 background-image: url(../image/slide_number.gif);
	 background-repeat: no-repeat;
}
.slideShow .numberOver { /*数字:鼠标经过*/
	background-image: url(../image/slide_number_over.gif);
}
.slideShow .numberCurrent { /*当前数字*/
	background-image: url(../image/slide_number_current.gif);
}

/*圆点*/
.slideShow .roundDot {
	background-position: center;
	width: 10px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../image/slide_round_dot_gray.gif);
	background-repeat: no-repeat;
}
.slideShow .roundDotCurrent { /*当前圆点*/
	background-image: url(../image/slide_round_dot_blue.gif);
}
.slideShow .squareDot { /*方点*/
	background-position: center;
	width: 10px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../image/slide_square_dot_gray.gif);
	background-repeat: no-repeat;
}
.slideShow .squareDotCurrent { /*当前方点*/
	background-image: url(../image/slide_square_dot_blue.gif);
}

/*小图*/
.slideShow .smallImage {
	padding: 1px;
	border: 1px solid #cacaca;
	display: inline-block;
	cursor: pointer;
	background-color: #ffffff;	
	filter: Alpha(Opacity=66);
	-moz-opacity: 0.66;
	opacity: 0.66;
}
.slideShow .smallImage img {
	vertical-align: middle;
}
.slideShow .smallImageCurrent {
	filter: Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	text-align: center;
}

/*顶部箭头*/
.slideShow .smallImageTopArrowBox {
	display: inline-block;
	position: relative;
}
.slideShow .smallImageTopArrowOuter {
	left: -6px;
	top: -7px;
	color: #cacaca;
	line-height: 12px;
	font-family: SimSun;
	font-size: 12px;
	display: inline-block;
	position: absolute;
}
.slideShow .smallImageTopArrowInner {
	left: -6px;
	top: -6px;
	color: #ffffff;
	line-height: 12px;
	font-family: SimSun;
	font-size: 12px;
	display: inline-block;
	position: absolute;
}
/*左侧箭头*/
.slideShow .smallImageLeftArrowBox {
	display: inline-block;
	position: relative;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}
.slideShow .smallImageLeftArrowOuter {
	left: -7px;
	color: #cacaca;
	line-height: 12px;
	font-family: SimSun;
	font-size: 12px;
	display: inline-block;
	position: absolute;
}
.slideShow .smallImageLeftArrowInner {
	left: -6px;
	color: #ffffff;
	line-height: 12px;
	font-family: SimSun;
	font-size: 12px;
	display: inline-block;
	position: absolute;
}

/*上一图片按钮*/
.slideShow .previousImageButton {
	display: inline-block;
	width: 23px;
	height: 41px;
	margin-left: 6px;
	cursor: pointer;
	background-image: url(../image/slide_image_prev.png);
	_background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/slide_image_prev.png', sizingMethod='crop');
}
/*下一图片按钮*/
.slideShow .nextImageButton {
	display: inline-block;
	width: 23px;
	height: 41px;
	margin-right: 6px;
	cursor: pointer;
	background-image: url(../image/slide_image_next.png);
	_background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/slide_image_next.png', sizingMethod='crop');
}
/*小图*/
.slideShow .imageSetSmallImage {
	padding: 1px;
	border: 2px solid #bababa;
	display: inline-block;
	cursor: pointer;
	background-color: #ffffff;
	filter: Alpha(Opacity=66);
	-moz-opacity: 0.66;
	opacity: 0.66;
}
.slideShow .imageSetSmallImageCurrent {
	filter: Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	border: 2px solid #c41740;
}
/*控制栏左侧滚动按钮*/
.slideShow .controlBarLeftScroller {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 100%;
	background-image: url(../image/slide_controlbar_left.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.slideShow .controlBarLeftScrollerOver {
	background-image: url(../image/slide_controlbar_left_over.png);
}
/*控制栏右侧滚动按钮*/
.slideShow .controlBarRightScroller {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 100%;
	background-image: url(../image/slide_controlbar_right.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.slideShow .controlBarRightScrollerOver {
	background-image: url(../image/slide_controlbar_right_over.png);
}

/*标题栏*/
.slideShow .titleBar {
	display: block;
	background-color: #666666;
	font-size: 12px;
	margin-top: -22px;
	height: 22px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}
/*标题*/
.slideShow .title {
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	margin-top: -22px;
	height: 22px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
}