/*全局样式*/
* {
	outline-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 14px;
}
html,body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
body {
	background-color: #fff;
}
input[type="button"] {
	-webkit-appearance: none;
}
input[type="radio"],input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../images/radio_and_checkbox.png);
	vertical-align: middle;
	border-style: none;
	background-color: transparent;
	height: 48px;
	width: 48px;
	zoom: 0.5;
}
input[type="radio"] {
	background-position: 0px 0px;
}
input[type="radio"]:checked {
	background-position: 0px -48px;
}
input[type="checkbox"] {
	background-position: 0px -96px;
}
input[type="checkbox"]:checked {
	background-position: 0px -144px;
}
input[type="text"] {
	border: #a0a0a0 1px solid;
	line-height: 18px;
	width: 100%;
	color: #000000;
	padding: 2px 2px 2px 2px !important;
	background-color: #FFFFE0;
	height: 22px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*直线型创建进度条*/
.linearProgressBar { /*直线型创建进度条*/
	background-color: #808080;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}
.linearProgressBarProgress { /*直线型创建进度条:进度显示*/
	background-color: #fff;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}
.clientDialog .linearProgressBar { /*直线型创建进度条*/
	background-color: #f0f0f0;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}
.clientDialog .linearProgressBarProgress { /*直线型创建进度条:进度显示*/
	background-color: rgb(3, 155, 230);
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

/*圆形进度条*/
.circleProgressBar {
	border: 3px solid #888;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.circleProgressBarProgress {
	border-color: rgb(3, 155, 230);
}

/*标题栏*/
.titleBar {
	background-color: rgb(3, 155, 230);
	position: relative;
	width: 100%;
	box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.3);
	height: 36px;
	line-height: 36px;
}
.titleBar .button {
	height: 26px;
	line-height: 30px;
	float: right;
	padding: 0px 12px 0px 12px;
	border: 1px solid rgb(3, 135, 200);
	background-color: rgb(3, 150, 220);
	margin-top: 4px;
	margin-right: 5px;
	color: #ffffff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.titleBar .buttonFocus {
	background-color: #e0e0e0;
}
.titleBar .buttonFocus {
	background-color: rgb(3, 155, 230);
}
.titleBar .field {
	margin-top: 2px !important;
	border: rgb(3, 135, 200) 1px solid;
	background-color: #ffffff !important;
	line-height: 1.3em;
}
.titleBar .focus, .titleBar .focus * {
	color: rgb(255, 255, 128);
}

/*返回按钮*/
.returnButton {
	width: 48px;
	height: 48px;
	margin-left: 4px;
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-position: center center;
	zoom: 0.5;
	background-color: transparent;
	border-style: none;
	font-size: 28px;
}
.returnButtonFocus {
	background-color: rgb(3, 135, 200);
}

/*频道*/
.showChannelBarButton {
	width: 32px;
	text-align: center;
	line-height: 32px;
}
.showChannelBarButtonImage {
	display: inline-block;
	width: 64px;
	height: 48px;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	zoom: 0.25;
}
.channelName {
	padding-right: 6px;
}
.channelBar {
	background-color: #f6f6f6;
	width: 200px;
	padding: 5px 5px 5px 5px;
}
.channel {
	font-size: 16px;
	width: 100%;
	color: #000;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.channel_current {
	background-color: #f0f0f0;
	color: rgb(3, 155, 230);
}
.channelName * {
	font-size: 18px;
}

/*栏目*/
.showColumnBarButton {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../images/column_dropdown.png);
	background-repeat: no-repeat;
	background-position: 0px 20px;
}
.columnContainer {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}
.columnName, .channelName {
	float: left;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	font-family: 黑体;
	color: #ffffff;
	font-size: 18px;
	/*font-weight: bold;*/
}
.columnName * {
	font-size: 18px;
}
.columnLoadingText {
	margin-top: 6px;
}
.columnBar {
	width: 100%;
	height: 32px;
	clear: both;
}
.column {
	font-size: 14px;
	padding: 0px 6px 0px 6px;
	height: 29px;
	line-height: 29px;
	/*font-weight: bold;*/
	color: #f6f6f6;
	padding-bottom: 2px;
}
.currentColumn {
	padding-bottom: 0px;
	border-bottom: 2px solid #fff;
	color: #fff;
}
.moreColumnsOnLeft,.moreColumnsOnRight {
	/*border-bottom: 1px solid rgb(59, 89, 152);*/
	background-repeat: no-repeat;
	background-position: center 48px;
	height: 116px;
	width: 60px;
	zoom: 0.25;
}
.moreColumnsOnLeft {
	background-image: url(../images/btn_prev.png);
}
.moreColumnsOnRight {
	background-image: url(../images/btn_next.png);
}

/*首选项*/
.preferenceBar {
	background-image: url(../images/preference_bar_bg.png);
	background-repeat: repeat-y;
	background-position: left left;
}

.pageLoadingImage {
	display: inline-block;
	width: 58px;
	height: 58px;
	background-image: url(../images/column_loading.png);
	zoom: 0.5;
	background-repeat: no-repeat;
}

/*简短消息提示*/
.clientToast {
	display: inline-block;
	background-color: rgba(30, 30, 30, 0.9);
	color: #ffffff;
	padding: 8px 8px 8px 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

/*对话框*/
.clientDialog {
	position: absolute;
	width: 308px;
	top: 200px;
	left: 200px;
	border: 1px solid #f8f8f8;
	background-color: #ffffff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #000000;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.clientDialog .clientDialogTitle {
	height: 30px;
	line-height: 30px;
	padding-left: 6px;
	border-bottom: 1px solid #33afdd;
}
.clientDialog .clientDialogBody {
	line-height: 18px;
}
.clientDialog .clientDialogOkButton,.clientDialog .clientDialogCancelButton,.clientDialog .clientDialogOtherButton {
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-top: 1px solid #f0f0f0;
}
.clientDialog .clientDialogOkButtonFocus,.clientDialog .clientDialogCancelButtonFocus,.clientDialog .clientDialogOtherButtonFocus {
	background-color: #f0f0f0;
}
.clientDialog .clientDialogCancelButton,.clientDialog .clientDialogOtherButton {
	border-right: 1px solid #f0f0f0;
}

/*以下是系统预置样式*/
/*数字选择器*/
.clientDialog .numberPicker { /*数字选择器*/
	width: 50px;
	height: 105px;
	margin-top: 16px;
	margin-bottom: 16px;
	background-image: url(../images/number_picker.png);
	background-repeat: repeat-x;
	border: 1px solid #f0f0f0;
}
.clientDialog .numberPickerSeparator { /*数字分隔符*/
	font-size: 24px;
	padding-left: 6px;
	padding-right: 6px;
}
.clientDialog .numberPicker .pickerItem { /*数字选择器条目*/
	display: block;
	text-align: center;
	font-size: 24px;
	width: 50px;
	height: 35px;
	line-height: 35px;
	color: #ccc;
}
.clientDialog .numberPicker .selectedPickerItem{ /*选中的数字选择器条目*/
	font-size: 24px;
	color: #000;
}

/*日期选择器*/
.clientDialog .yearPicker,.clientDialog .monthPicker { /*年月选择器*/
	width: 108px;
	height: 30px;
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid #f0f0f0;
}
.clientDialog .yearPicker { /*日期选择器:年选择器*/
	width: 168px;
	margin-left: 6px;
	margin-right: 6px;
}
.clientDialog .datePicker .pickerItem { /*日期选择器:选择器条目*/
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	width: 36px;
	color: #cccccc;
}
.clientDialog .datePicker .yearPicker .pickerItem { /*日期选择器:年选择器条目*/
	width: 56px;
}
.clientDialog .datePicker .selectedPickerItem { /*选中的选择器条目*/
	font-size: 14px;
	color: #000000;
}
.clientDialog .dayTable { /*日期选择器:“天”表格*/
	border: 1px solid #f0f0f0;
	border-collapse: collapse;
}
.clientDialog .week { /*日期选择器:星期*/
	height: 30px;
	font-size: 14px;
	background-color: #f8f8f8;
}
.clientDialog .day { /*日期选择器:天*/
	height: 30px;
}
.clientDialog .selectedDay { /*日期选择器:选中的天*/
	background-color: #33afdd;
}
.clientDialog .today { /*日期选择器:今天*/
	color: red !important;
}
.clientDialog .weekend { /*日期选择器:周末*/
	color: orange;
}

/*下拉列表*/
.clientDialog .listItem {
	border-bottom: 1px solid #f0f0f0;
	height: 30px;
	padding: 3px 5px 3px 5px;
}

/*滚动图片*/
.slideShow .dotBar {
	text-align: right !important;
	margin-top: -20px !important;
}
.slideShow .squareDot {
	background-image: url(../images/slide_square_dot_gray.png) !important;
	width: 9px !important;
	background-position: center left !important;
}
.slideShow .squareDotCurrent {
	background-image: url(../images/slide_square_dot_red.png) !important;
}
.slideShow .title {
	text-align: left !important;
}
.slideShow .title a {
	font-size: 12px;
}

.recordTable {
	margin-top: 3px;
	border-bottom: #f2f2f2 1px solid;
	line-height: 18px;
	width: 100%;
	height: 45px
}

.recordTableFocus * {
	color: #3366cc;
}

.recordImage {
	background-image: url(../images/record.png);
	width: 52px;
	background-repeat: no-repeat;
	background-position: 6px 0px;
	height: 39px
}

.recordTitle {
	padding-left: 3px;
}

.highlight {
	color: #000000;
	background-color: #ffff00;
}

/*滚动条*/
.scrollBar {
	background-color: #cccccc;
	filter: Alpha(Opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.scrollerTrack {
	background-color: #aaaaaa; /* #035fbb*/
}
.verticalScrollBar {
	width: 1px;
	margin-left: -5px;
}
.verticalScrollerTrack {
	width: 3px;
	margin-left: -1px;
}
.horizontalScrollBar {
	height: 1px;
	margin-top: -5px;
}
.horizontalScrollerTrack {
	height: 3px;
	margin-top: -1px;
}

/*刷新提示、加载更多栏*/
.refreshBar, .loadMoreBar {
	text-align: center;
	height: 50px;
}
.refreshBar  {
	vertical-align: bottom;
	display: table-cell;
}
.refreshBar span {
	display: inline-block;
	margin-bottom: 8px;
}
.loadMoreBar span {
	display: inline-block;
	margin-top: 8px;
}
.refreshBar .promptText, .loadMoreBar .promptText {
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	margin-left: 8px;
}
.refreshBar .scrollingImage, .loadMoreBar .scrollingImage {
	width: 28px;
	height: 45px;
	background-image: url(../images/arrow_down.png);
	zoom: 0.5;
	line-height: 50px;
	background-repeat: no-repeat;
}
.refreshBar .loadingImage, .loadMoreBar .loadingImage {
	width: 32px;
	height: 34px;
	background-image: url(../images/loading.png);
	zoom: 0.5;
	line-height: 50px;
	background-repeat: no-repeat;
}

/*表单*/
.form .editabledTable {
	border-collapse: collapse;
	color: #000000;
}
.form .editabledTable td {
	padding: 2px 0px 2px 0px;
}
.form .field {
	border: #a0a0a0 1px solid;
	line-height: 1.3em;
	width: 100%;
	color: #000000;
	padding: 4px 3px 4px 3px;
	background-color: #FFFFE0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.form textarea {
	border: #a0a0a0 1px solid;
	width: 100%;
	color: #000000;
	padding: 3px 3px 3px 3px !important;
	background-color: #FFFFE0;
	overflow: auto;
	height: auto !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 1.3em;
}
.placeholder {
	color: #333;
}
.form .required {
	background-color: #ffffcc !important;
}
.form .selectButton {
	background-repeat: no-repeat;
	cursor: pointer;
	width: 112px !important;
	background-position: center center;
	background-image: url(../images/dropdown.png)
	zoom: 0.25;
}
.form .dropDownButton {
	background-repeat: no-repeat;
	cursor: pointer;
	width: 112px !important;
	background-position: center center;
	background-image: url(../images/dropdown.png);
	zoom: 0.25;
}

/*视频控制栏*/
.videoController .controllBar { /*控制栏*/
	height: 36px;
	background-color: rgba(0, 0, 0, 0.8);
}
.videoController .progressBar { /*播放进度条*/
	background-color: #6e6e6e;
	height: 2px;
	margin-top: 0px;
}
.videoController .playProgress { /*播放进度*/
	background-color: #0b8cf6;
	height: 100%;
}
.videoController .bufferProgress { /*缓存进度*/
	background-color: #153755;
	height: 100%;
}
.videoController .thumb { /*进度条控制块*/
	background-image: url(../images/video_player_seekbar_thumb.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 22px;
	margin-top: -28px;
	zoom: 0.8;
}
.videoController .thumbOver { /*进度条控制块:鼠标经过*/
	background-image: url(../images/video_player_seekbar_thumb.png);
}
.videoController .progressBarAlone { /*独立播放进度条*/
	height: 2px;
	margin-top: 0px;
}
.videoController .rewindButton { /*快退按钮*/
	display: none;
}
.videoController .rewindButtonOver { /*快退按钮:鼠标经过*/
	display: none;
}
.videoController .forwardButton { /*快进按钮*/
	display: none;
}
.videoController .forwardButtonOver { /*快进按钮:鼠标经过*/
	display: none;
}
.videoController .playButton { /*播放按钮*/
	float: left;
	background-image: url(../images/video_player_play.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	zoom: 0.6;
	background-color: transparent;
	border-right: #a3d4fc 0px solid;
	width: 80px;
	height: 100%;
	margin-top: 0px;
}
.videoController .playButtonOver { /*播放按钮:鼠标经过*/
	background-color: #0b8cf6;
}
.videoController .playButtonPaused { /*播放按钮:暂停*/
	background-image: url(../images/video_player_pause.png);
}
.videoController .playButtonPausedOver { /*播放按钮:暂停,鼠标经过*/
	background-color: #0b8cf6;
}
.videoController .currentTime, .videoController .timeSeparator, .videoController .duration { /*当前时间,时间分隔符,视频时间*/
	font-size: 14px;
	float: left;
	color: #f0f0f0;
	line-height: 32px;
}
.videoController .currentTime { /*当前时间*/
	padding-left:6px;
}
.videoController .timeSeparator { /*时间分隔符*/
	padding-left: 3px;
	padding-right: 3px;
}
.videoController .soundButton { /*声音按钮*/
	display: none;
}
.videoController .soundButtonOver { /*声音按钮:鼠标经过*/
	display: none;
}
.videoController .soundButtonMute { /*声音按钮:静音*/
	display: none;
}
.videoController .soundButtonMuteOver { /*声音按钮:静音,鼠标经过*/
	display: none;
}
.videoController .volumeBar { /*音量控制条*/
	display: none;
}
.videoController .volume { /*音量*/
	display: none;
}
.videoController .volumeThumb { /*音量控制块*/
	display: none;
}
.videoController .volumeThumbOver { /*音量控制块:鼠标经过*/
	display: none;
}
.videoController .fullScreenButton { /*全屏按钮*/
	float: right;
	background-image: url(../images/video_player_fullscreen_stretch_out.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 18px;
	height: 28px;
	margin-right: 16px;
}
.videoController .fullScreenButtonOver { /*全屏按钮:鼠标经过*/
	background-image: url(../images/video_player_fullscreen_stretch_on.png);
}
.videoController .fullScreenButtonShrink { /*全屏按钮:还原*/
	background-image: url(../images/video_player_fullscreen_shrink_out.png);
}
.videoController .fullScreenButtonShrinkOver { /*全屏按钮:还原,鼠标经过*/
	background-image: url(../images/video_player_fullscreen_shrink_on.png);
}
.videoController .prompt {
	display: inline-block;
	padding: 10px 10px 8px 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-align: center;
}
.videoController .promptIcon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 150px;
	height: 90px;
	zoom: 0.5;
}
.videoController .promptText {
	display: block;
	position: relative;
	top: 0px;
	font-size: 16px;
	color: #fff;
	padding: 5px;
}
.videoController .loadingIcon {
	background-image: url(../images/video_player_loading.png);
}
.videoController .warningIcon {
	background-image: url(../images/video_player_warn.png);
}
.videoController .forwardIcon {
	background-image: url(../images/video_player_forward.png);
}
.videoController .rewindIcon {
	background-image: url(../images/video_player_rewind.png);
}
.videoController .volumeIcon {
	background-image: url(../images/video_player_volume.png);
}
.videoController .brightnessIcon {
	background-image: url(../images/video_player_brightness.png);
}

/*只读表单*/
.readonlyTable {
	border: #bbbbbb 1px solid;
	width: 100%;
	border-collapse: collapse;
}
.readonlyTable td.label {
	border: #bbbbbb 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f0f0f0;
	height: auto;
	text-align: right;
}
.readonlyTable td.content {
	border: #bbbbbb 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #ffffff;
	height: auto;
}
.readonlyTable a {
	text-decoration: none;
}

/*按钮*/
.button {
	display: inline-block;
	border: #bbbbbb 1px solid;
	background-color: #f0f0f0;
	padding: 0px 5px 0px 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: 30px;
	line-height: 30px;
}
.buttonFocus {
	background-color: #e0e0e0;
}

/*焦点*/
.focus, .focus * {
	color: #3366cc;
}

/*页面切换动画效果*/
.pageMoveToLeft {
	-webkit-animation: moveToLeft .6s;
	-moz-animation: moveToLeft .6s;
	animation: moveToLeft .6s;
}
.pageMoveFromLeft {
	-webkit-animation: moveFromLeft .6s;
	-moz-animation: moveFromLeft .6s;
	animation: moveFromLeft .6s;
}
.pageMoveToRight {
	-webkit-animation: moveToRight .6s;
	-moz-animation: moveToRight .6s;
	animation: moveToRight .6s;
}
.pageMoveFromRight {
	-webkit-animation: moveFromRight .6s;
	-moz-animation: moveFromRight .6s;
	animation: moveFromRight .6s;
}

/*旋转*/
.rotate {
	-webkit-animation: rotate 1.5s infinite linear;
	-moz-animation: rotate 1.5s infinite linear;
	animation: rotate 1.5s infinite linear;
}

/* move from / to  */
@-webkit-keyframes moveToLeft {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	from { -moz-transform: translateX(0); }
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0); }
}
@-moz-keyframes moveFromLeft {
	from { -moz-transform: translateX(-100%); }
	to { -moz-transform: translateX(0); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@-webkit-keyframes moveToRight { 
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight { 
	from { -moz-transform: translateX(0); }
	to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0); }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(0); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {-moz-transform:rotate(360deg);}
}
@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}