<html dir="ltr">
    <head>
        <title>咨询投诉阅办单</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">window.onerror=function(){return true;}</script>
        <style type="text/css">
			body,td{font-family:宋体;font-size:12px}
			pre {
				white-space: pre-wrap; /* css-3 */
				white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
				white-space: -pre-wrap; /* Opera 4-6 */
				white-space: -o-pre-wrap; /* Opera 7 */
				word-wrap: break-word; /* Internet Explorer 5.5+ */
				white-space : normal; /* Internet Explorer 5.5+ */
			}
		</style>
    </head>
    <body onload="window.print();">
        <center>
        <div style="font-family: 黑体; font-size: 22px">咨询投诉阅办单<br />
        &nbsp;</div>
        </center>
        <table border="1" cellspacing="0" bordercolor="#000000" cellpadding="5" width="100%" style="border-bottom: medium none; border-left: medium none; border-collapse: collapse; border-top: medium none; border-right: medium none">
            <colgroup><col valign="middle" align="left" width="100" /><col valign="middle" width="50%" /><col valign="middle" align="left" width="100" /><col valign="middle" width="50%" /></colgroup>
            <tbody>
                <tr>
                    <td valign="top">注意事项</td>
                    <td colspan="3">各乡镇（街道）部门接到诉求件后需在<a id="field" urn="">&lt;办理时限&gt;</a>个工作日内对诉求事件做出答复，并反馈县长信箱。（特殊事件及时办理；各乡镇（街道）部门在五个工作日内对诉求件不能做出答复的，需主动向县政府办公室、县信访局提出并说明理由，经县长允许后适当延长办理时限）</td>
                </tr>
                <tr>
                    <td valign="top">主题</td>
                    <td colspan="3"><a id="field" urn="name=subject">&lt;主题&gt;</a></td>
                </tr>
                <tr>
                    <td>编号</td>
                    <td><a id="field" urn="name=sn">&lt;编号&gt;</a></td>
                    <td>投诉时间</td>
                    <td><a id="field" urn="name=created&amp;fieldFormat=yyyy-MM-dd">&lt;投诉时间&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top">内容</td>
                    <td colspan="3">
                    <pre><a id="field" urn="name=content">&lt;正文&gt;</a></pre>
                    </td>
                </tr>
                <tr>
                    <td>截止日期</td>
                    <td><a id="field" urn="name=workingDate&amp;fieldFormat=yyyy-MM-dd">&lt;办理截止时间&gt;</a></td>
                    <td nowrap="nowrap">是否允许公开</td>
                    <td><a id="field" urn="name=publicPass">&lt;是否同意公开&gt;</a></td>
                </tr>
                <tr>
                    <td>事件辖区</td>
                    <td><a id="field" urn="name=popedom">&lt;事件辖区&gt;</a></td>
                    <td>事件地点</td>
                    <td><a id="field" urn="name=area">&lt;事件地点&gt;</a></td>
                </tr>
                <tr>
                    <td>事件时间</td>
                    <td><a id="field" urn="name=happenTime&amp;fieldFormat=yyyy-MM-dd HH:mm">&lt;事件时间&gt;</a></td>
                    <td>诉求类型</td>
                    <td><a id="field" urn="name=type">&lt;事件类型&gt;</a></td>
                </tr>
                <tr>
                    <td>投诉人姓名</td>
                    <td><a id="field" urn="name=creator">&lt;投诉人姓名&gt;</a></td>
                    <td>邮箱</td>
                    <td><a id="field" urn="name=creatorMail">&lt;邮箱&gt;</a></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><a id="field" urn="name=creatorTel">&lt;联系电话&gt;</a></td>
                    <td>传真</td>
                    <td><a id="field" urn="name=creatorFax">&lt;投诉人传真&gt;</a></td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td colspan="3"><a id="field" urn="name=creatorMobile">&lt;投诉人手机&gt;</a></td>
                </tr>
                <tr>
                    <td>所在单位</td>
                    <td><a id="field" urn="name=creatorUnit">&lt;投诉人所在单位&gt;</a></td>
                    <td>职业</td>
                    <td><a id="field" urn="name=creatorJob">&lt;投诉人职业&gt;</a></td>
                </tr>
                <tr>
                    <td>附件</td>
                    <td colspan="3"><a id="field" urn="">&lt;附件&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">办公室意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=办公室">&lt;办公室意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">领导批示意见 </td>
                    <td height="100" valign="top" colspan="3"><a id="field" urn="name=领导批示">&lt;领导批示意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">效能催办意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=效能催办">&lt;效能催办意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">批转意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=批转">&lt;批转意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">部门办理意见 </td>
                    <td height="100" valign="top" colspan="3">
                    <pre style="word-wrap: break-word"><a id="field" urn="name=部门办理">&lt;部门办理意见&gt;</a></pre>
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">部门审核意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=部门审核">&lt;部门审核意见&gt;</a></td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">回复审核意见 </td>
                    <td height="70" valign="top" colspan="3"><a id="field" urn="name=回复审核">&lt;回复审核意见&gt;</a></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </body>
</html>