<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 注册服务 -->
	<bean id="teachService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.educ.teach.service.spring.TeachServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="businessDefineService"><ref bean="businessDefineService"/></property>
				<property name="businessService"><ref bean="businessService"/></property>
				<property name="cryptService"><ref bean="cryptService"/></property>
				<property name="orgService"><ref bean="orgService"/></property>
				<property name="personService"><ref bean="personService"/></property>
				<property name="sessionService"><ref bean="sessionService"/></property>
				<property name="pageService"><ref bean="pageService"/></property>
				<property name="mainOrgId"><value>370373009472090000</value></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- Excel导入服务 -->
	<bean id="teachImportServiceImpl" class="com.yuanluesoft.educ.teach.service.spring.TeachImportServiceImpl">
		<property name="databaseService"><ref bean="databaseService" /></property>
		<property name="businessDefineService"><ref bean="businessDefineService" /></property>
		<property name="attachmentService"><ref bean="attachmentService" /></property>
		<property name="teachService"><ref bean="teachService" /></property>
	</bean>
	
</beans>