<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="lockService" class="com.yuanluesoft.jeaf.lock.service.spring.LockServiceImpl">
		<property name="cache"><ref bean="recordLockCache"/></property>
		<property name="maxLockMinutes"><value>10</value></property>
	</bean>
</beans>