<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 访问控制服务 -->
	<bean id="accessControlService" class="com.yuanluesoft.jeaf.security.service.spring.AccessControlServiceImpl">
		<property name="eaiClient"><ref bean="eaiClient"/></property>
	</bean>
	
	<!-- 记录控制服务 -->
	<bean id="recordControlService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.security.service.spring.RecordControlServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
				<property name="orgService"><ref bean="orgService"/></property>
				<property name="personService"><ref bean="personService"/></property>
				<property name="roleService"><ref bean="roleService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly,-Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="synch*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="append*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="remove*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="copy*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- 加密/解密服务 -->
	<bean id="cryptService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">	
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="target">
			<bean class="com.yuanluesoft.jeaf.security.service.spring.CryptServiceImpl">
				<property name="databaseService"><ref bean="databaseService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
</beans>