<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 土地证服务 -->
	<bean id="landCertificateService" class="com.yuanluesoft.land.landcertificate.service.spring.LandCertificateServiceImpl">
		<property name="databaseService"><ref bean="databaseService"/></property>
	</bean>
</beans>